@font-face {
	font-family: 'Vodafone';
	src: url('/sfsites/c/resource/pp_vf_fonts/font/vodafonelt-webfont.woff') format('woff'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafonelt-webfont.ttf') format('truetype'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafonelt-webfont.svg#vodafone_ltregular') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Vodafone';
	src: url('/sfsites/c/resource/pp_vf_fonts/font/vodafonerg-webfont.woff') format('woff'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafonerg-webfont.ttf') format('truetype'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafonerg-webfont.svg#vodafone_ltregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Vodafone';
	src: url('/sfsites/c/resource/pp_vf_fonts/font/vodafonergbd-webfont.woff') format('woff'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafonergbd-webfont.ttf') format('truetype'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafonergbd-webfont.svg#vodafone_ltregular') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Vodafone';
	src: url('/sfsites/c/resource/pp_vf_fonts/font/vodafoneexbd-webfont.woff') format('woff'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafoneexbd-webfont.ttf') format('truetype'),
		url('/sfsites/c/resource/pp_vf_fonts/font/vodafoneexbd-webfont.svg#vodafone_ltregular') format('svg');
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: 'Vodafone', sans-serif;
}

.cHeader,
.cHeader .forceCommunityGlobalNavigation,
.cHeader .forceCommunityGlobalNavigation .slds-list__item,
.cHeader .forceCommunityGlobalNavigation .slds-list__item a,
.cHeader .forceCommunityGlobalNavigation .slds-list__item button {
	font-family: 'Vodafone', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 100;
	line-height: 19px;
	letter-spacing: normal;
	font-style: normal;
	font-stretch: 100%;
	font-size: 20px;
}

.cHeader .forceCommunityGlobalNavigation {
	/*height: 50px;*/
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a,
.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button {
	background-color: white;
	border-bottom: 3px transparent solid;
}

.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type='home']),
.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type='home']) {
	background-color: white;
	border-color: #e60000;
}

.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .slds-list_vertical > .slds-list__item a,
.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .slds-list_vertical > .slds-list__item button {
	background-color: white;
	font-size: 14px;
}

.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .slds-list_vertical > .slds-list__item a:hover,
.cHeader
	.forceCommunityGlobalNavigation
	.slds-list_horizontal
	> .slds-list__item
	> .slds-list_vertical
	> .slds-list__item
	button:not([disabled]):hover {
	text-decoration: underline;
}

.cHeader .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item:first-child > a:hover,
.cHeader .forceCommunityGlobalNavigation .slds-list__item:first-child a[data-type='home'] {
	border-color: transparent;
}

.slds-table thead th {
	background-color: #fafaf9;
}

.slds-button_brand,
.slds-button--brand {
	color: #fff;
	background-color: #e60000;
	border-color: #e60000;
}
.slds-button_brand:hover,
.slds-button_brand:focus,
.slds-button--brand:hover,
.slds-button--brand:focus {
	color: #fff;
	background-color: #990000;
	border-color: #990000;
}

body .slds-button.slds-button--neutral,
.slds-button_neutral,
.slds-button--neutral,
body .slds-button.slds-button--neutral:hover,
body .slds-button.slds-button--neutral:focus,
body .slds-button.slds-button--icon-border-filled:hover,
body .slds-button.slds-button--icon-border-filled:focus,
body .slds-button.slds-button_icon-border:hover,
body .slds-button.slds-button_icon-border:focus,
body .slds-button.slds-button--icon-more:hover,
body .slds-button.slds-button--icon-more:focus,
body .slds-button.slds-button_icon:hover,
body .slds-button.slds-button_icon:focus,
body .slds-button.slds-button--icon-border:hover,
body .slds-button.slds-button--icon-border:focus,
body .slds-button.slds-button--neutral.uiButton--brand,
body .slds-button.slds-button--neutral.uiButton--brand:hover,
body .slds-button.slds-button--neutral.uiButton--brand:focus,
body .slds-button.slds-button--icon-border.vodafone-icon-button {
	color: #e60000;
	background-color: #fff;
}

body .slds-button.vf-btn {
	min-height: 35px;
	min-width: 140px;
	font-size: 14px;
	/* border-radius: 0; */
}
body .slds-button--brand.vf-btn {
	min-width: 140px;
}
body .slds-button--neutral.vf-btn {
	min-width: 100px;
}
.oneAlohaPage .mask {
	display: none;
}

div[class='slds-page-header slds-page-header_record-home forceHighlightsStencilDesktop forceRecordLayout'] div[role='group'] button:first-of-type {
	display: none;
}
:root {
	--dxp-c-section-columns-max-width: 1170px;
}
