<template>
	<div class="slds-is-relative">
		<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="base"> </lightning-spinner>
		<div class="slds-card_boundary">
			<lightning-card variant="Narrow" title={label.installationInformationCard} icon-name="standard:custom_notification">
				<template if:true={showActionSections}>
					<template if:true={showReadOnlySection}>
						<lightning-button
							class="slds-var-m-left_x-small"
							variant="brand"
							label={label.saveButton}
							slot="actions"
							onclick={save}
						></lightning-button>
					</template>
				</template>
			</lightning-card>
		</div>
		<template if:true={showNoSitesSection}>
			<div class="slds-var-p-top_x-small">
				<div class="slds-box slds-theme_shade">
					<div class="slds-grid">
						<div class="slds-col slds-no-flex">
							<lightning-icon icon-name="utility:info" size="small"></lightning-icon>
						</div>
						<div class="slds-col slds-align-middle">
							<div class="slds-text-body_small">{label.noSitesFoundtext}</div>
						</div>
					</div>
				</div>
			</div>
		</template>
		<template if:true={showActionSections}>
			<div class="slds-grid slds-gutters slds-var-p-top_x-small">
				<template if:true={showReadOnlySection}>
					<div class="slds-col slds-size_1-of-3">
						<div class="slds-card_boundary">
							<lightning-card title={label.SiteActionsCard} icon-name="standard:contact">
								<div class="slds-var-p-around_x-small">
									<div class="slds-box slds-theme_shade">
										<div class="slds-grid">
											<div class="slds-col slds-no-flex">
												<lightning-icon icon-name="utility:info" size="small"></lightning-icon>
											</div>
											<div class="slds-col slds-align-middle">
												<div class="slds-text-body_small">{label.actionsHelpText}</div>
											</div>
										</div>
									</div>
								</div>
								<lightning-record-edit-form onload={onloadData} object-api-name={objectApiName} record-id={siteId}>
									<lightning-layout horizontal-align="spread">
										<lightning-layout-item size="8" padding="around-small">
											<div class="custom-box">
												<lightning-input-field
													variant="label-inline"
													field-name={technicalContactApiName}
													data-element="technicalContact"
													name="technicalContact"
													value={technicalContactInput}
													onchange={handleChange}
												>
												</lightning-input-field>
											</div>
										</lightning-layout-item>
										<lightning-layout-item size="4" padding="around-small">
											<div class="custom-box">
												<lightning-button
													class="slds-var-m-left_x-small"
													label={label.SetForAllSitesButton}
													onclick={setTechnicalContact}
													disabled={isSetTechnicalButtonDisable}
												>
												</lightning-button>
												<lightning-button
													class="slds-var-m-left_x-small"
													label={label.ClearButton}
													name="clearTechnicalContact"
													onclick={clearTechnicalContact}
												>
												</lightning-button>
											</div>
										</lightning-layout-item>
									</lightning-layout>
								</lightning-record-edit-form>
								<template if:true={isAcquisition}>
									<lightning-layout horizontal-align="spread">
										<lightning-layout-item size="8" padding="around-small">
											<div class="custom-box">
												<lightning-input
													type="date"
													variant="label-inline"
													data-element="wishDate"
													name="wishDate"
													label={wishDateFieldLabel}
													onchange={handleChange}
												>
												</lightning-input>
											</div>
										</lightning-layout-item>
										<lightning-layout-item size="4" padding="around-small">
											<div class="custom-box">
												<lightning-button
													class="slds-var-m-left_x-small"
													label={label.SetForAllSitesButton}
													onclick={setWishDate}
													disabled={isSetWishDateButtonDisable}
												>
												</lightning-button>
												<lightning-button class="slds-var-m-left_x-small" label={label.ClearButton} onclick={clearWishDate}>
												</lightning-button>
											</div>
										</lightning-layout-item>
									</lightning-layout>
								</template>
								<template if:true={isMutationOrMove}>
									<lightning-layout horizontal-align="spread">
										<lightning-layout-item size="8" padding="around-small">
											<div class="custom-box">
												<lightning-input
													type="date"
													variant="label-inline"
													data-element="terminationDate"
													name="terminationDate"
													label="Termination Wish Date"
													onchange={handleChange}
												>
												</lightning-input>
											</div>
										</lightning-layout-item>
										<lightning-layout-item size="4" padding="around-small">
											<div class="custom-box">
												<lightning-button
													class="slds-var-m-left_x-small"
													label={label.SetForAllSitesButton}
													onclick={setTerminationWishDate}
													disabled={isSetTerminationDateButtonDisable}
												>
												</lightning-button>
												<lightning-button
													class="slds-var-m-left_x-small"
													label={label.ClearButton}
													onclick={clearterminationDate}
												>
												</lightning-button>
											</div>
										</lightning-layout-item>
									</lightning-layout>
								</template>
								<template if:true={isMutation}>
									<lightning-record-edit-form object-api-name="cscfga__Product_Configuration__c">
										<lightning-layout horizontal-align="spread">
											<lightning-layout-item size="8" padding="around-small">
												<div class="custom-box">
													<lightning-input-field
														variant="label-inline"
														data-element="terminationReason"
														name="terminationReason"
														field-name={terminationReasonApiName}
														onchange={handleChange}
													>
													</lightning-input-field>
												</div>
											</lightning-layout-item>
											<lightning-layout-item size="4" padding="around-small">
												<div class="custom-box">
													<lightning-button
														class="slds-var-m-left_x-small"
														label={label.SetForAllSitesButton}
														onclick={setTerminationReason}
														disabled={isSetTerminationReasonButtonDisable}
													>
													</lightning-button>
													<lightning-button
														class="slds-var-m-left_x-small"
														label={label.ClearButton}
														onclick={clearterminationReason}
													>
													</lightning-button>
												</div>
											</lightning-layout-item>
										</lightning-layout>
										<lightning-layout horizontal-align="spread">
											<lightning-layout-item size="8" padding="around-small">
												<div class="custom-box">
													<lightning-input-field
														variant="label-inline"
														data-element="terminationSubReason"
														name="terminationSubReason"
														field-name={terminationSubReasonApiName}
														onchange={handleChange}
													>
													</lightning-input-field>
												</div>
											</lightning-layout-item>
											<lightning-layout-item size="4" padding="around-small">
												<div class="custom-box">
													<lightning-button
														class="slds-var-m-left_x-small"
														label={label.SetForAllSitesButton}
														onclick={setTerminationSubReason}
														disabled={isSetTerminationDiscountTypeButtonDisable}
													>
													</lightning-button>
													<lightning-button
														class="slds-var-m-left_x-small"
														label={label.ClearButton}
														onclick={clearTerminationSubreason}
													>
													</lightning-button>
												</div>
											</lightning-layout-item>
										</lightning-layout>
										<lightning-layout horizontal-align="spread">
											<lightning-layout-item size="8" padding="around-small">
												<div class="custom-box">
													<lightning-input
														type="number"
														variant="label-inline"
														data-element="terminationDiscount"
														name="terminationDiscount"
														label="Termination Fee Discount"
														onchange={handleChange}
													>
													</lightning-input>
												</div>
											</lightning-layout-item>
											<lightning-layout-item size="4" padding="around-small">
												<div class="custom-box">
													<lightning-button
														class="slds-var-m-left_x-small"
														label={label.SetForAllSitesButton}
														onclick={setTerminationFeeDiscount}
														disabled={isSetTerminationFeeDiscountButtonDisable}
													>
													</lightning-button>
													<lightning-button
														class="slds-var-m-left_x-small"
														label={label.ClearButton}
														onclick={clearterminationFeeDiscount}
													>
													</lightning-button>
												</div>
											</lightning-layout-item>
										</lightning-layout>
									</lightning-record-edit-form>
								</template>
							</lightning-card>
						</div>
					</div>
				</template>
				<div class={columSiteSize}>
					<div class="slds-card_boundary">
						<lightning-card variant="Narrow" title={label.installationSitesCard} icon-name="standard:location"> </lightning-card>
					</div>
					<div class="slds-card slds-card_boundary">
						<lightning-accordion
							class="example-accordion"
							onsectiontoggle={handleToggleSection}
							active-section-name={accordionActiveSection}
						>
							<template for:each={sites} for:item="site">
								<lightning-accordion-section key={site.id} name={site.id} label={site.name}>
									<div class="slds-form">
										<lightning-record-edit-form record-id={site.siteId} object-api-name={objectApiName}>
											<div class="slds-form__row">
												<div class="slds-form__item" role="listitem">
													<div class="slds-form-element slds-form-element_horizontal">
														<template if:true={site.isAcquisitionOrMutation}>
															<lightning-input-field
																disabled={readOnly}
																variant="label-inline"
																required={site.isRequired}
																name="technicalContact"
																field-name={technicalContactApiName}
																value={site.technicalContact}
																onchange={changeFieldHandler}
															>
															</lightning-input-field>
														</template>
													</div>
												</div>
												<div class="slds-form__item" role="listitem">
													<div class="slds-form-element slds-form-element_horizontal">
														<template if:true={site.cancelledByChange}>
															<lightning-record-edit-form
																record-id={site.productBasketId}
																object-api-name="cscfga__Product_Basket__c"
															>
																<lightning-input-field
																	disabled={readOnly}
																	variant="label-inline"
																	required={site.isRequired}
																	name="discountApprover"
																	field-name={discountApproverApiName}
																	value={site.discountApprover}
																	onchange={changeFieldHandler}
																>
																</lightning-input-field>
															</lightning-record-edit-form>
														</template>
													</div>
												</div>
											</div>
											<template if:false={site.isMutationOrMove}>
												<div class="slds-form__row">
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_horizontal">
															<lightning-input
																disabled={readOnly}
																required={site.isRequired}
																type="date"
																name="wishDate"
																label={wishDateFieldLabel}
																value={site.wishDate}
																min={site.todayDate}
																message-when-range-underflow={site.inatallationDateError}
																onchange={changeFieldHandler}
															>
															</lightning-input>
														</div>
													</div>
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_horizontal"></div>
													</div>
												</div>
											</template>
											<template if:true={site.isMutationOrMove}>
												<lightning-record-edit-form object-api-name="cscfga__Product_Configuration__c" record-id={site.Id}>
													<div class="slds-form__row">
														<div class="slds-form__item" role="listitem">
															<div class="slds-form-element slds-form-element_horizontal">
																<lightning-input
																	disabled={readOnly}
																	required={site.isRequired}
																	type="date"
																	data-element="terminationDateInput"
																	name="terminationDate"
																	label={terminationDateLabel}
																	value={site.terminationDate}
																	min={site.contractStartDate}
																	message-when-range-underflow={site.terminationDateError}
																	onchange={changeFieldHandler}
																>
																</lightning-input>
															</div>
														</div>
														<div class="slds-form__item" role="listitem">
															<div class="slds-form-element slds-form-element_horizontal"></div>
														</div>
													</div>
													<div class="slds-form__row">
														<div class="slds-form__item" role="listitem">
															<div class="slds-form-element slds-form-element_horizontal">
																<lightning-input-field
																	disabled={site.disableTerminationReasons}
																	variant="label-inline"
																	required={site.isRequired}
																	name="terminationReason"
																	field-name={terminationReasonApiName}
																	value={site.terminationReason}
																	onchange={changeFieldHandler}
																>
																</lightning-input-field>
															</div>
														</div>
														<div class="slds-form__item" role="listitem">
															<div class="slds-form-element slds-form-element_horizontal">
																<lightning-input-field
																	disabled={site.disableTerminationReasons}
																	variant="label-inline"
																	required={site.isRequired}
																	name="terminationSubReason"
																	field-name={terminationSubReasonApiName}
																	value={site.terminationSubReason}
																	onchange={changeFieldHandler}
																>
																</lightning-input-field>
															</div>
														</div>
													</div>
												</lightning-record-edit-form>
											</template>
											<template if:true={site.cancelledByChange}>
												<div class="slds-form__row">
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_horizontal">
															<lightning-input
																disabled={readOnly}
																required={site.isRequired}
																type="Number"
																maxlength="2"
																name="terminationDiscount"
																label={terminationDiscountLabel}
																value={site.terminationDiscount}
																onchange={changeFieldHandler}
															>
															</lightning-input>
														</div>
													</div>
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_horizontal">
															<lightning-record-edit-form object-api-name="cscfga__Product_Configuration__c">
																<lightning-input-field
																	disabled={readOnly}
																	variant="label-inline"
																	required={site.isRequired}
																	name="terminationDiscountType"
																	field-name={terminationDiscountTypeApiName}
																	value={site.terminationDiscountType}
																	onchange={changeFieldHandler}
																>
																</lightning-input-field>
															</lightning-record-edit-form>
														</div>
													</div>
												</div>
												<div class="slds-form__row">
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_horizontal">
															<lightning-input
																disabled="true"
																type="Text"
																name="terminationFee"
																label="Termination Fee"
																value={site.terminationFeeWithFormat}
																onchange={changeFieldHandler}
															>
															</lightning-input>
														</div>
													</div>
													<div class="slds-form__item" role="listitem">
														<div class="slds-form-element slds-form-element_horizontal"></div>
													</div>
												</div>
											</template>
										</lightning-record-edit-form>
									</div>
								</lightning-accordion-section>
							</template>
						</lightning-accordion>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>
