<template>
	<lightning-spinner if:true={showSpinner} alternative-text="Loading" size="medium"></lightning-spinner>
	<c-custom-data-table
		data={_contacts}
		columns={_columns}
		draft-values={draftValues}
		key-field="Id"
		oncellchange={handleCellChange}
		onpicklistchanged={handlePicklistChange}
		onpicklistclicked={handlePicklistClick}
		onvalueselect={handleSelection}
		onsave={handleSaveEdition}
		errors={errorsList}
		onrowaction={handleRowAction}
		oncancel={handleCancel}
		hide-checkbox-column={hideCheckboxColumn}
	></c-custom-data-table>
</template>
