<template>
	<div class="slds-modal slds-fade-in-open slds-backdrop slds-modal_medium" style="overflow-y: auto; max-height: 100vh">
		<div if:true={showSpinner}>
			<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
		</div>
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<lightning-button-icon
					icon-name="utility:close"
					alternative-text="Close this window"
					size="large"
					variant="bare-inverse"
					onclick={closeModal}
					class="slds-modal__close"
				>
				</lightning-button-icon>
			</div>
			<div class="slds-modal__content slds-p-around_medium">
				<lightning-combobox
					class="dro"
					label="Select separator"
					options={options}
					value={separator}
					onchange={handleSeparatorChange}
					required="true"
				></lightning-combobox>

				<lightning-file-upload
					label="Select file"
					name="fileUploader"
					accept={acceptedFormats}
					record-id={accountId}
					onuploadfinished={handleUploadFinished}
				>
				</lightning-file-upload>

				<lightning-card if:true={showFileName}>Uploaded file <b>{fileName}</b></lightning-card>
				<lightning-card>
					<div class="slds-text-body_regular slds-text-align_center">
						<b
							>Use a comma-separated csv file with the following header line:
							<span style="color: red">POSTALCODE,CITY,STREET,HOUSENUMBER,HOUSENUMBERSUFFIX,PHONE</span></b
						>

						<p>When saving the CSV (or Notepad) file, please select Encoding UTF-8!</p>
					</div>
				</lightning-card>
			</div>
			<div class="slds-modal__footer">
				<lightning-button
					variant="brand-outline"
					label="Close"
					title="Close"
					onclick={closeModal}
					class="slds-m-left_x-small"
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Start import"
					title="Start import"
					onclick={startImport}
					disabled={disableStartImport}
					class="slds-m-left_x-small"
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Download example file"
					title="Download example file"
					icon-name="action:download"
					onclick={downloadExampleFile}
					class="slds-m-left_x-small"
				></lightning-button>
			</div>
		</div>
	</div>
</template>
