<template>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="search-input-id">
            <abbr title="required" class="slds-required" if:true={required}
                >*</abbr
            >
            {lookupLabel}</label
        >
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div
                    class={comboBoxClass}
                    aria-expanded="false"
                    aria-haspopup="listbox"
                    role="combobox"
                >
                    <div
                        class="
                            slds-combobox__form-element
                            slds-input-has-icon slds-input-has-icon_right
                        "
                        role="none"
                    >
                        <template if:false={selectedRecordId}>
                            <lightning-input
                                type="search"
                                onchange={handleKeyChange}
                                onblur={handleBlur}
                                label={lookupLabel}
                                class="searchInput"
                                value={searchKey}
                                placeholder={placeholderLabel}
                                disabled={disabled}
                                variant="label-hidden"
                                id="search-input-id"
                                is-loading={isSearching}
                            ></lightning-input>
                        </template>

                        <template if:true={selectedRecordId}>
                            <template if:true={themeInfo}>
                                <span
                                    class="
                                        slds-icon_container
                                        slds-combobox__input-entity-icon
                                    "
                                >
                                    <div style={iconColor} aria-hidden="true">
                                        <img
                                            src={themeInfo.iconUrl}
                                            class="icon"
                                            alt={lookupLabel}
                                            title={lookupLabel}
                                        />
                                    </div>
                                    <span class="slds-assistive-text"
                                        >{lookupLabel}</span
                                    >
                                </span>
                            </template>
                            <input
                                type="text"
                                value={searchKey}
                                class="
                                    slds-input
                                    slds-combobox__input
                                    slds-combobox__input-value
                                "
                                style="padding-left: 2.2em"
                                readonly
                            />
                            <button
                                class="
                                    slds-button slds-button_icon
                                    slds-input__icon slds-input__icon_right
                                "
                            >
                                <lightning-icon
                                    icon-name="utility:close"
                                    size="x-small"
                                    alternative-text="close icon"
                                    onclick={handleRemove}
                                ></lightning-icon>
                            </button>
                        </template>
                    </div>
                    <div
                        class="
                            slds-dropdown
                            slds-dropdown_length-with-icon-7
                            slds-dropdown_fluid
                        "
                        role="listbox"
                    >
                        <ul
                            class="slds-listbox slds-listbox_vertical"
                            role="presentation"
                        >
                            <template if:true={records}>
                                <template for:each={records} for:item="record">
                                    <li
                                        role="presentation"
                                        class="slds-listbox__item"
                                        key={record.id}
                                    >
                                        <div
                                            id={record.id}
                                            class="
                                                slds-media
                                                slds-listbox__option
                                                slds-listbox__option_entity
                                                listbox-option-container
                                            "
                                            role="option"
                                            onclick={onResultClick}
                                            data-record-id={record.id}
                                            data-record-name={record.primaryLabel}
                                        >
                                            <template if:true={themeInfo}>
                                                <span
                                                    class="
                                                        slds-media__figure
                                                        slds-listbox__option-icon
                                                    "
                                                >
                                                    <span
                                                        class="
                                                            slds-icon_container
                                                        "
                                                        style={iconColor}
                                                    >
                                                        <img
                                                            src={themeInfo.iconUrl}
                                                            class="icon"
                                                            alt="Account"
                                                            title="Account"
                                                        />
                                                    </span>
                                                </span>
                                            </template>
                                            <span class="slds-media__body">
                                                <span
                                                    class="
                                                        slds-listbox__option-text
                                                        slds-listbox__option-text_entity
                                                    "
                                                >
                                                    {record.primaryLabel}
                                                </span>
                                                <span
                                                    class="
                                                        slds-listbox__option-meta
                                                        slds-listbox__option-meta_entity
                                                    "
                                                    if:true={record.secondaryLabel}
                                                >
                                                    {record.secondaryLabel}
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </template>
                            <template if:true={showNoRecordsAvailableMessage}>
                                <li
                                    role="presentation"
                                    class="slds-listbox__item"
                                >
                                    <div
                                        aria-selected="true"
                                        class="
                                            slds-media
                                            slds-listbox__option
                                            slds-listbox__option_entity
                                            slds-listbox__option_term
                                        "
                                        role="option"
                                    >
                                        <span class="slds-media__body">
                                            <span
                                                class="
                                                    slds-listbox__option-text
                                                    slds-listbox__option-text_entity
                                                    slds-align_absolute-center
                                                "
                                                >No records found</span
                                            >
                                        </span>
                                    </div>
                                </li>
                            </template>

                            <template if:true={createNewFields}>
                                <li
                                    role="presentation"
                                    class="slds-listbox__item"
                                >
                                    <div
                                        class="
                                            slds-media slds-media_center
                                            slds-listbox__option
                                            slds-listbox__option_entity
                                        "
                                        onclick={handleNewRecordClick}
                                        role="option"
                                    >
                                        <span
                                            class="
                                                slds-media__figure
                                                slds-listbox__option-icon
                                            "
                                        >
                                            <lightning-icon
                                                icon-name="utility:add"
                                                size="x-small"
                                                alternative-text="Create New Record"
                                            ></lightning-icon>
                                        </span>
                                        <span class="slds-media__body">
                                            <span
                                                class="
                                                    slds-listbox__option-text
                                                "
                                                >New {objectLabel}</span
                                            >
                                        </span>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start: create new modal -->
    <template if:true={showModal}>
        <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-01"
            aria-modal="true"
            aria-describedby="modal-content-id-1"
            class="slds-modal slds-fade-in-open slds-modal_medium"
        >
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon
                        class="slds-modal__close"
                        title="Close"
                        icon-name="utility:close"
                        icon-class="slds-button_icon-inverse"
                        onclick={handleDialogClose}
                    ></lightning-button-icon>

                    <h2
                        class="
                            slds-text-heading_medium
                            slds-hyphenate
                            header-string
                        "
                    >
                        New {objectLabel}
                    </h2>
                </header>
                <div
                    class="
                        slds-modal__content
                        slds-p-around_medium
                        create-new-modal-body
                    "
                >
                    <div class="slds-is-relative">
                        <lightning-spinner
                            alternative-text="Loading"
                            if:true={isCreateNewFormLoading}
                            variant="base"
                        >
                        </lightning-spinner>

                        <lightning-record-edit-form
                            object-api-name={objectName}
                            onload={handleOnLoad}
                            onsubmit={handleSubmit}
                            onsuccess={handleSuccess}
                            onerror={handleError}
                            oncancel={handleOnCancel}
                        >
                            <lightning-messages> </lightning-messages>
                            <lightning-layout multiple-rows="true">
                                <template
                                    for:each={createNewFields}
                                    for:item="field"
                                >
                                    <lightning-layout-item
                                        size="6"
                                        class="slds-p-right_x-small"
                                        key={field.name}
                                    >
                                        <lightning-input-field
                                            field-name={field.name}
                                            value={field.value}
                                            disabled={field.isDisabled}
                                        >
                                        </lightning-input-field>
                                    </lightning-layout-item>
                                </template>
                            </lightning-layout>

                            <div class="slds-align_absolute-center">
                                <lightning-button
                                    label="Save"
                                    type="submit"
                                    variant="brand"
                                    class="slds-m-right_x-small"
                                    disabled={isCreateNewFormLoading}
                                ></lightning-button>

                                <lightning-button
                                    label="Cancel"
                                    onclick={handleCancel}
                                    disabled={isCreateNewFormLoading}
                                ></lightning-button>
                            </div>
                        </lightning-record-edit-form>
                    </div>
                </div>
                <!-- <footer class="slds-modal__footer modal-hidden">

                </footer> -->
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- end: create new modal -->
</template>