<template>
	<template if:false={hideModal}>
		<lightning-quick-action-panel header="New Questionnaire">
			<template if:true={isLoading}>
				<lightning-spinner alternative-text="Loading" variant="brand" size="large"></lightning-spinner>
			</template>

			<div class="slds-text-heading_small slds-text-color_weak">
				<i>Please fill out the questions below:</i>
			</div>
			<template for:each={questionList} for:item="qb">
				<lightning-input
					type={qb.questionType}
					label={qb.question}
					key={qb.id}
					required={qb.isMandatory}
					class="lightInput"
					onchange={handleChange}
					field-level-help={qb.helptext}
				>
				</lightning-input>
			</template>
			<!--<template for:each={questionList} for:item="question">
                <lightning-input type={question.CST_Question_Type__c} label={question.CST_Question__c} class="lightInput" onchange={handleChange} key={question.id}></lightning-input> 
            </template>-->
			<div slot="footer">
				<lightning-button
					variant="neutral"
					label="Cancel"
					class="slds-m-left_x-small"
					onclick={handleCancel}
					disabled={btnSubmitDisabled}
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Save"
					class="slds-m-left_x-small"
					onclick={handleSubmit}
					disabled={btnSubmitDisabled}
				></lightning-button>
			</div>
		</lightning-quick-action-panel>
	</template>
</template>
