lightning-input {
	padding: 10px 0 !important;
}

.slds-form-element__label {
	padding: 15px 0 !important;
}

body {
	background-color: black !important;
}

.lgc-bg {
	background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
	background-color: rgb(22, 50, 92);
}
