<template>
	<lightning-quick-action-panel header="Create Worklog">
		<div id="screenWrapper">
			<template if:true={showSpinner}>
				<lightning-spinner alternative-text="Loading" size="medium" class="spinnerClass"></lightning-spinner>
			</template>

			<template if:false={showScreen2}>
				<div class="screen screen1 slds-card__body slds-card__body_inner scrollable" style="background-color: white; position: relative">
					<!-- <div class="screen screen1 toggleHide slds-card__body slds-card__body_inner scrollable" style="background-color: white; position: relative;"> -->

					<div class="slds-p-top_medium slds-form-element">
						<lightning-combobox
							name="progress"
							label="Update External Ticket Status"
							value={defaultStatus}
							options={statusOptions}
							class="slds-m-left_medium slds-text-align_left statusInput"
							onchange={handleStatusChange}
							placeholder={defaultStatus}
						></lightning-combobox>
					</div>

					<lightning-textarea
						name="messageInput"
						class="commentInput slds-p-top_medium"
						aria-label=""
						label="Comment"
						required
					></lightning-textarea>
					<br />

					<!-- <c-cstfile-uploader recordid={recordId} onuploadresult={handleUploadFiles2}></c-cstfile-uploader> -->
				</div>
			</template>

			<template if:true={showScreen2}>
				<div class="screen screen2 slds-card__body slds-card__body_inner scrollable" style="background-color: white; position: relative">
					<lightning-file-upload
						label="Add Attachment(s)"
						name="fileUploader"
						accept={acceptedFormats}
						record-id={ticketid}
						onuploadfinished={handleUploadFinished}
						multiple
						disabled={isUploadDisabled}
					></lightning-file-upload>
					<template if:true={statusError.warningFilesize}>
						<div class="error">
							<h1>File size too big</h1>
							<p>The maximum supported filesize is {MAX_FILE_SIZE_display} mb</p>
						</div>
					</template>
					<template if:true={statusError.warningFileCount}>
						<div class="error">
							<h1>Warning</h1>
							<p>Too many files attached. The maximum supported number is 3</p>
						</div>
					</template>
					<template if:true={filesData}>
						<div class="fileList">
							<template for:each={filesData} for:item="item">
								<p
									class={item.status}
									key={item.documentid}
									data-documentid={item.documentid}
									data-contentversionid={item.contentversionid}
									data-contentbodyid={item.contentbodyid}
									data-status={item.status}
									title={item.name}
									onclick={handleDeleteFiles}
								>
									{item.name}
									<span class="asside">X</span>
								</p>
							</template>
						</div>
					</template>
				</div>
			</template>
		</div>

		<div slot="footer">
			<div class="slds-text-align_right">
				<lightning-button
					variant="neutral"
					label="Cancel"
					id="btnCancel"
					class="slds-m-right_x-small toggleHide"
					onclick={handleCancel}
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Next"
					id="btnNext"
					class="slds-m-right_x-small toggleHide"
					onclick={handleNext}
					disabled={isNextDisabled}
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Submit"
					id="btnSubmit"
					class="slds-m-right_x-small toggleHide hidden"
					onclick={handleSubmit}
					disabled={isSbmitDisabled}
				></lightning-button>
			</div>
		</div>
	</lightning-quick-action-panel>
</template>
