.asside {
	padding: 0px 4px;
	color: #fff;
	border-radius: 50%;
	background-color: #9f201b;
	margin-left: 5px;
}

.slds-modal__content {
	overflow: initial;
}
select {
	height: 50px;
	overflow-y: scroll;
}
.scrollable {
	position: relative;
	overflow: auto;
}

lightning-combobox {
	margin-left: 0;
	width: fit-content;
}
.requiredField textarea {
	border: 1px solid red;
}

.hidden {
	display: none !important;
}
.warningContent {
	display: inline-block;
	background-color: orange;
	padding: 5px;
	margin: 15px 0;
}
.fileList {
	display: block;
}
.removeImage {
	border-radius: 50%;
	padding: 0px 4px;
	margin: 8px 2px 8px 8px;
	color: #fff;
	background-color: #9f201b;
	cursor: pointer;
	display: inline-block;
	background: transparent;
	color: black;
}
.fileList p.bigFile {
	background-color: red;
	color: white;
	padding: 5px;
	margin: 2px;
	border-radius: 0;
}
.error {
	box-sizing: border-box;
	background-color: orange;
	display: inline-block;
	padding: 5px;
	margin: 10px 0;
	margin-right: 37%;
}
.error h1 {
	font-size: 120%;
	font-weight: 700;
}
.error p {
	font-size: 110%;
}
