<template>
	<lightning-card title="Installation Information" icon-name="standard:apex_plugin">
		<template if:true={b2cInternetCustomer}>
			<div class="slds-p-horizontal_medium">
				<div class="slds-notify slds-notify_alert slds-alert_warning" role="alert" style="display: block">
					<p>
						<b>Note</b>&nbsp;Never promise an existing Ziggo internet customer that new hardware will be delivered. We cannot guarantee
						this.
					</p>
					<p>
						<b>Let op</b>&nbsp;beloof nooit aan een bestaande Ziggo internet klant dat er nieuwe hardware geleverd gaat worden. Dit kunnen
						we namelijk niet garanderen.
					</p>
				</div>
			</div>
		</template>
		<div class="slds-grid slds-wrap slds-m-horizontal_small">
			<div class="slds-col slds-size_6-of-12">
				<lightning-input
					class="slds-m-right_medium earliest-installation-date"
					type="date"
					name="earliestInstallationDate"
					label="Earliest Installation Date"
					max={maxDate}
					min={minDate}
					message-when-range-overflow={overflowMessage}
					message-when-range-underflow={underflowMessage}
					value={earliestInstallationDate}
					onchange={earliestInstallationDateChange}
					date-style="short"
				></lightning-input>
			</div>
			<div class="slds-col slds-size_6-of-12 slds-m-top_medium">
				<lightning-input
					class="slds-m-left_medium"
					style="display: inline-flex; width: auto"
					type="toggle"
					name="customerInformed"
					label="Customer is informed how to plan the installation appointment"
					onchange={customerInformedChange}
					checked={customerInformed}
					message-toggle-active=""
					message-toggle-inactive=""
				></lightning-input>
			</div>
		</div>
	</lightning-card>
</template>
