<template>
	<div class="slds-card slds-card_boundary">
		<lightning-accordion class="example-accordion" onsectiontoggle={handleToggleSection} active-section-name={accordionActiveSection}>
			<template for:each={sections} for:item="section">
				<lightning-accordion-section
					class="example-accordionsection"
					name={section.tittleReference}
					label={section.tittleLabel}
					key={section.key}
				>
					<div class="slds-form">
						<template for:each={section.listRows} for:item="row">
							<div class="slds-form__row" key={row.key}>
								<template for:each={row.listFields} for:item="field">
									<div class="slds-form__item" role="listitem" key={field.key}>
										<div class="slds-form-element slds-form-element_horizontal">
											<template if:true={field.isInput}>
												<lightning-input
													required={field.isRequired}
													type={field.fieldTypeString}
													field-name={field.fieldeReference}
													value={field.value}
													name={field.fieldeReference}
													label={field.fieldLabel}
													onchange={changeFieldHandler}
												>
												</lightning-input>
											</template>
											<template if:false={field.isInput}>
												<lightning-record-edit-form
													id={field.fieldeReference}
													record-id={field.fieldRecordId}
													object-api-name={field.fieldObjectApiName}
												>
													<lightning-input-field
														field-name={field.fieldApiName}
														name={field.fieldeReference}
														value={field.value}
														onchange={changeFieldHandler}
													>
													</lightning-input-field>
												</lightning-record-edit-form>
											</template>
										</div>
									</div>
									<template if:true={field.isBlank}>
										<div class="slds-form__item" role="listitem" key={field.key}>
											<div class="slds-form-element slds-form-element_horizontal"></div>
										</div>
									</template>
								</template>
							</div>
						</template>
					</div>
				</lightning-accordion-section>
			</template>
		</lightning-accordion>
	</div>
</template>
