<template>
	<lightning-card title="TV" icon-name="standard:screen">
		<div class="slds-p-horizontal_small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col">
					<lightning-combobox
						name="tvProduct"
						label="TV Product"
						value={selectedProductId}
						placeholder="Select Product"
						options={formattedProducts}
						class="slds-m-bottom_x-small slds-p-horizontal_small"
						onchange={handleProductChange}
					>
					</lightning-combobox>
				</div>
			</div>
		</div>
	</lightning-card>
</template>
