<template>
	<c-order-entry-telephony-product-form
		products={telProducts}
		selected-product={selectedProduct}
		settings={telephony}
		onselectedproduct={handleProductSelection}
		onupdatedsettings={handleUpdatedSettings}
	>
	</c-order-entry-telephony-product-form>
	<c-order-entry-telephony-product-form
		products={telProducts}
		selected-product={secondarySelectedProduct}
		disableable="true"
		title="Extra Line"
		product-type={secondaryType}
		disabled={secondaryDisabled}
		settings={telephony}
		onselectedproduct={handleProductSelection}
		onupdatedsettings={handleUpdatedSettings}
	>
	</c-order-entry-telephony-product-form>
</template>
