<template>
	<c-cs_package_header onexit={exit}></c-cs_package_header>
	<div class="root">
		<div class="app-wrapper">
			<div class="package-integration">
				<div class="slds-modal__content slds-grid slds-grow" id="modal-content-id-1">
					<div class="slds-grid slds-grid_vertical with_full_screen full_width_custom">
						<div class="slds-scrollable slds-grow slds-p-around_small">
							<div class="slds-scrollable_none full_width_custom">
                                <fieldset class="slds-form-element">
                                    <legend class="slds-form-element__legend slds-form-element__label">Select a package</legend>
                                    <div class="slds-form-element__control">
                                        <template for:each={products} for:item="product">
                                            <c-cs_package_detail key={product.key} product={product}></c-cs_package_detail>
                                        </template>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>