.full_width_custom {
    width: 100%;
}

/* MAIN LAYOUT */
.app-wrapper, .package-integration {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
.package-integration > .slds-card {
    border-radius: 0;
    border: none;
}
.slds-modal__content > .slds-grid > .slds-scrollable {
    display: flex;
}
.slds-modal__content > .slds-grid > .slds-scrollable > .slds-scrollable_none {
    overflow: auto;
    position: relative;
}
.slds-modal__content > .slds-grid > .slds-scrollable > .slds-scrollable_none .slds-table {
    border: none;
}
.slds-modal__content > .slds-grid > .slds-scrollable > .slds-scrollable_none .slds-table thead th {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(250, 250, 249);
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);
}
.slds-modal__content > .slds-grid > .slds-scrollable > .slds-scrollable_none .slds-table tbody tr:first-child td {
    border-top: none;
}
.slds-modal__content > .slds-grid > .slds-scrollable > .slds-scrollable_none .slds-table tbody tr:last-child td {
    border-bottom: 1px solid #dddbda;
}

/* PAGINATION */
.app-wrapper .package-integration .pagination {
    padding: 0.5rem;
    border-top: 1px solid #dddbda;
}
.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 1000;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* SPINNER */
.spinner-overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s;
    z-index: 9000;
    background: rgba(255, 255, 255, 0.5);
}
.spinner {
    position: absolute;
    z-index: 10;
    width: 2.75rem;
    height: 0;
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: 50% 50%;
    top: 50%;
    left: 50%;
}
.spinner::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: -83.33333ms;
    width: 0.55rem;
    height: 0.55rem;
    background: #0070d2;
}
.spinner::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-delay: 416.66667ms;
    width: 0.55rem;
    height: 0.55rem;
    background: #0070d2;
}
.spinner.medium::before {
    animation-name: dotsBounceBefore-medium;
    top: -0.25rem;
    left: -0.25rem;
}
.spinner.medium::after {
    animation-name: dotsBounceAfter-medium;
    top: -0.25rem;
    right: -0.25rem;
}
.spinner.small {
    width: 0.9rem;
}
.spinner.small::before {
    animation-name: dotsBounceBefore-small;
    top: -0.0625rem;
    left: -0.0625rem;
    width: 0.125rem;
    height: 0.125rem;
}
.spinner.small::after {
    animation-name: dotsBounceBefore-small;
    top: -0.0625rem;
    right: -0.0625rem;
    width: 0.125rem;
    height: 0.125rem;
}
.spinner.small .spinner-dot {
    width: 1rem;
}
.spinner.small .spinner-dot::before, .spinner.small .spinner-dot::after {
    animation-name: dotsBounceBefore-small;
    width: 0.125rem;
    height: 0.125rem;
}
.spinner.small .spinner-dot.a::before, .spinner.small .spinner-dot.b::before {
    top: -0.0625rem;
    left: -0.0625rem;
}
.spinner.small .spinner-dot.a::after, .spinner.small .spinner-dot.b::after {
    top: -0.0625rem;
    right: -0.0625rem;
}
.spinner .spinner-dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    transform-origin: 50% 50%;
}
.spinner .spinner-dot::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: dotsBounceBefore-medium;
    width: 0.55rem;
    height: 0.55rem;
    background: #0070d2;
}
.spinner .spinner-dot::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: dotsBounceAfter-medium;
    width: 0.55rem;
    height: 0.55rem;
    background: #0070d2;
}
.spinner .spinner-dot.a {
    transform: rotate(60deg) translateY(0);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.spinner .spinner-dot.a::before {
    animation-delay: 83.33333ms;
    top: -0.25rem;
    left: -0.25rem;
}
.spinner .spinner-dot.a::after {
    animation-delay: 583.33333ms;
    top: -0.25rem;
    right: -0.25rem;
}
.spinner .spinner-dot.b {
    transform: rotate(120deg) translateY(0);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.spinner .spinner-dot.b::before {
    animation-delay: 250ms;
    top: -0.25rem;
    left: -0.25rem;
}
.spinner .spinner-dot.b::after {
    animation-delay: 750ms;
    top: -0.25rem;
    right: -0.25rem;
}

.progress-loading {
    height: 30rem;
}

.progress-loading-custom {
    height: 100%;
    position: absolute;
}

.display_block {
    display: block;
}

.display_table_row {
    display: table-row;
}

.display_none {
    display: none;
}

.cheapest {
    border-left: 10px solid limegreen;
}

.cheapest_none {
    border-left: none;
}

.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]~.slds-checkbox_faux:before, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]~.slds-checkbox_faux:after, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]~.slds-checkbox--faux:before, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]~.slds-checkbox--faux:after, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]+.slds-checkbox_faux:before, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]+.slds-checkbox_faux:after, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]+.slds-checkbox--faux:before, 
.slds-scope .slds-checkbox_add-button [type=checkbox][disabled]+.slds-checkbox--faux:after, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]~.slds-checkbox_faux:before, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]~.slds-checkbox_faux:after, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]~.slds-checkbox--faux:before, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]~.slds-checkbox--faux:after, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]+.slds-checkbox_faux:before, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]+.slds-checkbox_faux:after, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]+.slds-checkbox--faux:before, 
.slds-scope .slds-checkbox--add-button [type=checkbox][disabled]+.slds-checkbox--faux:after {
    background-color: silver;
}