<template>
	<lightning-card title="Mobile Products" icon-name="custom:custom28">
		<!-- Button for adding products -->
		<lightning-button icon-name="utility:add" label="Add Product" slot="actions" onclick={addProduct} disabled={loading}></lightning-button>
		<lightning-button
			class="slds-m-left_x-small"
			icon-name="utility:delete"
			label="Delete"
			slot="actions"
			variant="destructive"
			onclick={deleteProducts}
			disabled={loading}
		></lightning-button>

		<!-- Spinner -->
		<div if:true={loading} class={showSpinner} style="height: 150px">
			<lightning-spinner class="spins" alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
		</div>

		<!-- List of added products -->
		<template if:true={isTable}>
			<table
				class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_fixed-layout"
				role="grid"
				aria-label="Example table in a Card"
			>
				<thead>
					<tr class="slds-line-height_reset">
						<th class="slds-text-align_right slds-cell_action-mode" scope="col" style="width: 3.25rem">
							<lightning-input type="checkbox" onchange={handleChangeAll} checked={checkedAll}> </lightning-input>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate" title="Subscription">Subscription</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate" title="Contract duration">Contract duration</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate" title="SIM">SIM</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate" title="Actions"></div>
						</th>
					</tr>
				</thead>
				<tbody>
					<template for:each={bundles} for:item="bundle" for:index="index">
						<tr class="slds-hint-parent" key={bundle.bundle.id}>
							<td class="slds-text-align_right slds-cell_action-mode" role="gridcell">
								<lightning-input type="checkbox" data-index={index} onchange={handleChange} checked={bundle.checked}>
								</lightning-input>
							</td>
							<th scope="row">
								<div class="slds-truncate" title={bundle.bundle.name}>{bundle.bundle.name}</div>
							</th>
							<td role="gridcell">
								<div class="slds-truncate">{bundle.contractTerm}</div>
							</td>
							<td role="gridcell">
								<div class="slds-truncate">{bundle.simCard}</div>
							</td>
							<td role="gridcell" style="text-align: right">
								<lightning-button-icon
									data-index={index}
									icon-name="utility:edit"
									alternative-text="Edit"
									slot="actions"
									onclick={editProduct}
									disabled={loading}
								>
								</lightning-button-icon>
								<lightning-button-icon
									data-index={index}
									class="slds-m-left_x-small"
									icon-name="utility:delete"
									alternative-text="Delete"
									slot="actions"
									variant="brand"
									onclick={deleteProduct}
									disabled={loading}
								></lightning-button-icon>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</template>
		<!-- Modal form for adding products -->
		<template if:true={isAddProduct}>
			<section
				role="dialog"
				tabindex="-1"
				aria-labelledby="modal-heading-01"
				aria-modal="true"
				aria-describedby="modal-content-id-1"
				class="slds-modal slds-fade-in-open"
			>
				<div class="slds-modal__container">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
						disabled={loading}
					>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>

					<div class="slds-modal__content slds-p-around_medium slds-modal__content_headless" id="modal-content-id-1">
						<p>Please make a selection between Sim Only or a simcard in combination with a mobile device.</p>
					</div>

					<footer class="slds-modal__footer">
						<button class="slds-button slds-button_neutral" onclick={addSimOnlyProduct} title="Sim Only">Sim Only</button>
						<button disabled class="slds-button slds-button_neutral" title="Mobile Device">Mobile Device</button>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>
		<!-- Modal form for adding SIM only products -->
		<template if:true={isSimOnlyProduct}>
			<c-order-entry-mobile-product-form
				main-product={mainProduct}
				products={availableProducts}
				sim-card-products={_simCardProducts}
				product-contract-terms={productContractTerms}
				selected-product={_selectedProduct}
				selected-sim-card-product={selectedSimCardProduct}
				contract-term={_contractTerm}
				quantity={_quantity}
				onrendered={handleRenderedChange}
				onconfirm={handleConfirm}
				onsubmit={handleSubmit}
				oncancel={handleCancel}
			>
			</c-order-entry-mobile-product-form>
		</template>
	</lightning-card>
</template>
