.gridtable {
	width: 100%;
}
@media screen and (max-width: 768px) {
	.gridtable,
	.gridtable thead,
	.gridtable tbody,
	.gridtable tr {
		display: grid;
		width: 100%;
	}
	.gridtable tr {
		grid-template-columns: auto auto auto;
	}
}
