<template>
	<div class="slds-section slds-is-open">
		<h3 class="slds-section__title slds-theme_shade header">
			<span class="slds-truncate slds-p-horizontal_small" title={label.sectionHeader}> {label.sectionHeader} </span>
		</h3>
		<div aria-hidden="false" class="slds-section__content">
			<div class="slds-grid slds-wrap slds-gutters slds-grid_align-spread slds-p-horizontal_x-small slds-m-top_xx-small">
				<div class="slds-col slds-size_1-of-2">
					<div class="element_readonly">
						<span class="slds-form-element__label">{label.startTime}</span>
						<p>
							<lightning-formatted-date-time
								value={startDatetime}
								year="numeric"
								month="short"
								day="2-digit"
								hour="numeric"
								minute="2-digit"
								weekday="short"
								hour12="true"
							></lightning-formatted-date-time>
						</p>
					</div>
				</div>

				<div class="slds-col slds-size_1-of-2">
					<div class="element_readonly">
						<span class="slds-form-element__label">{label.endTime}</span>
						<p>
							<lightning-formatted-date-time
								value={endDatetime}
								year="numeric"
								month="short"
								day="2-digit"
								hour="numeric"
								minute="2-digit"
								weekday="short"
								hour12="true"
							></lightning-formatted-date-time>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
