<template>
	<div class="slds-var-p-vertical_medium">
		<lightning-card title="Automatic Promotions" icon-name="utility:money">
			<table
				class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_fixed-layout"
				role="grid"
				aria-label="Example table in a Card"
			>
				<tbody>
					<template for:each={bundles} for:item="bundle">
						<tr class="slds-hint-parent" key={bundle.bundle.id}>
							<th scope="row">
								<div class="slds-truncate" title={bundle.bundle.name}>
									<p style="color: rgba(0 109 204); font-weight: 700">{bundle.bundle.name}</p>
								</div>
								<template for:each={bundle.promos} for:item="promo">
									<div key={promo.name}>• {promo.name}</div>
								</template>
							</th>
						</tr>
					</template>
				</tbody>
			</table>
		</lightning-card>
	</div>
</template>
