lightning-input {
	padding: 10px 0 !important;
}

.slds-form-element__label {
	padding: 0 !important;
}

.lgc-bg {
	background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
	background-color: rgb(22, 50, 92);
}

:host {
	background-color: black;
}

.slds-modal__content {
	height: 750px !important;
	max-height: 750px !important;
}
