<template>
	<lightning-quick-action-panel
		header="Edit Questionnaire"
		class="slds-modal__container"
		style="padding: 15px !important; width: auto; margin: 0 auto; max-width: inherit; min-width: fit-content"
	>
		<div class="slds-text-heading_small slds-text-color_weak slds-scrollable_none style=height:5rem;width:24rem">
			<div class="slds-text-color_weak overflow-hidden slds-modal__header">
				<i>Please edit the questions below:</i>
			</div>
			<template for:each={lineItemsList} for:item="lineItem">
				<lightning-input
					type={lineItem.questionType}
					label={lineItem.question}
					value={lineItem.answer}
					class="lightInput slds-p-around_large"
					name={lineItem.id}
					key={lineItem.id}
					field-level-help={lineItem.helptext}
					required={lineItem.isMandatory}
					checked={lineItem.isChecked}
				>
				</lightning-input>
			</template>

			<div slot="footer" class="slds-text-align_right">
				<lightning-button variant="neutral" label="Cancel" class="slds-m-right_x-small slds-text-align_right" onclick={closeScreen}>
				</lightning-button>
				<lightning-button variant="brand" label="Save" class="slds-m-right_x-small slds-text-align_right" onclick={handleSubmit}>
				</lightning-button>
			</div>
		</div>
	</lightning-quick-action-panel>
</template>
