<template>
	<div class="slds-modal slds-fade-in-open slds-backdrop slds-modal_medium" style="overflow-y: auto; max-height: 100vh">
		<div if:true={showSpinner}>
			<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
		</div>
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add PBX</h1>
				<lightning-button-icon
					icon-name="utility:close"
					alternative-text="Close this window"
					size="large"
					variant="bare-inverse"
					onclick={closeModal}
					class="slds-modal__close"
				>
				</lightning-button-icon>
			</div>
			<div class="slds-modal__content slds-p-around_medium">
				<lightning-card>
					<div class="slds-text-body_regular slds-text-align_center">
						<p>
							Note: selecting a PBG will create a new related record for the Site. The PBX will be active. This means that its
							certification information will be used to draft future offers. PBX information is not shared between partners.
						</p>
					</div>
				</lightning-card>

				<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
					<div class="slds-col slds-size_1-of-2">
						<lightning-combobox
							dropdown-alignment=""
							value={pbx.Vendor__c}
							name="Vendor__c"
							label="Vendor"
							options={vendorOptions}
							onchange={handlePicklistChange}
						></lightning-combobox>
					</div>

					<div class="slds-col slds-size_1-of-2">
						<lightning-combobox
							name="Product_Name__c"
							label="Product Name"
							onchange={handlePicklistChange}
							value={pbx.Product_Name__c}
							options={productNameOptions}
						></lightning-combobox>
					</div>
				</div>

				<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
					<div class="slds-col slds-size_1-of-2">
						<lightning-combobox
							value={pbx.Software_version__c}
							name="Software_version__c"
							label="Software Version	"
							onchange={handlePicklistChange}
							options={softwareVersionOptions}
						></lightning-combobox>
					</div>
				</div>

				<div>
					<lightning-card title="PBX Details" style="text-align: center"> </lightning-card>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input value={pbx.Name} name="Name" label="PBX Name" disabled="true"></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								value={pbx.SIP_Certification__c}
								name="SIP_Certification__c"
								disabled="true"
								label="SIP Certification"
							></lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								value={pbx.Office_Voice_approved__c}
								name="Office_Voice_approved__c"
								disabled="true"
								label="Office Voice approved"
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								disabled="true"
								value={pbx.CNoIP_approved__c}
								name="CNoIP_approved__c"
								label="CNoIP approved"
							></lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input value={pbx.VF_CPE__c} disabled="true" name="VF_CPE__c" label="VF CPE"></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input value={pbx.Remarks__c} disabled="true" name="Remarks__c" label="Remarks"></lightning-input>
						</div>
					</div>
				</div>

				<div>
					<lightning-card>
						<div class="slds-text-body_regular slds-text-align_center">
							<h1><b>Maintenance Info</b></h1>
						</div>
					</lightning-card>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								name="Maintenance_company__c"
								label="Maintenance company"
								onchange={handleMaintenanceChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								onchange={handleMaintenanceChange}
								name="Maintenance_contact__c"
								label="Maintenance contact"
							></lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								onchange={handleMaintenanceChange}
								name="Maintenance_contact_phone__c"
								label="Maintenance contact phone"
							></lightning-input>
						</div>
					</div>
				</div>
			</div>
			<div class="slds-modal__footer">
				<lightning-button
					variant="band-outline"
					label="Close"
					title="Close"
					onclick={closeModal}
					class="slds-m-left_x-small"
				></lightning-button>

				<lightning-button variant="brand" label="Save" title="Save" onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
			</div>
		</div>
	</div>
</template>
