<template>
	<div class="slds-grid slds-grid_vertical slds-p-vertical_small slds-p-left_large slds-border_top slds-p-right_small">
		<div class="slds-col slds-text-heading_small">
			<a href={urlTarget}>{title}</a>
		</div>
		<div class="slds-col slds-m-top_xxx-small slds-text-color_weak">
			<div class="slds-grid slds-grid_align-spread slds-gutters">
				<div class="slds-col">
					<span class="slds-truncate slds-text-body_small">{description}</span>
				</div>
				<div class="slds-col">
					<slot name="additionalInformation"></slot>
				</div>
			</div>
		</div>
	</div>
</template>
