<template>
	<template if:true={isModalOpen}>
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open"
		>
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button
						class="
							slds-button slds-button_icon
							slds-modal__close
							slds-button_icon-inverse
						"
						title="Close"
						onclick={closeModal}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
						{title}
					</h2>
				</header>
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<p>{message}</p>
				</div>
				<footer class="slds-modal__footer">
					<button
						class="slds-button slds-button_neutral"
						onclick={closeModal}
						title="Cancel"
					>
						Cancel
					</button>
					<button
						class="slds-button slds-button_brand"
						onclick={submitDetails}
						title="OK"
					>
						OK
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>