<template>
	<lightning-card title="Additional Products" icon-name="standard:macros">
		<div class="slds-p-horizontal_small">
			<template for:each={indexedChunks} for:item="row">
				<div class="slds-grid slds-gutters" key={row.i}>
					<template for:each={row.items} for:item="item">
						<div class="slds-col slds-size_1-of-2" key={item.Id}>
							<lightning-input
								type="number"
								name={item.Add_On__r.Id}
								label={item.Add_On__r.Name}
								value={item.quantity}
								onchange={handleInputChange}
							></lightning-input>
						</div>
					</template>
				</div>
			</template>
		</div>
	</lightning-card>
</template>
