<template>
    <div style="display: flex;">

        <div class="slds-form-element slds-p-right_x-small">
            <div class="slds-form-element__control">
                <lightning-combobox
                name="progress"
                label="Product Type"
                value={productType}
                placeholder="Select..."
                options={options}
                onchange={productTypeChanged}></lightning-combobox>
            </div>
        </div>

        <div class="slds-form-element slds-p-right_x-small" style="min-width: 500px;">
            <label class="slds-form-element__label" for="address" id="combobox-label-id-33">Address</label>
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                            <input type="text" class="slds-input slds-combobox__input slds-has-focus" id="address" aria-autocomplete="list" aria-controls="packageList" aria-expanded="false" aria-haspopup="listbox" autocomplete="off" role="combobox" placeholder="Search..." onkeyup={addressChanged} value={addressName} />
                            <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                    <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#search"></use>
                                </svg>
                            </span>
                        </div>
                        <div id="packageList" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox" if:true={toogleResults}>
                            <template for:each={addresses} for:item="address">
                                <ul key={address.id} class="slds-listbox slds-listbox_vertical" role="presentation">
                                    <li role="presentation" class="slds-listbox__item" data-addressid={address.id} data-addressname={address.name} onclick={selectAddress}>
                                        <div id={address.id} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                            <span class="slds-media__figure slds-listbox__option-icon">
                                                <span class="slds-icon_container slds-icon-standard-address">
                                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                        <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#address"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="slds-media__body">
                                            <span class="slds-listbox__option-text slds-listbox__option-text_entity">{address.name}</span>
                                            <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{address.vendor} - {address.technology}</span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>