<template>
    <lightning-card title={labels.appointmentDetailsBoxTitle} icon-name="standard:service_appointment">
        <div class="slds-var-p-horizontal_medium">

            <template if:false={appointmentId}>
                <span>{labels.selectAppointment}</span>
            </template>

            <template if:true={appointmentId}>
                <template if:true={isEdit}>
                    <lightning-record-edit-form record-id={appointmentId} object-api-name="Delivery_Appointment__c"
                        onsuccess={handleSuccess} onsubmit={handleSubmit} density="compact">
                        <lightning-messages>
                        </lightning-messages>

                        <!--Custom Contact Part Start-->
                        <div class="slds-var-m-around_medium">
                            <div class="">
                                <lightning-input-field field-name="Contact__c" value={selectedContactId} autocomplete="off"></lightning-input-field>
                            </div>
                            <div class="slds-p-around_xxx-small">
                                <div style="padding-left: 33%">
                                    <lightning-button variant="neutral" name="save" label={labels.createNewContact} onclick={handleNewContact}>
                                    </lightning-button>
                                </div>
                            </div>                                
                        </div>
                        <!--Custom Contact Part End-->

                        <template for:each={fieldSetEdit} for:item="fieldName">
                            <div key={fieldName.nm}>
                                <template if:true={fieldName.ro}>
                                    <lightning-input-field field-name={fieldName.nm} readonly disabled>
                                    </lightning-input-field>
                                </template>
                                <template if:false={fieldName.ro}>
                                    <lightning-input-field field-name={fieldName.nm}>
                                    </lightning-input-field>
                                </template>
                            </div>
                        </template>

                        <div class="slds-var-m-top_medium">
                            <lightning-button variant="brand" type="submit" name="update" label={labels.appointmentBtnSave}>
                            </lightning-button>
                            <lightning-button class="slds-var-m-left_small" label={labels.appointmentBtnCancel} onclick={handleViewChange}>
                            </lightning-button>
                        </div>
                    </lightning-record-edit-form>
                </template>

                <template if:false={isEdit}>
                    <!-- Wait screen -->
                    <template if:true={waitDialog}>
                        <div class="wait-box">
                            <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                        </div>
                    </template>
                    <!-- View form -->
                    <lightning-record-view-form record-id={appointmentId} object-api-name="Delivery_Appointment__c"
                        density="compact" onload={hideSpinner}>
                        <lightning-messages>
                        </lightning-messages>
                        <div>
                            <template for:each={fieldSet} for:item="fieldName">
                                <div key={fieldName.nm}>
                                    <lightning-output-field field-name={fieldName.nm}>
                                    </lightning-output-field>
                                </div>
                            </template>
                        </div>
                        <!-- Buttons -->
                        <template if:true={isFullUser}>
                            <div class="slds-var-m-top_medium slds-grid">
                                <template if:false={isConfirmed}>
                                    <div class="slds-col slds-grid_align-center">
                                        <lightning-button variant="brand" label={labels.appointmentBtnEdit} onclick={handleChangeToEditView}>
                                        </lightning-button>
                                    </div>
                                    <template if:false={isSpecial}>
                                        <div class="slds-col slds-grid_align-center">
                                            <lightning-button variant="brand" label={labels.appointmentBtnConfirm} onclick={handleConfirm}>
                                            </lightning-button>
                                        </div>
                                    </template>
                                    <div class="slds-col slds-grid_align-center">
                                        <lightning-button variant="brand" label={labels.appointmentBtnDel} onclick={handleDelete}>
                                        </lightning-button>
                                    </div>
                                </template>
                                <template if:true={isConfirmed}>
                                    <div class="slds-col slds-grid_align-center">
                                        <center><lightning-button variant="brand" label={labels.appointmentBtnUnconfirm} onclick={handleUnconfirm}>
                                        </lightning-button></center>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </lightning-record-view-form>
                </template>
            </template>

        </div>
    </lightning-card>
    <c-create-new-contact onnewcontact={handleOnNewContact}></c-create-new-contact>
</template>