.view-container {
    display: grid;
    grid-template-columns: 50% 50% ;
}

.view-cell {
    border: 0px;
}

.wait-box {
    width: 95%;
    height: 89%;
    background-color: white;
    /*border: 1px solid lightgray;*/
    float: right;
    position: absolute;
  }