.slds-modal__container {
	padding: 0;
	justify-content: flex-start;
	width: 100%;
	text-align: center;
}

.slds-modal__header {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0;
	border: none;
	color: #fff;
}

.slds-modal__content {
	border-radius: 0 !important;
	background: none;
	height: 100%;
	box-shadow: none;
}

.header-grid {
	align-items: center;
}

.header-title {
	text-align: left;
}

.header-close {
	text-align: right;
}

.slds-modal__content {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
}

.canvas-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
