<template>
	<template if:true={loading}>
		<lightning-spinner
			alternative-text="Loading"
			size="medium"
			style="z-index: 9999999; left: -20px; top: -200px; bottom: -350px; right: -20px"
		></lightning-spinner>
	</template>
	<template if:true={isFilePreviewed}>
		<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large">
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<div class="slds-grid slds-gutters header-grid">
						<div class="slds-col slds-size_1-of-3 header-title">
							<lightning-icon
								icon-name="doctype:pdf"
								class="slds-m-right_small"
							></lightning-icon>
							{file.name}
						</div>
						<div class="slds-col slds-size_1-of-3">
							<slot name="actions"></slot>
						</div>
						<div class="slds-col slds-size_1-of-3 header-close">
							<lightning-button-icon
								variant="bare-inverse"
								icon-name="utility:close"
								onclick={close}
							>
							</lightning-button-icon>
						</div>
					</div>
				</header>

				<div class="slds-modal__content slds-p-around_medium">
					<template for:each={fileId} for:item="item">
						<div key={item} class={className} lwc:dom="manual"></div>
					</template>
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>