<template>
	<template if:true={componentVisible}>
		<div style="display: flex; align-items: center; justify-content: flex-start">
			<div>
				<a class="slds-button slds-button_brand" onclick={handleClick}>{buttonName}</a>
			</div>
			<div if:true={isLoading} class="slds-p-left_xx-large slds-spinner_inline">
				<lightning-spinner variant="brand" alternative-text="Loading" size="small"> </lightning-spinner>
			</div>
		</div>
		<c-confirmation-popup-modal
			onconfirmation={handleConfirmation}
			is-modal-open={openModal}
			title="Confirmation"
			message={message}
		></c-confirmation-popup-modal>
		<div if:true={errors}>
			<ul>
				<template for:each={errors} for:item="error">
					<li key={error.index}>
						<p style="color: #ff0000" class="slds-p-bottom_xx-small">{error.body.message}</p>
					</li>
				</template>
			</ul>
		</div>
	</template></template
>
