<template>
	<div class="slds-p-around_xxx-small container">
		<template if:true={showBody}>
			<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-no-row-hover">
				<thead>
					<tr class="slds-line-height_reset">
						<th class="" scope="col">
							<div class="slds-truncate slds-p-vertical_x-small" title="Item">Item</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate slds-p-vertical_x-small" title="Quantity">Quantity</div>
						</th>
						<th class="" scope="col" colspan={discountDurationBreakpoints.length}>
							<div class="slds-truncate slds-text-align_center" title="Recurring Cost">Monthly Cost</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate slds-text-align_center" title="One Off Cost">One Off Cost</div>
						</th>
					</tr>
					<tr class="slds-line-height_reset">
						<th class="" scope="col">
							<div class="slds-p-vertical_x-small">&nbsp;</div>
						</th>
						<th class="" scope="col">
							<div class="slds-p-vertical_x-small">&nbsp;</div>
						</th>
						<template for:each={discountDurationBreakpoints} for:item="item">
							<th class="" scope="col" key={item.label}>
								<div class="slds-truncate slds-text-align_center">{item.label}<br />Months</div>
							</th>
						</template>
						<th class="" scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<template for:each={productsWithDiscounts} for:item="product">
						<tr key={product.id} class="slds-border_bottom">
							<th>
								<div class="slds-truncate">
									<b class="order-item">{product.name}</b><br />
									<template if:true={product.details}>
										<template if:true={product.details.length}>
											<template for:each={product.details} for:item="detail">
												<lightning-badge key={detail} label={detail}></lightning-badge>
											</template>
											<br />
										</template>
									</template>
									<template if:true={product.promoDescription}> • {product.promoDescription}<br /> </template>
									<template for:each={product.discount} for:item="discount">
										<div key={discount.name}>
											<p style="border: 0px">• {discount.name}</p>
										</div>
									</template>
								</div>
							</th>
							<th>
								<div class="slds-truncate slds-text-align_center"><b>{product.quantity}</b><br /></div>
							</th>
							<template for:each={product.prices.monthly} for:item="p">
								<td key={p.label}>
									<div class="slds-truncate slds-text-align_center">
										<template if:true={p.priceData.hasPrice}>
											<template if:true={p.priceData.isNull}>
												<lightning-formatted-number
													value={p.priceData.formattedPrice}
													format-style="currency"
													currency-code="EUR"
												>
												</lightning-formatted-number>
											</template>
											<template if:false={p.priceData.isNull}>
												<strong
													><lightning-formatted-number
														value={p.priceData.formattedPrice}
														format-style="currency"
														currency-code="EUR"
													>
													</lightning-formatted-number
												></strong>
											</template>
										</template>
									</div>
								</td>
							</template>
							<td>
								<div class="slds-truncate slds-text-align_center">
									<template if:true={product.prices.oneOff.priceData.hasPrice}>
										<template if:true={product.prices.oneOff.priceData.isNull}>
											<lightning-formatted-number
												value={product.prices.oneOff.priceData.formattedPrice}
												format-style="currency"
												currency-code="EUR"
											>
											</lightning-formatted-number>
										</template>
										<template if:false={product.prices.oneOff.priceData.isNull}>
											<strong>
												<lightning-formatted-number
													value={product.prices.oneOff.priceData.formattedPrice}
													format-style="currency"
													currency-code="EUR"
												>
												</lightning-formatted-number>
											</strong>
										</template>
									</template>
								</div>
							</td>
						</tr>
					</template>
				</tbody>
				<tfoot>
					<tr>
						<th>
							<div class="slds-truncate">
								<div class="slds-p-vertical_x-small">
									<b class="slds-p-vertical_x-small">TOTAL</b>
								</div>
							</div>
						</th>
						<th class="" scope="col">
							<div class="slds-p-vertical_x-small">&nbsp;</div>
						</th>
						<template for:each={totals} for:item="total">
							<th key={total.label}>
								<div class="slds-truncate slds-text-align_center">
									<b>
										<lightning-formatted-number value={total.price} format-style="currency" currency-code="EUR">
										</lightning-formatted-number>
									</b>
								</div>
							</th>
						</template>
					</tr>
				</tfoot>
			</table>
		</template>

		<template if:false={showBody}>
			<p class="slds-p-around_small">Nothing selected</p>
		</template>
	</div>
</template>
