.THIS {
    font-size: 14px;
}

.THIS a.slds-path__link {
    text-decoration: none;
}

/* prevents click on inner span */
.THIS a.slds-path__link span.slds-path__title {
    pointer-events: none;
}

/* Show step title for completed steps as well */
.THIS .slds-path__nav .slds-is-complete .slds-path__title {
    transform: rotateX(0deg);
}
.THIS .slds-path__nav .slds-is-complete .slds-path__link {
    color: #fff;
}


.THIS .slds-path__nav .slds-is-complete .slds-path__stage {
    /* transition: unset; */
    transform: none;
    text-align: left;
    display: block;
    position: static;
    width: auto;
    margin: 0 7px;
}

.THIS .cPp_journeyPath .slds-path__nav .slds-is-complete .slds-path__title {
    display: inline-block;
    /* transition: unset; */
    transform: none;
}

.THIS .slds-is-complete .slds-icon-text-default {
    fill: #FFF;
}