<template>
	<section
		role="dialog"
		tabindex="-1"
		aria-labelledby="modal-heading-01"
		aria-modal="true"
		class="slds-modal slds-fade-in-open"
	>
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Import CSV</h1>
			</div>
			<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
				<lightning-combobox
					width="100"
					name="csvSeparator"
					label="Select a separator for your CSV File"
					value={separator}
					placeholder=";"
					onchange={handleChangeSeparator}
					options={options}
					class="customWidth"
				></lightning-combobox>
				<lightning-input
					type="file"
					name="file uploader"
					onchange={handleFileUpload}
					data-fieldname="Title"
					multiple
					accept={acceptedFormats}
					variant="label-hidden"
					draggable={handleFileUpload}
				>
				</lightning-input>
				<template if:true={failSelected}>
					<p>{fileName}</p>
				</template>
			</div>
			<div class="slds-modal__footer">
				<button
					class="slds-button slds-button_neutral"
					onclick={handleClose}
					aria-label="Cancel and close"
				>
					Cancel
				</button>
				<button class="slds-button slds-button_brand" onclick={handleSubmit}>Submit</button>
			</div>
		</div>
	</section>
	<div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>