<!--
    @author            : Rahul Sharma
    @description       : component to show the validation for billing objects
-->
<template>
	<p if:true={isLoading} class="slds-text-color_weak">Loading...</p>
	<template if:true={hasRecordId}>
		<div if:false={isSuccess} class={messagePanelContainerClass}>
			<div if:true={errors} class={messagePanelClass}>
				<div if:true={showRequired}>
					<span class="slds-assistive-text">error</span>
					<span class="slds-icon_container slds-var-m-right_x-small">
						<lightning-icon icon-name="utility:error" alternative-text="error" variant="inverse" size="x-small"></lightning-icon>
					</span>
				</div>
				<div class="slds-text-align_left">
					<template for:each={errors} for:item="error">
						<h2 key={error.key}>{error.value}</h2>
					</template>
				</div>
			</div>
		</div>

		<template if:true={errorMessage}>
			<p>Something went wrong: {errorMessage}</p>
		</template>
		<lightning-icon
			if:true={isSuccess}
			icon-name="utility:success"
			alternative-text="No errors found icon"
			size="small"
			variant="success"
		></lightning-icon>
	</template>
</template>
