<template>
	<div class="slds-grid slds-gutters slds-var-p-top_large">
		<div class="slds-col slds-size_1-of-4">
			<lightning-vertical-navigation selected-item={activeTab} onselect={handleSelectTab}>
				<lightning-vertical-navigation-section label="Products">
					<lightning-vertical-navigation-item-icon label="Internet" name={INTERNET_PRODUCT_TYPE} icon-name="utility:world">
					</lightning-vertical-navigation-item-icon>
					<template if:true={tvProductsShow}>
						<lightning-vertical-navigation-item-icon label="TV" name={TV_PRODUCT_TYPE} icon-name="utility:screen">
						</lightning-vertical-navigation-item-icon>
					</template>
					<template if:true={telephonyProductsShow}>
						<lightning-vertical-navigation-item-icon label="Telephony" name={TELEPHONY_PRODUCT_TYPE} icon-name="utility:call">
						</lightning-vertical-navigation-item-icon>
					</template>
				</lightning-vertical-navigation-section>
			</lightning-vertical-navigation>
		</div>
		<div class="slds-col slds-size_3-of-4">
			<div data-id="internet-tab" class={isInternet}>
				<c-order-entry-product-internet
					opportunity-id={opportunityId}
					products={internetProducts}
					selected-product={selectedInternetProduct}
					selected-addons={selectedInternetAddons}
					contract-term={bundle.contractTerm}
				>
				</c-order-entry-product-internet>
			</div>
			<template if:true={tvProductsShow}>
				<div data-id="tv-tab" class={isTv}>
					<c-order-entry-product-tv
						opportunity-id={opportunityId}
						products={tvProducts}
						selected-product={selectedTVProduct}
						selected-addons={selectedTVAddons}
					>
					</c-order-entry-product-tv>
				</div>
			</template>
			<template if:true={telephonyProductsShow}>
				<div data-id="telephony-tab" class={isTelephony}>
					<c-order-entry-product-telephony
						opportunity-id={opportunityId}
						products={telephonyProducts}
						selected-product={selectedTelephonyProduct}
						secondary-selected-product={selectedSecondaryTelephonyProduct}
						selected-addons={selectedTelephonyAddons}
						telephony={bundle.telephony}
					>
					</c-order-entry-product-telephony>
				</div>
			</template>
		</div>
	</div>
</template>
