<template>
	<c-order-entry-account-details
		account-id={accountId}
		journey-type={journeyType}
		b2c-internet-customer={b2cInternetCustomer}
		opportunity-id={opportunityId}
		site={site}
		bundles={bundles}
	></c-order-entry-account-details>
	<c-order-entry-contact-details
		contact-id={contactId}
		opportunity-id={opportunityId}
		account-id={accountId}
		journey-type={journeyType}
	></c-order-entry-contact-details>
</template>
