<!--
    @author            : Rahul Sharma
    @description       : shows a hyperlink with a lightning friendly generated URL
-->

<template>
	<lightning-formatted-url if:true={label} label={label} value={url} tooltip={title} target={target}></lightning-formatted-url>
</template>
