<template>
	<div class="slds-m-top_large"></div>
	<c-order-entry-automatic-promotions
		promotions={automaticPromotions}
		class="slds-m-bottom_medium"
		style="display: block"
	></c-order-entry-automatic-promotions>
	<div class="slds-m-top_large"></div>
	<c-order-entry-bundle-promotion
		promotions={bundlePromotions}
		class="slds-m-bottom_medium"
		style="display: block"
		onselectedpromotion={handleSelectedPromotion}
		onb2ctoggle={handleB2cToggle}
		b2c-internet-customer={b2cInternetCustomer}
		site={installationSite}
		bundle={bundle}
	></c-order-entry-bundle-promotion>
	<template if:true={specialPromotionsExist}>
		<c-order-entry-special-promotions
			promotions={specialPromotions}
			class="slds-m-bottom_medium"
			style="display: block"
			onselectedpromotion={handleSelectedPromotion}
			onremovespecialpromotion={handleRemoveSpecialPromotion}
			b2c-internet-customer={b2cInternetCustomer}
			site={installationSite}
			bundle={bundle}
		></c-order-entry-special-promotions>
	</template>
	<template if:false={specialPromotionsExist} class="slds-m-bottom_medium">
		<div class="slds-m-bottom_medium">
			<lightning-card title="Special Promotions" icon-name="utility:money" class="slds-m-bottom_medium">
				<div class="slds-p-horizontal_small slds-col">
					<lightning-formatted-text value="No Special Promotions available"></lightning-formatted-text>
				</div>
			</lightning-card>
		</div>
	</template>
</template>
