<template>
	<section
		role="dialog"
		tabindex="-1"
		aria-labelledby="modal-heading-01"
		aria-modal="true"
		aria-describedby="modal-content-id-1"
		class="slds-modal slds-fade-in-open"
	>
		<div class="slds-modal__container">
			<header class="slds-modal__header">
				<button
					class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
					title="Close"
					onclick={onCancel}
					disabled={loading}
				>
					<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
					<span class="slds-assistive-text">Close</span>
				</button>
				<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Porting</h2>
			</header>
			<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
				<lightning-input
					type="date"
					name="contractEndDate"
					label="Contract End Date"
					value={porting.contractEndDate}
					max={maxDate}
					message-when-range-overflow="Porting is possible only for subscriptions up to 120 days in the future."
					onchange={handleContractEndDateChange}
					class="contract-end-date"
					date-style="short"
					required={getIsRequired}
				></lightning-input>
				<lightning-combobox
					name="type"
					label="Type"
					placeholder="Select"
					options={types}
					value={porting.type}
					onchange={handleTypeChange}
					class="type"
					required
				></lightning-combobox>
				<lightning-combobox
					name="currentSimType"
					label="Current Sim Type"
					placeholder="Select"
					options={currentSimTypes}
					value={porting.currentSimType}
					onchange={handleCurrentSimTypeChange}
					class="current-sim-type"
					required
				></lightning-combobox>
				<lightning-input
					name="mobileNumber"
					label="Mobile Number"
					value={porting.mobileNumber}
					onchange={handleMobileNumberChange}
					class="mobile-number"
					required
				></lightning-input>
				<lightning-input
					name="contractNumber"
					label="Contract Number"
					value={porting.contractNumber}
					onchange={handleContractNumberChange}
					class="contract-number"
					required={getIsRequired}
				></lightning-input>
			</div>
			<footer class="slds-modal__footer">
				<button class="slds-button slds-button_neutral" onclick={onDelete} title="Delete Porting">Delete</button>
				<button class="slds-button slds-button_neutral" onclick={onCancel} title="Cancel">Cancel</button>
				<button class="slds-button slds-button_brand" onclick={onConfirm} title={getButtonTitle}>{getButtonTitle}</button>
			</footer>
		</div>
	</section>
	<div class="slds-backdrop slds-backdrop_open"></div>
</template>
