<template>
	<lightning-card title="Payment Details" icon-name="standard:buyer_account">
		<div class="slds-var-p-horizontal_small">
			<div class="slds-grid slds-wrap">
				<div class="slds-col slds-size_1-of-2 slds-var-p-right_medium slds-var-p-top_medium">
					<lightning-input
						type="text"
						label="Bank Account Holder"
						value={payment.bankAccountHolder}
						data-id="bankAccountHolder"
						onfocusout={handlePaymentChange}
						class="bank-account-holder"
						required="true"
						message-when-value-missing="Bank Account Holder missing"
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2 slds-var-p-top_medium slds-var-p-left_medium">
					<lightning-combobox
						label="Payment Type"
						data-id="paymentType"
						value={payment.paymentType}
						placeholder="Select Payment Type"
						options={paymentTypes}
						onchange={handlePaymentChange}
						class="payment-type"
						dropdown-alignment="auto"
						disabled={isMobile}
					></lightning-combobox>
				</div>

				<div class="slds-col slds-size_1-of-2 slds-var-p-top_medium slds-var-p-right_medium">
					<lightning-input
						type="text"
						label="IBAN"
						value={payment.iban}
						data-id="iban"
						onfocusout={handlePaymentChange}
						class="iban"
						required={isMobile}
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2 slds-var-p-top_medium slds-var-p-left_medium">
					<lightning-combobox
						label="Billing Channel"
						data-id="billingChannel"
						value={payment.billingChannel}
						placeholder="Select Billing Channel"
						options={billingChannels}
						onchange={handlePaymentChange}
						class="billing-channel"
						dropdown-alignment="auto"
					></lightning-combobox>
				</div>

				<div class="slds-col slds-size_1-of-2 slds-var-p-top_medium slds-var-p-right_medium">
					<lightning-input
						type="text"
						label="Street"
						value={payment.street}
						data-id="street"
						onfocusout={handlePaymentChange}
						class="street"
						required="true"
						message-when-value-missing="Street missing"
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2 slds-var-p-top_medium slds-var-p-left_medium">
					<lightning-input
						type="text"
						label="Postal Code"
						value={payment.postalCode}
						data-id="postalCode"
						onfocusout={handlePaymentChange}
						class="postal-code"
						required="true"
						message-when-value-missing="Postal Code missing"
					></lightning-input>
				</div>

				<div class="slds-col slds-size_1-of-4 slds-var-p-top_medium slds-var-p-right_medium">
					<lightning-input
						type="number"
						label="House Number"
						value={payment.houseNumber}
						data-id="houseNumber"
						onfocusout={handlePaymentChange}
						class="house-number"
						required="true"
						message-when-value-missing="House Number missing"
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-4 slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
					<lightning-input
						type="text"
						label="House Number Suffix"
						value={payment.houseNumberSuffix}
						data-id="houseNumberSuffix"
						onfocusout={handlePaymentChange}
						class="house-number-suffix"
					></lightning-input>
				</div>
				<div class="slds-col slds-size_2-of-4 slds-var-p-top_medium slds-var-p-left_medium">
					<lightning-input
						type="text"
						label="City"
						value={payment.city}
						data-id="city"
						onfocusout={handlePaymentChange}
						class="city"
						required="true"
						message-when-value-missing="City missing"
					></lightning-input>
				</div>
			</div>
		</div>
	</lightning-card>
</template>
