<template>
    <div class="slds-visual-picker slds-visual-picker_medium">
        <!--<input type="radio" id="visual-picker-364" value="visual-picker-364" name="example-unique-name-138" />
        <label for="visual-picker-364">
            <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                <span>
                    <span class="slds-text-heading_large">$30</span>
                    <span class="slds-text-title">USD/user/month *</span>
                </span>
            </span>
            <span class="slds-visual-picker__body">
                <span class="slds-text-heading_small">Lightning Professional</span>
                <span class="slds-text-title">Complete service CRM for teams of any size</span>
            </span>
        </label>
        -->
        <div style="margin: 5px;">
            <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                <span>
                    <span class="slds-text-heading_large">{product.price}</span>
                    <br />
                    <span class="slds-text-title">{product.details.access}</span>
                    <span class="slds-text-title">{product.details.evc}</span>
                    <span class="slds-text-title">{product.details.cpe}</span>
                    <span class="slds-text-title">{product.details.internet}</span>
                </span>
            </span>
            <span class="slds-visual-picker__body">
                <span class="slds-text-heading_small">{product.name}</span>
            </span>
        </div>
    </div>
</template>