<template>
	<lightning-card title="Internet Products" icon-name="custom:custom68">
		<div class="slds-p-horizontal_small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col">
					<lightning-combobox
						name="internetProduct"
						label="Internet Product"
						value={selectedPoductId}
						placeholder="Select Product"
						options={formattedProducts}
						class="slds-m-bottom_x-small internet-product"
						onchange={handleProductChange}
						required
					>
					</lightning-combobox>
					<lightning-combobox
						name="contractTerm"
						label="Contract Term"
						value={_contractTerm}
						placeholder="Select"
						options={contractTerms}
						onchange={handleContractTermChange}
						class="contract-term"
						required
					></lightning-combobox>
				</div>
				<div class="slds-col">
					<template if:true={internetSecurityAddonsShow}>
						<lightning-combobox
							name="security"
							label="Security"
							value={selectedSecurityAddon}
							placeholder="Select"
							options={internetSecurityAddons}
							class="slds-m-bottom_x-small"
							onchange={handleSelectedSecurity}
						></lightning-combobox>
					</template>
					<template if:true={pinZekerAddon}>
						<div class="slds-p-top_large" style="display: inline-flex; width: auto">
							<lightning-input
								type="toggle"
								label="Pin Zeker"
								name="pinZeker"
								message-toggle-active=""
								message-toggle-inactive=""
								checked={pinZeker}
								onchange={handlePinZeker}
								disabled={pinZekerAddon.Automatic_Add_On__c}
							></lightning-input>
						</div>
					</template>
				</div>
			</div>
		</div>
	</lightning-card>
</template>
