<template>
	<c-order-entry-installation-address
		site-id={site.siteId}
		account-id={accountId}
		opportunity-id={opportunityId}
		journey-type={journeyType}
	></c-order-entry-installation-address>
	<template if:true={isFixed}>
		<c-order-entry-address-check site={site}></c-order-entry-address-check>
	</template>
</template>
