:host {
    --lwc-colorBackgroundPathActive: rgb(1, 68, 134);
    --lwc-colorBackgroundPathCurrent: rgb(255, 255, 255);
    --lwc-colorBackgroundPathComplete: rgb(69, 198, 90);
}

.read-only-progress-indicator {
    pointer-events: none;
}