<template>
    <div class={progressContainerClass}>
        <a href="#"></a>
        <lightning-progress-indicator
            current-step={currentStep}
            type="path"
        >
            <template for:each={steps} for:item="step">
                <lightning-progress-step
                    label={step}
                    value={step}
                    key={step}
                ></lightning-progress-step>
            </template>
        </lightning-progress-indicator>
    </div>
</template>