<template>
	<div class="slds-grid slds-gutters slds-var-p-top_large">
		<div class="slds-col slds-size_1-of-4">
			<lightning-vertical-navigation selected-item={activeTab} onselect={handleSelectTab}>
				<lightning-vertical-navigation-section label="Products">
					<lightning-vertical-navigation-item-icon label="Mobile" name={MOBILE_PRODUCT_TYPE} icon-name="utility:phone_portrait">
					</lightning-vertical-navigation-item-icon>
				</lightning-vertical-navigation-section>
			</lightning-vertical-navigation>
		</div>
		<div class="slds-col slds-size_3-of-4">
			<div data-id="mobile-tab" class={isMobile}>
				<c-order-entry-product-mobile
					main-product={mainProduct}
					products={mobileProducts}
					sim-card-products={simCardProducts}
					bundles={bundles}
				>
				</c-order-entry-product-mobile>
			</div>
		</div>
	</div>
</template>
