<template>
	<template if:true={openModal}>
		<section
			role="dialog"
			tabindex="-1"
			aria-labelledby="modal-heading-01"
			aria-modal="true"
			aria-describedby="modal-content-id-1"
			class="slds-modal slds-fade-in-open slds-modal_medium"
		>
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button
						class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
						title="Close"
						onclick={closeModal}
						disabled={loading}
					>
						<lightning-icon
							icon-name="utility:close"
							alternative-text="close"
							variant="inverse"
							size="small"
						></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
						Finish
					</h2>
				</header>
				<div
					if:true={loading}
					class={showSpinner}
					id="modal-content-id-1"
					style="height: 300px"
				>
					<lightning-spinner
						class="spins"
						alternative-text="Loading"
						size="medium"
						variant="brand"
					></lightning-spinner>
				</div>

				<footer class="slds-modal__footer">
					<template if:true={showSendQuote}>
						<button
							disabled={loading}
							class="slds-button slds-button_brand"
							onclick={sendQuote}
							title="Send Quote"
						>
							Send Quote
						</button>
					</template>

					<template if:true={showSendSignedConfirmation}>
						<button
							disabled={loading}
							class="slds-button slds-button_brand"
							onclick={sendSignedConfirmation}
							title="Send Confirmation"
						>
							{sendConfirmationLabel}
						</button>
					</template>
					<!-- <button
						disabled={loading}
						class="slds-button slds-button_brand"
						onclick={newOrder}
						title="New Order"
					>
						New Order
					</button> -->

					<button
						disabled={loading}
						class="slds-button slds-button_neutral"
						onclick={closeApp}
						title="Cancel"
					>
						Go to Opportunity
					</button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>
