<template>
	<c-order-entry-tv-product-form
		products={products}
		addons={addons}
		selected-product={selectedProduct}
		onselectedproduct={handleProductChange}
		onrendered={handleRenderedChange}
		class="slds-m-bottom_medium"
		style="display: block"
	>
	</c-order-entry-tv-product-form>
	<template if:true={addonsExist}>
		<c-order-entry-tv-additional-form addons={addons} selected-addons={_selectedAddons} onchangedaddon={handleChangedAddon}>
		</c-order-entry-tv-additional-form>
	</template>
</template>
