<template>
	<div class="slds-m-top_large"></div>
	<c-order-entry-installation-porting bundles={bundles}></c-order-entry-installation-porting>
	<div class="slds-m-top_medium"></div>
	<c-order-entry-installation-notes notes={notes} onnoteschange={notesChange}> </c-order-entry-installation-notes>
</template>
