<template>
	<!-- <template if:false={isDesktop}></template> -->
	<lightning-card variant="narrow" class="vz-card" title={_title} icon-name={_icon}>
		<template if:true={loadInProgress}>
			<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
		</template>
		<div slot="actions">
			<lightning-combobox
				name="folder"
				value={selectedFolder}
				placeholder="Select Folder"
				options={options}
				onchange={handleFolderChange}
			></lightning-combobox>
		</div>
		<template if:false={hasError}>
			<template if:true={hasDashboards}>
				<template for:each={dashboards} for:item="dashboard">
					<c-vz-enriched-list-element
						key={dashboard.Id}
						title={dashboard.Title}
						description={dashboard.Description}
						uri={_dashboardUri}
						record-id={dashboard.Id}
					>
						<span slot="additionalInformation" class="slds-text-body_small">
							Folder Name: {dashboard.FolderName} | Last Viewed: {dashboard.LastViewedDate}
						</span>
					</c-vz-enriched-list-element>
				</template>
			</template>
			<template if:false={hasDashboards}>
				<c-vz-illustration-provider
					message="No dashboards were returned, please contact your system administrator."
					svgname="showempty"
				></c-vz-illustration-provider>
			</template>
			<template if:true={hasMoreItems}>
				<div class="vz-footer slds-align_absolute-center slds-p-top_small">
					<lightning-button
						variant="base"
						label="Load more dashboards."
						title="Load more dashboards."
						onclick={loadMore}
					></lightning-button>
				</div>
			</template>
		</template>
		<template if:true={hasError}>
			<c-vz-illustration-provider message={errorMessage} svgname="broken"></c-vz-illustration-provider>
		</template>
	</lightning-card>
</template>
