<template>
	<div class="slds-section slds-is-open">
		<h3 class="slds-section__title slds-theme_shade header">
			<span class="slds-truncate slds-p-horizontal_small" title={label.header}> {label.header} </span>
		</h3>
		<div aria-hidden="false" class="slds-section__content">
			<lightning-record-view-form object-api-name="ServiceResource" record-id={businessConsultantId} density="comfy" onload={load}>
				<div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_x-small slds-m-top_xx-small">
					<div class="slds-col slds-size_1-of-2">
						<div class="element_readonly">
							<span class="slds-form-element__label">Vereiste business consultant</span>
							<lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
						</div>
					</div>
				</div>
			</lightning-record-view-form>
		</div>
	</div>
</template>
