<template>
	<template if:true={account}>
		<div class="slds-p-top_medium">
			<lightning-card title="Account Details" icon-name="standard:account">
				<lightning-input
					type="toggle"
					label="B2C Internet Customer"
					name="b2cInternetCustomer"
					checked={b2cChecked}
					message-toggle-active=""
					message-toggle-inactive=""
					onchange={handleB2cChange}
					disabled={disabledB2cInternetCustomer}
					slot="actions"
				></lightning-input>
				<div class="slds-grid slds-gutters slds-p-left_medium slds-p-right_medium">
					<div class="slds-col slds-size_1-of-2">
						<lightning-input type="text" name="name" label="Account" disabled value={account.Name}></lightning-input>
					</div>
					<div class="slds-col slds-size_1-of-2">
						<lightning-input type="text" name="kvk" label="KVK Number" disabled value={account.KVK_number__c}></lightning-input>
					</div>
				</div>

				<div if:true={mobileJourney}>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="date"
								required="true"
								name="Date_of_Establishment__c"
								label="Date of Establishment"
								max={todaysDate}
								message-when-range-overflow="The Date of Establishment must be in the past."
								value={account.Date_of_Establishment__c}
								onchange={handleFormInputChange}
								date-style="short"
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-combobox
								required="true"
								name="LG_LegalForm__c"
								options={options}
								label="Legal form"
								value={account.LG_LegalForm__c}
								onchange={handleFormInputChange}
							></lightning-combobox>
						</div>
					</div>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="text"
								pattern="^(NL)?[0-9]{9}B[0-9]{2}$"
								message-when-pattern-mismatch="VAT Number must start with NL followed by 9 digits, the letter B and 2 digits. (e.g. NL123456789B99)"
								name="VAT_Number__c"
								label="VAT Number"
								value={account.VAT_Number__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
				</div>
			</lightning-card>
		</div>
	</template>
</template>
