<template>
	<div class="slds-section slds-is-open">
		<h3 class="slds-section__title slds-theme_shade header">
			<span class="slds-truncate slds-p-horizontal_small" title={label.sectionHeader}> {label.sectionHeader} </span>
		</h3>
		<div aria-hidden="false" class="slds-section__content">
			<div class="slds-grid slds-wrap slds-gutters slds-grid_align-spread slds-p-horizontal_x-small slds-m-top_xx-small">
				<div class="slds-col slds-size_1-of-2">
					<div class="element_readonly">
						<span class="slds-form-element__label">{label.workType}</span>
						<p>
							<lightning-formatted-text value={workTypeGroupName}></lightning-formatted-text>
						</p>
					</div>
				</div>

				<div class="slds-col slds-size_1-of-2">
					<div class="element_readonly">
						<span class="slds-form-element__label">{label.address}</span>
						<p>
							<lightning-formatted-text value={address}></lightning-formatted-text>
						</p>
					</div>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<span class="slds-form-element__label">{label.description}</span>
					<lightning-textarea name="Description" value={description} onchange={handleChange}></lightning-textarea>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<span class="slds-form-element__label">{label.numberOfEmployees}</span>
					<lightning-input type="number" name="Number_of_employees__c" value={numberOfEmployees} onchange={handleChange}></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<div class="element_readonly">
						<span class="slds-form-element__label">{label.apptType}</span>
						<p>
							<lightning-formatted-text value={serviceAppointmentLabel.data}></lightning-formatted-text>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
