.element_readonly {
	padding: 0.25rem;
	border-bottom: 1px solid #d4d4d4;
	min-height: 52.5px;
}

.header {
	border: none;
	background-color: #f4f6f9;
	color: #16325c;
	font-size: 1.25rem;
	padding: 0;
}
