<template>
	<div class="slds-section slds-is-open">
		<h3 class="slds-section__title slds-theme_shade header">
			<span class="slds-truncate slds-p-horizontal_small" title={label.sectionHeader}> {label.sectionHeader} </span>
		</h3>
		<div aria-hidden="false" class="slds-section__content" if:true={load}>
			<div class="slds-grid slds-wrap slds-gutters slds-grid_align-spread slds-p-horizontal_x-small slds-m-top_xx-small">
				<div class="slds-col slds-size_1-of-2">
					<lightning-input
						type="text"
						name="FirstName"
						value={lead.FirstName}
						label={label.fName}
						onchange={handleChange}
						required
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<lightning-input
						type="text"
						name="LastName"
						value={lead.LastName}
						label={label.lName}
						onchange={handleChange}
						required
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<lightning-input
						type="email"
						name="Email"
						value={lead.Email}
						label={label.email}
						onchange={handleChange}
						required
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<lightning-input
						type="text"
						name="Phone"
						value={lead.Phone}
						label={label.phone}
						onchange={handleChange}
						required
					></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<lightning-input type="text" name="Company" value={lead.Company} label={label.company} onchange={handleChange}></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-2">
					<span class="slds-form-element__label">{label.optin}</span>
					<lightning-input
						type="checkbox"
						name="Marketing_Commercial_News__c"
						checked={lead.optInEmailNotification}
						onchange={handleChange}
						class="slds-m-top_xxx-small"
					></lightning-input>
				</div>
			</div>
		</div>
	</div>
</template>
