<apex:component controller="ApprovedOrUsageEmailController" access="global">
    <apex:attribute name="request" type="Id" description="" assignTo="{!entryId}" access="global"/>

    Dear {!emailActivity.appro__Approver_User__r.Name}, <br/>
    <br/>
    
    <!-- either put approved confirmation, or request for usage (depending on type of approval) -->
    <apex:outputPanel rendered="{!!emailActivity.appro__Approval_Request__r.Usage_Required__c }">
    Your record <a href="{!emailActivity.Email_Record_URL__c }">
        {!emailActivity.appro__Approval_Request__r.appro__Record_Name__c}</a> was approved by:
        {!emailActivity.appro__Approval_Request__r.LastModifiedBy.Name}.<br/>

    </apex:outputPanel>
    
    <apex:outputPanel rendered="{!emailActivity.appro__Approval_Request__r.Usage_Required__c }">
    Your record <a href="{!emailActivity.Email_Record_URL__c}">
        {!emailActivity.appro__Approval_Request__r.appro__Record_Name__c}</a> requires the entry of usage information. Please go to the basket and add usage information.
    <br/>

    </apex:outputPanel>    
        
    <br/>

    Best regards,<br/>
    Your Salesforce Admins

</apex:component>