<apex:component controller="LG_OpportunityOrderDetailController" access="global">
    
    <style>
        
        .cs_mailtable {
            border-spacing: 0px;
            border-collapse: collapse;
            /*border: 1px solid gray;*/
        }
        
        .cs_mailtable td, .cs_mailtable th {
            padding: 5px;
            text-align: left;
        }

    </style>
    
    <!-- Attributes -->
    <apex:attribute name="relatedToOpportunity" type="Opportunity" assignTo="{!relatedTo}" description="The Opportunity record that is the source of displayed data." />
    <!-- GUI -->
    <apex:variable var="domain" value="{! LEFT($Api.Enterprise_Server_URL_310, FIND('.salesforce.com/', $Api.Enterprise_Server_URL_310) + LEN('.salesforce.com/') - 2) }"/>
    
    <!--<p>
        <apex:outputText value="{! $Label.LG_OpportunityDetail }: "/> 
        <apex:outputLink value="{! domain }/{! relatedTo.Id }">{!relatedTo.Name}</apex:outputLink>
    </p>-->

    <table class="cs_mailtable">
        <thead>
            <tr>
                <th>
                    Relatie Nummer
                </th>
                <th>
                    Product
                    <!-- {! $Label.LG_Product } -->
                </th>
                <th>
                    Installatieadres
                    <!-- {! $Label.LG_InstallationAddress } -->
                </th>
                <th>
                    Opzegdatum
                    <!-- {! $Label.LG_TerminationWishDate } -->
                </th>
                
            </tr>
        </thead>
        <tbody>
            
            <apex:repeat var="p" value="{! pcs }">
                <tr>
                    <td><apex:outputText value="{! p.accountNumber }" /></td>
                    <td><apex:outputText value="{! p.productName }" /></td>
                    <td><apex:outputText value="{! p.fullAddress }" /></td>
                    <td><apex:outputText value="{! p.displayDate }" /></td>
                    
                </tr>
            </apex:repeat>

        </tbody>
    </table>
    <br/>
    <apex:outputText value="Aangezien de looptijd van de overeenkomst nog niet is verstreken, 
                             is er in een eerder stadium hierover contact met u opgenomen. 
                             Voor de resterende looptijd bent u akkoord gegaan met het betalen van een afkoopsom ten bedrage van €{!finalPenaltyFee} (excl. BTW). 
                             Dit bedrag zullen wij bij de laatste factuur in rekening brengen." rendered="{!IF(FLOOR(finalPenaltyFee) > 0, TRUE, FALSE)}" label=""/>
   

</apex:component>