<apex:component controller="OrderFormComponentsListController">
    <apex:attribute name="currentOrder" required="true" description="This is the current order."  type="Order__c" assignTo="{!theCurrentOrder}"/>

    <style>
        .currentPage > td { 
            color: #363636;      
            background-color: #B0E1FA;
        }
        .currentPage > td:first-child {
          border-radius: 5px 0 0 5px;
          -moz-border-radius: 5px 0 0 5px;
        }
        
        .currentPage > td:last-child {
          border-radius: 0 5px 5px 0; 
          -moz-border-radius: 0 5px 5px 0;
        }      
        
        .compTable {border-spacing: 0px;}
        .compTable td {padding-bottom: 1em; padding-top: 1em;}
       
    </style>
    <apex:outputPanel id="menu-container">
        <apex:pageBlock >
            <apex:outputPanel styleclass="pbTitle"><h2 class="mainTitle">Order Cleaning</h2></apex:outputPanel>
            <table class="compTable" style="width:150px" >
                <tr class="{!IF(LOWER($CurrentPage.name)=LOWER(customerComponent.PageName),'currentPage','')}" >
                    <td class="cell"><apex:image id="custflag"  value="{!customerComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Customer__c}" value="{!customerComponent.url}">{!customerComponent.Name}</apex:outputLink></td>
                </tr>
                <tr class="{!IF(LOWER($CurrentPage.name)=LOWER(billingComponent.PageName),'currentPage','')}" >
                    <td class="cell"><apex:image id="billflag"  value="{!billingComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Billing__c}" value="{!billingComponent.url}">{!billingComponent.Name}</apex:outputLink></td>
                </tr>            
                <tr class="{!IF($CurrentPage.name=orderComponent.PageName,'currentPage','')}" > 
                    <td class="cell"><apex:image id="orderflag"  value="{!orderComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Order__c}" value="{!orderComponent.url}">{!orderComponent.Name}</apex:outputLink></td>
                </tr>

                <tr style="{!IF(ISNULL(deliveryComponent),'display:none;','')}" class="{!IF($CurrentPage.name=deliveryComponent.PageName,'currentPage','')}" >
                    <td class="cell"><apex:image id="delflag"  value="{!deliveryComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Delivery__c}" value="{!deliveryComponent.url}">{!deliveryComponent.Name}</apex:outputLink></td>
                </tr>        
                <tr style="{!IF(ISNULL(ctnComponent),'display:none;','')}" class="{!IF($CurrentPage.name=ctnComponent.PageName,'currentPage','')}" >
                    <td class="cell"><apex:image id="ctnflag"  value="{!ctnComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_CTN__c}" value="{!ctnComponent.url}">{!ctnComponent.Name}</apex:outputLink></td>
                </tr>                    

                <tr style="{!IF(ISNULL(numberportingComponent),'display:none;','')}" class="{!IF($CurrentPage.name=numberportingComponent.PageName,'currentPage','')}" >
                    <td class="cell"><apex:image id="npflag"  value="{!numberportingComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Numberblocks__c}" value="{!numberportingComponent.url}">{!numberportingComponent.Name}</apex:outputLink></td>
                </tr>
                <tr style="{!IF(ISNULL(phonebookRegistrationComponent),'display:none;','')}" class="{!IF($CurrentPage.name=phonebookRegistrationComponent.PageName,'currentPage','')}" >
                    <td class="cell"><apex:image id="pbrflag"  value="{!phonebookRegistrationComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_PhonebookRegistration__c}" value="{!phonebookRegistrationComponent.url}">{!phonebookRegistrationComponent.Name}</apex:outputLink></td>
                </tr>              
                <apex:repeat value="{!otherOrderFormComponentList}" var="comp">
                    <tr class="{!IF($CurrentPage.name=comp.PageName,'currentPage','')}">
                        <td class="cell"><apex:image id="greenflag"  value="{!comp.imgUrl}" /></td>
                        <td class="cell"><apex:outputLink value="{!comp.url}">{!comp.Name}</apex:outputLink></td>
                    </tr>
                </apex:repeat>
            </table>
        </apex:pageBlock>
        <apex:pageBlock >
            <apex:outputPanel styleclass="pbTitle"><h2 class="mainTitle">Order Processing</h2></apex:outputPanel>
            <table class="compTable" style="width:150px" >
                <tr class="{!IF(LOWER($CurrentPage.name)=LOWER(orderProgressComponent.PageName),'currentPage','')}" >
                    <td class="cell"><apex:image id="progressflag"  value="{!orderProgressComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Progress__c}" value="{!orderProgressComponent.url}">{!orderProgressComponent.Name}</apex:outputLink></td>
                </tr>    
                <tr class="{!IF(LOWER($CurrentPage.name)=LOWER(contractedProductsComponent.PageName),'currentPage','')}" >
                    <td class="cell"><apex:image id="cpflag"  value="{!contractedProductsComponent.imgUrl}" /></td>
                    <td class="cell"><apex:outputLink disabled="{!!$Setup.Order_Form_Settings__c.Show_Tab_Progress__c}" value="{!contractedProductsComponent.url}">{!contractedProductsComponent.Name}</apex:outputLink></td>
                </tr>           
            </table>
        </apex:pageBlock>
    </apex:outputPanel>
</apex:component>