<apex:component controller="ApprovedOrUsageEmailController" access="global">
    <apex:attribute name="request" type="Id" description="" assignTo="{!entryId}" access="global"/>

    Dear {!emailActivity.appro__Approver_User__r.Name}, <br/>
    <br/>
    Your record <a href="{!emailActivity.Email_Record_URL__c}">{!emailActivity.appro__Approval_Request__r.appro__Record_Name__c}</a>
    was rejected by {!emailActivity.appro__Approval_Request__r.LastModifiedBy.Name + IF(emailActivity.appro__Approval_Request__r.appro__Rejection_Message__c != null, ' with the following comment ' + emailActivity.appro__Approval_Request__r.appro__Rejection_Message__c, '.')}
    <br/>
    Best regards,<br/>
    Your Salesforce Admins
    
</apex:component>