<template>
	<!-- if any of the child components throws an error, an error banner is displayed at the top of the screen -->
	<template if:true={hasErrors}>
		<div class="slds-grid slds-wrap slds-gutters">
			<div class="slds-col slds-size_1-of-1">
				<!-- message and header properties can be used to customize the error message and the header, respectively -->
				<c-service-appt-toast></c-service-appt-toast>
			</div>
		</div>
	</template>
	<template if:false={childrenLoadComplete}>
		<lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
	</template>
	<h2 class="slds-text-heading_large slds-align_absolute-center slds-m-vertical_small slds-text-color_default">{label.header}</h2>
	<div class="slds-grid slds-wrap slds-gutters">
		<template if:true={showBusinessConsultant}>
			<div class="slds-col slds-size_1-of-1">
				<!-- Business Consultant: show information related to the selected business consultant for the appointment -->
				<c-service-appt-business-consultant-review
					business-consultant-id={businessConsultantId}
					onloadcomplete={businessConsultantLoadEvent}
				></c-service-appt-business-consultant-review>
			</div>
		</template>
		<!-- General Information: fields related to the service appointment record go in this section -->
		<div class="slds-col slds-size_1-of-1">
			<c-service-appt-general-info-review
				work-type-group-id={workTypeGroupId}
				appointment-type={appointmentType}
				onloadcomplete={generalInfoLoadEvent}
				oninfoupdated={generalInfoHandler}
			></c-service-appt-general-info-review>
		</div>
		<!-- Scheduled times: displays the selected start and end datetimes for the appointment -->
		<div class="slds-col slds-size_1-of-1">
			<c-service-appt-times-review
				start-datetime={serviceAppointmentSchedStartTime}
				end-datetime={serviceAppointmentSchedEndTime}
				timezone={timeZone}
				onloadcomplete={apptTimeReviewLoadEvent}
			></c-service-appt-times-review>
		</div>
		<!-- Personal details: Lead related fields. -->
		<div class="slds-col slds-size_1-of-1">
			<c-service-appt-personal-details-review onloadcomplete={personalDetailsLoadEvent} lead={lead}></c-service-appt-personal-details-review>
		</div>
	</div>
</template>
