<template>
	<lightning-quick-action-panel header="Account contact roles" class="action-panel">
		<div class="slds-is-relative overflow-body">
			<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="brand"> </lightning-spinner>
			<lightning-accordion active-section-name={activeSections} allow-multiple-sections-open="true">
				<lightning-accordion-section name="section1" class="section1 slds-is-relative" label="Customer contacts">
					<template if:true={rolesData}>
						<lightning-layout multiple-rows="true">
							<lightning-layout-item padding="around-small" size="6">
								<c-lookup
									class="main-contact-lookup"
									lookup-label="Customer main contact"
									object-name="Contact"
									default-record-id={rolesData.customerMainContactId}
									filter={contactFilter}
									onselected={onCustomerMainContactUpdate}
									required="true"
								></c-lookup>
							</lightning-layout-item>

							<lightning-layout-item class="slds-p-vertical_small slds-p-right_small slds-var-p-left_xx-small" size="6">
								<div class="slds-form-element">
									<label class="slds-form-element__label">Validation errors</label>

									<div class="slds-form-element__control">
										<c-order-billing-validation
											class="main-validation-flag"
											source-record-id={rolesData.customerMainContactId}
											billing-object-record-id={rolesData.customerMainContactRoleId}
											show-required="true"
										></c-order-billing-validation>
									</div>
								</div>
							</lightning-layout-item>

							<lightning-layout-item padding="around-small" size="6">
								<c-lookup
									class="maintenance-contact-lookup"
									lookup-label="Customer maintenance contact"
									object-name="Contact"
									default-record-id={rolesData.customerMaintenanceContactId}
									filter={contactFilter}
									onselected={onCustomerMaintenanceContactUpdate}
								></c-lookup>
							</lightning-layout-item>

							<lightning-layout-item class="slds-p-vertical_small slds-p-right_small slds-var-p-left_xx-small" size="6">
								<div class="slds-form-element">
									<label class="slds-form-element__label">Validation errors</label>

									<div class="slds-form-element__control">
										<c-order-billing-validation
											class="main-validation-flag"
											source-record-id={rolesData.customerMaintenanceContactId}
											billing-object-record-id={rolesData.customerMaintenanceContactRoleId}
											show-required="true"
										></c-order-billing-validation>
									</div>
								</div>
							</lightning-layout-item>

							<lightning-layout-item padding="around-small" size="6">
								<c-lookup
									class="incident-contact-lookup"
									lookup-label="Customer incident contact"
									object-name="Contact"
									default-record-id={rolesData.customerIncidentContactId}
									filter={contactFilter}
									onselected={onCustomerIncidentContactUpdate}
								></c-lookup>
							</lightning-layout-item>

							<lightning-layout-item class="slds-p-vertical_small slds-p-right_small slds-var-p-left_xx-small" size="6">
								<div class="slds-form-element">
									<label class="slds-form-element__label">Validation errors</label>

									<div class="slds-form-element__control">
										<c-order-billing-validation
											class="incident-validation-flag"
											source-record-id={rolesData.customerIncidentContactId}
											billing-object-record-id={rolesData.customerIncidentContactRoleId}
											show-required="true"
										></c-order-billing-validation>
									</div>
								</div>
							</lightning-layout-item>

							<lightning-layout-item padding="around-small" size="6">
								<c-lookup
									class="chooser-contact-lookup"
									lookup-label="Chooser contact"
									object-name="Contact"
									default-record-id={rolesData.customerChooserContactId}
									filter={contactFilter}
									onselected={onCustomerChooserContactUpdate}
								></c-lookup>
							</lightning-layout-item>

							<lightning-layout-item class="slds-p-vertical_small slds-p-right_small slds-var-p-left_xx-small" size="6">
								<div class="slds-form-element">
									<label class="slds-form-element__label">Validation errors</label>

									<div class="slds-form-element__control">
										<c-order-billing-validation
											class="chooser-validation-flag"
											source-record-id={rolesData.customerChooserContactId}
											billing-object-record-id={rolesData.customerChooserContactRoleId}
											show-required="true"
										></c-order-billing-validation>
									</div>
								</div>
							</lightning-layout-item>
						</lightning-layout>
					</template>
				</lightning-accordion-section>
			</lightning-accordion>
		</div>
		<div slot="footer">
			<lightning-button variant="neutral" label="Cancel" onclick={handleCancel}></lightning-button>
			<lightning-button
				class="slds-var-m-left_x-small"
				label="Save"
				onclick={saveContacts}
				disabled={isLoading}
				variant="brand"
			></lightning-button>
		</div>
	</lightning-quick-action-panel>
</template>
