<template>
	<template if:true={showLoader}>
		<div
			class="slds-is-relative"
			style="height: 100%; width: 100%; position: absolute; z-index: 10000000000; background: rgba(255, 255, 255, 0.5)"
		>
			<lightning-spinner class="" alternative-text="Loading" size="small" variant="brand"></lightning-spinner>
		</div>
	</template>

	<template if:false={isMobile}>
		<c-order-entry-promotions-fixed
			opportunity-id={opportunityId}
			b2c-internet-customer={b2cInternetCustomer}
			primary-contact={primaryContact}
			installation-site={installationSite}
			bundle={fixedBundle}
		></c-order-entry-promotions-fixed>
	</template>

	<template if:true={isMobile}>
		<c-order-entry-automatic-promotions-mobile bundles={mobileBundles}></c-order-entry-automatic-promotions-mobile>
	</template>

	<c-order-entry-payment-details journey-type={journeyType} payment={payment} opportunity-id={opportunityId}></c-order-entry-payment-details>

	<br />
	<br />
	<br />
	<br />
</template>
