<template>
    <div>
        <lightning-card variant="Narrow" title="Services" icon-name="standard:account">
        <lightning-datatable
            key-field="id"
            data={tableData}
            columns={tableColumns}
            hide-checkbox-column>
        </lightning-datatable>
    </lightning-card>
    </div>    
</template>