<template>
	<div>
		<lightning-card variant="Narrow" title="Implement Services" icon-name="standard:maintenance_asset">
			<lightning-datatable
				key-field="id"
				data={tableData}
				columns={tableColumns}
				onsave={handleSave}
				errors={tableErrors}
				draft-values={draftValues}
			>
			</lightning-datatable>
		</lightning-card>
	</div>
</template>
