<template>
    <div class="slds-var-p-top_medium">
        <footer class="slds-card__footer">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item size="6" padding="horizontal-small">
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="horizontal-small">
                    <div class="custom-box slds-text-align_right">
                        <template if:true={isBackActionAvialable}>
                            <lightning-button
                                class="slds-var-m-left_x-small" 
                                label="Back"
                                title="Back"
                                onclick={handleGoback}
                            >
                            </lightning-button>
                        </template>
                        <template if:true={isNextActionAvialable}>
                            <lightning-button
                                class="slds-var-m-left_x-small"
                                variant="brand" 
                                label="Next"
                                title="Next"
                                onclick={handleGoNext}
                            >
                            </lightning-button>
                        </template>
                        <template if:true={isFinishActionAvialable}>
                            <lightning-button
                                class="slds-var-m-left_x-small"
                                variant="brand" 
                                label="Finish"
                                title="Finish"
                                onclick={handleFinish}
                            >
                            </lightning-button>
                        </template>                        
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </footer> 
    </div>    
</template>