.THIS .slds-path__link {
	pointer-events: none;
}

.THIS .slds-button {
	background-color: rgba(1, 68, 134) !important;
	border-color: rgba(1, 68, 134) !important;
	border-left-color: rgba(1, 68, 134) !important;
	border-top-color: rgba(1, 68, 134) !important;
	border-right-color: rgba(1, 68, 134) !important;
	border-bottom-color: rgba(1, 68, 134) !important;
}
