.wrapper {
	position: relative;
	height: 200px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.signature-pad {
	position: absolute;
	left: 0;
	top: 0;
}