.card-body {
    --sds-c-accordion-summary-color-background: var(
        --lwc-colorBackground,
        rgb(243, 242, 242)
    );
    --sds-c-accordion-sizing-border: 0.5px;
    --sds-c-accordion-section-spacing-block-start: 0.25rem;
    --sds-c-accordion-section-spacing-block-end: 0.25rem;
    --sds-c-accordion-section-spacing-inline-start: 0.5rem;
}