<template>
    <lightning-card title="Billing Information" icon-name="standard:currency">
        <lightning-button
            label="Save"
            slot="actions"
            variant="brand"
            onclick={saveBillingInformation}
        ></lightning-button>
        <div class="slds-p-horizontal_medium card-body slds-is-relative">
            <lightning-spinner
                alternative-text="Loading"
                if:true={isLoading}
                variant="base"
            >
            </lightning-spinner>

            <lightning-accordion
                active-section-name={activeSections}
                allow-multiple-sections-open="true"
            >
                <lightning-accordion-section
                    name="section1"
                    label="Billing Account"
                >
                    <lightning-layout>
                        <lightning-layout-item padding="around-small" size="6">
                            <c-lookup
                                class="ban-number"
                                lookup-label="BAN Number"
                                object-name="Ban__c"
                                default-record-id={banId}
                                default-record-name={banName}
                                secondary-field="BAN_Name__c"
                                filter={banFilter}
                                onselected={onBanUpdate}
                            ></c-lookup>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-accordion-section>
                <lightning-accordion-section
                    name="section2"
                    label="Financial Account"
                >
                    <lightning-layout>
                        <lightning-layout-item padding="around-small" size="6">
                            <c-lookup
                                class="financial-account"
                                lookup-label="Financial Account"
                                object-name="Financial_Account__c"
                                default-record-id={financialAccountId}
                                default-record-name={financialAccountName}
                                filter={financialAccountFilter}
                                onselected={onFinancialAccountUpdate}
                                disabled={disableFinancialAccountLookup}
                            ></c-lookup>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-accordion-section>
                <lightning-accordion-section
                    name="section3"
                    label="Billing Arrangement"
                >
                    <lightning-layout>
                        <lightning-layout-item padding="around-small" size="6">
                            <c-lookup
                                class="billing-arrangement"
                                lookup-label="Billing Arrangement"
                                object-name="Billing_Arrangement__c"
                                default-record-id={billingArrangementId}
                                default-record-name={billingArrangementName}
                                filter={billingArrangementFilter}
                                onselected={onBillingArrangementUpdate}
                                disabled={disableBillingArrangementLookup}
                            ></c-lookup>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-accordion-section>
            </lightning-accordion>
        </div>

        <!--
        <p slot="footer" class="slds-align_absolute-center">
          <lightning-button label="Save" variant="brand"></lightning-button>
        </p>
    -->
    </lightning-card>
</template>