<template>
	<template if:true={loading}>
		<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
	</template>
	<div class="slds-p-top_medium">
		<lightning-card title="Quote &amp; Signature" icon-name="standard:quotes">
			<lightning-button class="slds-p-right_small" variant="brand" label="Create Summary" slot="actions" onclick={createDocuments}>
			</lightning-button>
			<lightning-button if:true={showViewLastComponent} class="slds-p-right_small" label="View Summary" onclick={viewLastQuote} slot="actions">
			</lightning-button>
			<lightning-input class="slds-m-left_medium" type="checkbox" label="Signed" checked={signedQuote} disabled="true"></lightning-input>
		</lightning-card>
		<c-pdf-viewer>
			<div slot="actions">
				<lightning-button
					class="slds-p-right_small"
					icon-name="utility:edit"
					label="Sign"
					onclick={openSignatureModal}
					variant="inverse"
					if:true={showSingButton}
				>
				</lightning-button>
				<lightning-button
					class="slds-p-right_small"
					icon-name="utility:email"
					label="Send"
					onclick={sendConfirmation}
					variant="inverse"
					if:true={showSendButton}
				>
				</lightning-button>
				<lightning-button
					class="slds-p-right_small"
					icon-name="utility:email"
					label="Send Quote"
					onclick={sendQuote}
					variant="inverse"
					if:true={showSendQuoteButton}
				>
				</lightning-button>
			</div>
		</c-pdf-viewer>
		<c-order-entry-signature-modal onconfirmsignature={confirmationSignature} onclosemodal={closeModal}></c-order-entry-signature-modal>
	</div>
</template>
