<template>
    <div if:true={hasRecordId}>
        <div class="slds-text-color_destructive">
            <template if:true={errors}>
                <template for:each={errors} for:item="error">
                    <p key={error}>{error}</p>
                </template>
            </template>

            <template if:true={errorMessage}>
                <p>Something went wrong: {errorMessage}</p>
            </template>
        </div>
        <lightning-icon
            if:true={isSuccess}
            icon-name="utility:success"
            alternative-text="No errors found icon"
            size="small"
            variant="success"
        ></lightning-icon>
    </div>
</template>