<template>
	<div class="slds-notify_container slds-is-relative" style="border-bottom: 1px solid var(--lwc-colorBorderSeparatorAlt, #d4d4d4)">
		<div class="slds-notify slds-notify_toast slds-theme_error" role="status" style="width: 99%">
			<span class="slds-assistive-text">error</span>
			<span
				class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
				title="Description of icon when needed"
			>
				<svg class="slds-icon slds-icon_small" aria-hidden="true">
					<use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
				</svg>
			</span>
			<div class="slds-notify__content">
				<h2 class="slds-text-heading_small">{header}</h2>
				<p>{message}</p>
			</div>
		</div>
	</div>
</template>
