.control-container {
	margin: 1em;
	padding: 1em;
}
.slds-box {
	transition-duration: 200ms;
}
.hide-box {
	opacity: 1%;
	transition: opacity 200ms;
}

.show-box {
	opacity: 100%;
	transition: opacity 200s;
}