<!-- sldsValidatorIgnore -->
<template>
    <lightning-card variant="Narrow" title={labels.banVerifControlTitle} icon-name="standard:account">
        <div slot="actions">
            <div class="slds-grid slds-grid_align-start">
                <div class="slds-col">
                    <lightning-button-icon icon-name="utility:question" variant="container"
                        alternative-text={labels.banVerifValidations} class="slds-var-m-left_xx-small"
                        title={labels.banVerifValidations} onclick={handleShowCurrent}>
                    </lightning-button-icon>
                </div>
                <div class="slds-col">
                    <template if:false={preventNew}>
                        <lightning-button-icon icon-name="utility:new" variant="container"
                            alternative-text={labels.banVerifNew} class="slds-var-m-left_xx-small"
                            title={labels.banVerifNew} onclick={handleRequestNew} disabled={readOnly}>
                        </lightning-button-icon>
                    </template>
                </div>
                <div class="slds-col">
                    <lightning-button-icon icon-name="utility:save" variant="container"
                        alternative-text={labels.banVerifSave} class="slds-var-m-left_xx-small"
                        title={labels.banVerifSave} onclick={handleSave} disabled={isNotAllowedSave}>
                    </lightning-button-icon>
                </div>
                <div class="slds-col">
                    <lightning-button-icon icon-name="utility:delete" variant="container"
                        alternative-text={labels.banVerifReset} class="slds-var-m-left_xx-small"
                        title={labels.banVerifReset} onclick={handleReset} disabled={isClean}>
                    </lightning-button-icon>
                </div>
            </div>
        </div>
        <!--Custom Lookup with Pre-Populate Value for User Object-->
        <div class="control-container">
            <c-autocomplete icon-name="standard:account" s-object-api-name="Ban__c" label={labels.banVerifControlTitle}
                onlookupupdate={lookupRecord} onlookupremove={lookupRemove}>
            </c-autocomplete>
            <input type="hidden" id="current-value" value={currentValue} class="slds-hide" />

            <div class={boxStyling}>
                <div class="slds-region_narrow">
                    <dl class="slds-dl_horizontal">
                        <template for:each={fieldSet} for:item="fieldName">
                            <div key={fieldName.key} style="padding: 4px;">
                                <dt class="slds-dl_horizontal__label"><b>{fieldName.key}</b></dt>
                                <dd class="slds-dl_horizontal__detail">{fieldName.value}</dd>
                            </div>
                        </template>
                    </dl>
                </div>
            </div>
        </div>

    </lightning-card>
</template>