<template>
	<section
		role="dialog"
		tabindex="-1"
		aria-labelledby="modal-heading-01"
		aria-modal="true"
		aria-describedby="modal-content-id-1"
		class="slds-modal slds-fade-in-open modal-body"
		style="max-height: 100vh; overflow-y: auto"
	>
		<div class="slds-modal__container">
			<header class="slds-modal__header">
				<button
					class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
					title="Close"
					onclick={onCancel}
					disabled={loading}
				>
					<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
					<span class="slds-assistive-text">Close</span>
				</button>
				<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Subscription</h2>
			</header>

			<div if:true={loading} class={showSpinner} style="height: 150px">
				<lightning-spinner class="spins" alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
			</div>
			<div if:false={loading} class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
				<lightning-combobox
					name="mobileProduct"
					label="Subscription"
					value={selectedPoductId}
					placeholder="Select"
					options={formattedProducts}
					class="slds-m-bottom_x-small mobile-product"
					onchange={handleProductChange}
					dropdown-alignment="auto"
					required
				>
				</lightning-combobox>
				<lightning-combobox
					name="contractTerm"
					label="Contract duration"
					value={_contractTerm}
					placeholder="Select"
					options={contractTerms}
					onchange={handleContractTermChange}
					class="contract-term"
					required
				></lightning-combobox>
				<lightning-combobox
					name="simCardProduct"
					label="SIM"
					value={selectedSimCardPoductId}
					placeholder="Select"
					options={formattedSimProducts}
					class="slds-m-bottom_x-small mobile-product"
					onchange={handleSimCardProductChange}
					disabled={simSelected}
					required
				>
				</lightning-combobox>
				<template if:false={isEdit}>
					<lightning-input
						type="number"
						name="quantity"
						label="Quantity"
						data-type="porting-number"
						value={quantity}
						placeholder=""
						class="slds-m-bottom_x-small quantity"
						onchange={handleQuantityChange}
						required
					></lightning-input>
				</template>
			</div>
			<footer class="slds-modal__footer">
				<button class="slds-button slds-button_neutral" onclick={onCancel} title="Cancel">Cancel</button>
				<template if:true={isEdit}>
					<button class="slds-button slds-button_brand" onclick={onConfirm} title="Add" disabled={loading}>Ok</button>
				</template>
				<template if:false={isEdit}>
					<button class="slds-button slds-button_brand" onclick={onSubmit} title="Add" disabled={loading}>Add</button>
				</template>
			</footer>
		</div>
	</section>
	<div class="slds-backdrop slds-backdrop_open"></div>
</template>
