.THIS .close-won-flow .slds-card__header {
	display: none !important;
}

.THIS #recordEditFormWrapper .slds-form-element__control.slds-grid.itemBody {
	height: calc(100% - 18px);
	align-items: center;
}

.THIS #recordEditFormWrapper .slds-form-element.slds-form-element_readonly.slds-grow.slds-hint-parent.override--slds-form-element {
	margin-bottom: 8px;
}

.THIS #recordViewFormWrapper .changeOwnerLink svg.slds-button__icon {
	fill: rgb(174, 174, 174);
}

.THIS #recordViewFormWrapper .changeOwnerLink:hover svg.slds-button__icon {
	fill: rgb(18, 68, 128);
}
