.removeImage {
	margin: 8px 2px 8px 8px;
	cursor: pointer;
	display: block;
	width: fit-content;
	padding: 5px;
}

.asside {
	padding: 0px 4px;
	color: #fff;
	border-radius: 50%;
	background-color: #9f201b;
	margin-left: 5px;
}

.hidden {
	display: none !important;
}

lightning-input {
	padding: 10px 0 !important;
}

.questionnaire .slds-form-element__label {
	padding: 5px 0 !important;
	font-weight: var(--lwc-fontWeightBold, 700);

	/*padding-bottom: var(--lwc-spacingXxSmall,0.25rem);*/
}

.titleTicket {
	float: none;
	display: block;
}

.firsttitleTicket {
	margin-top: -10px;
	margin-bottom: 5%;
}

.questionnaire .answer {
	padding: 10px 0 !important;
	padding-top: 15px;
}

.questionnaire .answer {
	padding: 10px 0 !important;
	padding-top: 10px;
}

.titleTicket {
	float: none;
	display: block;
}

.firsttitleTicket {
	margin-top: -10px;
	margin-bottom: 5%;
}

.button {
	float: right;
	margin: 15px;
}

.questionnaire .answer {
	padding: 10px 0 !important;
	padding-top: 15px;
}

.questionnaire .answer {
	padding: 10px 0 !important;
	padding-top: 10px;
}

.scrollable {
	/*height: 400px; <!-- Don't need this if it's okay for height to be dynamic -->*/
	overflow-y: auto;
}

body {
	background-color: black !important;
}

.lgc-bg {
	background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
	background-color: rgb(22, 50, 92);
}

.modalBody {
	position: relative;
}
.fileBtnLabel {
	display: inline-block;
}
.wrapperBtnLabel {
	padding: 5px 0;
	width: 100%;
}
.warningContent {
	display: inline-block;
	background-color: orange;
	padding: 5px;
	margin: 15px 0;
}

.fileList {
	display: block;
}

.removeImage {
	border-radius: 50%;
	padding: 0px 4px;
	margin: 8px 2px 8px 8px;
	color: #fff;
	background-color: #9f201b;
	cursor: pointer;
	display: inline-block;
	background: transparent;
	color: black;
}
.fileList p.bigFile {
	background-color: red;
	color: white;
	padding: 5px;
	margin: 2px;
	border-radius: 0;
}

.error {
	box-sizing: border-box;
	background-color: orange;
	display: inline-block;
	padding: 5px;
	margin: 10px 0;
	margin-right: 37%;
}

.error h1 {
	font-size: 120%;
	font-weight: 700;
}

.error p {
	font-size: 110%;
}
