<template>
	<template if:false={hideModal}>
		<lightning-quick-action-panel header="Send Ticket to Remedy">
			<template if:true={isLoading}>
				<lightning-spinner alternative-text="Loading" variant="brand" size="medium" class="spinnerClass"> </lightning-spinner>
			</template>

			<lightning-record-view-form record-id={recordId} object-api-name="Case">
				<div id="screenWrapper">
					<div class="screen screen1" id="screen1">
						<template if:false={showScreen2}>
							<div>
								<b style="font-size: 1rem !important; margin-bottom: 30px !important; margin-left: 23px !important"
									>Case Information</b
								>
							</div>
							<div class="slds-grid" style="margin-left: 20px">
								<div class="slds-col slds-size_1-of-2" style="margin-top: 20px">
									<lightning-output-field field-name="Subject" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="CaseNumber" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="CST_Product__c" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="Type" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="CST_Level1__c" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="Priority" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="Origin" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field
										field-name="CST_End2End_Owner__c"
										class="slds-form-element__legend slds-form-element__label"
									>
									</lightning-output-field>
								</div>

								<div class="slds-col slds-size_1-of-2" style="margin-top: 20px">
									<lightning-output-field field-name="AccountId" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="ContactId" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="ContactPhone" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="ContactMobile" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field field-name="ContactEmail" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
									<lightning-output-field
										field-name="CST_Your_Reference__c"
										class="slds-form-element__legend slds-form-element__label"
									>
									</lightning-output-field>
									<lightning-output-field field-name="CST_Site__c" class="slds-form-element__legend slds-form-element__label">
									</lightning-output-field>
								</div>
							</div>

							<div class="questionnaire slds-grid slds-gutters slds-wrap" style="margin-left: 12px">
								<b
									class="titleTicket slds-size_1-of-1 slds-col"
									style="font-size: 1rem !important; margin-top: 40px; margin-bottom: 20px"
									>Questionnaire Information</b
								>
								<div class="slds-grid slds-gutters slds-wrap slds-col slds-size_1-of-2">
									<template for:each={answers1} for:item="it">
										<div class="slds-col slds-size_1-of-1" key={it.key}>
											<p class="legend slds-form-element__label">{it.quest}</p>
											<p class="answer" style="margin-top: -10px">{it.ans}</p>
										</div>
									</template>
								</div>

								<div class="slds-grid slds-gutters slds-wrap slds-col slds-size_1-of-2">
									<template for:each={answers2} for:item="it">
										<div class="slds-col slds-size_1-of-1" key={it.key} style="margin-left: 12px">
											<p class="legend slds-form-element__label">{it.quest}</p>
											<p class="answer" style="margin-top: -10px">{it.ans}</p>
										</div>
									</template>
								</div>
							</div>
						</template>
					</div>
				</div>
			</lightning-record-view-form>
			<template if:true={showScreen2}>
				<div class="screen screen2 slds-card__body slds-card__body_inner scrollable" style="background-color: white; position: relative">
					<lightning-file-upload
						label="Add Attachment(s)"
						name="fileUploader"
						accept={acceptedFormats}
						record-id={ticketid}
						onuploadfinished={handleUploadFinished}
						multiple
						disabled={isUploadDisabled}
					></lightning-file-upload>
					<template if:true={statusError.warningFilesize}>
						<div class="error">
							<h1>File size too big</h1>
							<p>The maximum supported filesize is {MAX_FILE_SIZE_display} mb</p>
						</div>
					</template>
					<template if:true={statusError.warningFileCount}>
						<div class="error">
							<h1>Warning</h1>
							<p>Too many files attached. The maximum supported number is 3</p>
						</div>
					</template>
					<template if:true={filesData}>
						<div class="fileList">
							<template for:each={filesData} for:item="item">
								<p
									class={item.status}
									key={item.documentid}
									data-documentid={item.documentid}
									data-contentversionid={item.contentversionid}
									data-contentbodyid={item.contentbodyid}
									data-status={item.status}
									title={item.name}
									onclick={handleDeleteFiles}
								>
									{item.name}
									<span class="asside">X</span>
								</p>
							</template>
						</div>
					</template>
				</div>
			</template>

			<!-- <hr style="margin: 15px;"/>   slot="footer""-->
			<div slot="footer">
				<lightning-button
					variant="neutral"
					label="Cancel"
					id="btnCancel"
					class="slds-m-right_x-small toggleHide"
					onclick={handleCancel}
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Next"
					id="btnNext"
					class="slds-m-right_x-small toggleHide"
					onclick={handleNext}
					disabled={isNextDisabled}
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Submit"
					id="btnSubmit"
					class="slds-m-right_x-small toggleHide hidden"
					onclick={handleSubmit}
					disabled={isSbmitDisabled}
				></lightning-button>
			</div>
		</lightning-quick-action-panel>
	</template>
</template>
