.record-header-detail-shade {
	background-color: rgb(243, 243, 243);
}

.record-header-detail-record-name {
	font-size: 1.7em;
	font-weight: bold;
}

.record-header-detail-record-icon {
	fill: white;
}