<template>
	<article class="slds-card slds-card_boundary">
		<div class="slds-card__header slds-p-bottom_medium slds-grid record-header-detail-shade">
			<header class="slds-media slds-media_center slds-has-flexi-truncate">
				<div class="slds-media__figure">
					<span class="slds-icon_container slds-icon-standard-account" title={objectName}>
						<svg
							class="slds-icon_large record-header-detail-record-icon"
							aria-hidden="true"
						>
							<use
								xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#account"
							></use>
						</svg>
						<span class="slds-assistive-text">{objectName}</span>
					</span>
				</div>
				<div class="slds-media__body">
					<h6>
						<lightning-formatted-text value={objectName}></lightning-formatted-text>
					</h6>
					<h2 class="slds-card__header-title record-header-detail-record-name">
						<lightning-formatted-text value={record.Name}></lightning-formatted-text>
					</h2>
				</div>
			</header>
		</div>
		<div class="slds-card__body slds-card__body_inner">
			<ul class="slds-grid slds-wrap slds-grid_pull-padded">
				<li class="slds-var-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
					<p>
						<lightning-formatted-text
							value={label.LABEL_KVK}
						></lightning-formatted-text>
					</p>
					<p>
						<lightning-formatted-text
							value={record.KVK_number__c}
						></lightning-formatted-text>
					</p>
				</li>
				<li class="slds-var-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
					<p>
						<lightning-formatted-text
							value={label.LABEL_ADDRESS}
						></lightning-formatted-text>
					</p>
					<p>
						<lightning-formatted-text
							value={record.LG_VisitAddress__c}
						></lightning-formatted-text>
					</p>
				</li>
				<li class="slds-var-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
					<p>
						<lightning-formatted-text
							value={label.LABEL_PHONE}
						></lightning-formatted-text>
					</p>
					<p>
						<lightning-formatted-text value={record.Phone}></lightning-formatted-text>
					</p>
				</li>
			</ul>
		</div>
	</article>
</template>