<template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true"
            aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open" style="z-index:10001">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={handleClose}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">{labels.createNewContact}</h2>
                    <p class="slds-var-m-top_x-small">{labels.createNewContactSubtitle}</p>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-2">
                    <lightning-record-edit-form object-api-name="Contact" onsuccess={handleSuccess}
                        onsubmit={handleSubmit} density="compact">
                        <lightning-messages></lightning-messages>
                        <div class="slds-var-m-around_medium">
                            <template for:each={fieldSet} for:item="fieldName">
                                <div key={fieldName.nm}>
                                    <lightning-input-field field-name={fieldName.nm} value={fieldName.dv} autocomplete="off"></lightning-input-field>
                                </div>
                            </template>
                            <div class="slds-var-m-top_medium slds-align_absolute-center">
                                <lightning-button label={labels.btnCancel} variant="neutral" onclick={handleClose}>
                                </lightning-button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <lightning-button variant="brand" type="submit" name="save" label={labels.createContact}>
                                </lightning-button>
                            </div>
                        </div>
                    </lightning-record-edit-form>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open" style="z-index:10000"></div>
    </template>
</template>