<template>
	<div class="slds-grid journey-selector">
		<lightning-spinner
			if:true={isLoading}
			alternative-text={label.LABEL_LOADING}
			size="small"
			class="journey-selector-spinner"
		></lightning-spinner>
		<template if:true={showBPPJourneyButtons} for:each={bppJourneys} for:item="bppJourney">
			<c-pp_journey-button
				class="slds-m-horizontal_xxx-small"
				data-record-id={bppJourney.id}
				key={bppJourney.id}
				bpp-journey={bppJourney}
				disabled-component={disabledComponent}
				account-id={accountIdLWC}
			></c-pp_journey-button>
		</template>
	</div>
</template>