<template>
	<lightning-card title="Notes" icon-name="standard:note">
		<lightning-textarea
			class="slds-m-horizontal_small"
			name="notes"
			value={notes}
			onchange={notesChange}
			placeholder="I will leave some notes here..."
		></lightning-textarea>
	</lightning-card>
</template>