<!-- sldsValidatorIgnore -->
<template>
	<lightning-quick-action-panel header="Apply Inflight Change">
		<div class="slds-is-relative slds-align_absolute-center" style="height: 150px">
			<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="brand"></lightning-spinner>
			<p if:false={isLoading}>Please click on confirm to apply inflight change!</p>
		</div>
		<div slot="footer">
			<lightning-button variant="neutral" label="Cancel" onclick={handleCancel}></lightning-button>
			<lightning-button
				variant="brand"
				label="Confirm"
				class="slds-m-left_x-small"
				onclick={handleConfirm}
				disabled={isLoading}
			></lightning-button>
		</div>
	</lightning-quick-action-panel>
</template>
