<template>
	<div class="slds-var-p-top_medium">
		<lightning-card title="Contact Details" icon-name="standard:contact">
			<lightning-button
				class="slds-var-p-right_small"
				variant="brand"
				label="Select Contact"
				slot="actions"
				onclick={selectContact}
			></lightning-button>
			<lightning-button label="New Contact" slot="actions" onclick={newContact}></lightning-button>

			<!-- CONTACT COMBOBOX -->
			<template if:true={openSelectionModal}>
				<c-order-entry-select-contact contacts={contacts} onclosemodal={closeModal}></c-order-entry-select-contact>
			</template>
			<!-- NEW CONTACT MODAL -->
			<template if:true={openModal}>
				<c-order-entry-new-contact
					account-id={accountId}
					opportunity-id={opportunityId}
					journey-type={journeyType}
					onclosemodal={closeModal}
				></c-order-entry-new-contact>
			</template>

			<!-- CONTACT FORM -->
			<template if:true={contact}>
				<div class="slds-grid slds-gutters slds-var-p-top_small slds-var-p-left_medium slds-var-p-right_medium">
					<div class="slds-col slds-size_1-of-2">
						<lightning-input
							type="text"
							required="true"
							name="FirstName"
							label="First Name"
							value={contact.FirstName}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
					<div class="slds-col slds-size_1-of-2">
						<lightning-input
							type="text"
							required="true"
							name="LastName"
							label="Last Name"
							value={contact.LastName}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
				</div>
				<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
					<div class="slds-col slds-size_1-of-2">
						<lightning-input
							required={mobileJourney}
							pattern="^0{1}6{1}[0-9]{8}"
							message-when-pattern-mismatch="Mobile number must start with 06 followed by 8 digits."
							name="MobilePhone"
							label="Mobile"
							value={contact.MobilePhone}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
					<div class="slds-col slds-size_1-of-2">
						<lightning-input
							type="tel"
							pattern="(^\+[0-9]{2}|^00[0-9]{2}|^0)([0-9]{9}$|[0-9\-\s]{10}$)"
							message-when-pattern-mismatch="Phone number must start with 0, 0031 or +31 followed by 9 digits."
							name="Phone"
							label="Phone"
							value={contact.Phone}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
				</div>
				<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
					<div class="slds-col slds-size_1-of-2">
						<lightning-input
							type="text"
							name="Email"
							pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+"
							required="true"
							message-when-pattern-mismatch="Please enter a valid email address."
							label="Email"
							value={contact.Email}
							onchange={handleFormInputChange}
						></lightning-input>
					</div>
					<div class="slds-col slds-size_1-of-2">
						<lightning-combobox
							name="Salutation"
							label="Salutation"
							required="true"
							class="salutation"
							placeholder="Select Salutation"
							value={contact.Salutation}
							onchange={handleFormInputChange}
							options={salutationList}
							dropdown-alignment="auto"
						></lightning-combobox>
					</div>
				</div>

				<div if:true={mobileJourney}>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-combobox
								required="true"
								name="Document_Type__c"
								label="Document Type"
								options={documentTypes}
								placeholder="Select Document Type"
								value={contact.Document_Type__c}
								onchange={handleFormInputChange}
							></lightning-combobox>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="date"
								name="Document_Expiration_Date__c"
								label="Valid Thru"
								required="true"
								min={todaysDate}
								message-when-range-underflow="Expiration date must be in the future"
								value={contact.Document_Expiration_Date__c}
								placeholder="Enter Document expiration date"
								onchange={handleFormInputChange}
								date-style="short"
							></lightning-input>
						</div>
					</div>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								required="true"
								name="Document_Number__c"
								pattern={documentNumberFormat}
								message-when-pattern-mismatch={documentNumberErrorMessages}
								label="Document Number"
								placeholder="Enter document number"
								value={contact.Document_Number__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-combobox
								name="Document_Issuing_Country__c"
								label="Issuing country"
								required="true"
								value={contact.Document_Issuing_Country__c}
								onchange={handleFormInputChange}
								options={countriesList}
								dropdown-alignment="auto"
							></lightning-combobox>
						</div>
					</div>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="date"
								required="true"
								message-when-range-overflow="You must be between 18 and 110 years old."
								message-when-range-underflow="You must be between 18 and 110 years old."
								name="Birthdate"
								label="Birthdate"
								value={contact.Birthdate}
								max={minimumBirthday}
								min={maximumBirthday}
								onchange={handleFormInputChange}
								date-style="short"
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-combobox
								name="LG_PreferredCommunication__c"
								label="Commercial contact via"
								required="true"
								value={contact.LG_PreferredCommunication__c}
								placeholder="Select Contact method"
								options={options}
								onchange={handleFormInputChange}
								dropdown-alignment="auto"
							></lightning-combobox>
						</div>
					</div>

					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium"></div>
				</div>
			</template>
		</lightning-card>
	</div>
</template>
