<template>
	<div class="picklist-container">
		<lightning-combobox
			if:true={disabled}
			disabled
			onpicklistrefresh={handlePicklistRefresh}
			name="picklist"
			label={label}
			value={value}
			placeholder={label2}
			options={options}
			onchange={handleChange}
			onmousedown={handleMouseDown}
			onclick={handleClick}
			data-inputable="true"
			variant="label-hidden"
			dropdown-alignment="auto"
		>
		</lightning-combobox>
		<lightning-combobox
			if:false={disabled}
			onpicklistrefresh={handlePicklistRefresh}
			name="picklist"
			label={label}
			value={value}
			placeholder={label2}
			options={options}
			onchange={handleChange}
			onmousedown={handleMouseDown}
			onclick={handleClick}
			data-inputable="true"
			variant="label-hidden"
			dropdown-alignment="auto"
		>
		</lightning-combobox>
	</div>
</template>
