<template>
	<lightning-card variant="Narrow" title="CTN Details" icon-name="standard:budget">
		<lightning-spinner if:true={showSpinner} variant="brand" size="large"> </lightning-spinner>

		<template if:false={contractCreated}>
			<div class="slds-text-align_center, slds-text-color_error">
				Please make sure you have a Basket with the status 'Contract Created' or 'Approved'
			</div>
		</template>
		<template if:true={contractCreated}>
			<lightning-button-group slot="actions" if:true={theOpp.data}>
				<lightning-button
					icon-name="utility:download"
					label="Download CSV"
					title="Non-primary action"
					onclick={openDownloadModal}
				></lightning-button>
				<lightning-button
					if:false={isJourney}
					label="Create Numberlist"
					title="Non-primary action"
					onclick={createNumberList}
				></lightning-button>
				<lightning-button icon-name="utility:upload" label="Import" onclick={openImportModal}></lightning-button>
				<lightning-button-icon-stateful
					icon-name="utility:preview"
					selected={previewState}
					onclick={handPreviewButtonClick}
					alternative-text="Preview"
				></lightning-button-icon-stateful>
			</lightning-button-group>
			<template if:true={theOpp.data}>
				<div style="display: grid; grid-template-columns: 1fr auto" if:false={isJourney}>
					<div class="demo-only" style="width: 30rem">
						<article class="slds-tile">
							<h3 style="margin-left: 10px" class="slds-truncate" title="Salesforce UX">General Information</h3>
							<div style="margin-left: 20px" class="slds-tile__detail">
								<dl class="slds-list_horizontal slds-wrap">
									<dt class="slds-item_label slds-text-color_weak slds-truncate">Customer:</dt>
									<dd class="slds-item_detail slds-truncate">{theOpp.data.Account.Name}</dd>
									<dt class="slds-item_label slds-text-color_weak slds-truncate">Account Manager:</dt>
									<dd class="slds-item_detail slds-truncate">{theOpp.data.Owner.Name}</dd>
									<dt class="slds-item_label slds-text-color_weak slds-truncate">Contact Person:</dt>
									<dd class="slds-item_detail slds-truncate">
										<template if:true={theOpp.data.Main_Contact_Person__r}>{theOpp.data.Main_Contact_Person__r.Name}</template>
									</dd>
									<dt class="slds-item_label slds-text-color_weak slds-truncate">Authorized to Sign:</dt>
									<dd class="slds-item_detail slds-truncate">
										<template if:true={theOpp.data.DS_Authorized_to_sign_1st__r}
											>{theOpp.data.DS_Authorized_to_sign_1st__r.Name}</template
										>
									</dd>
									<dt class="slds-item_label slds-text-color_weak slds-truncate">Billing Customer:</dt>
									<dd class="slds-item_detail slds-truncate">
										<template if:true={theOpp.data.Ban__r}>{theOpp.data.Ban__r.Ban_Number__c}</template>
									</dd>
								</dl>
							</div>
						</article>
					</div>
					<div if:true={quoteProfiles} style="position: relative; margin-right: 20px; float: right">
						<h3 style="margin-left: 10px" class="slds-truncate" title="Salesforce UX">Quote Profile</h3>
						<ul>
							<template for:each={quoteProfiles} for:item="quoteProfile">
								<li style="margin-left: 20px" key={quoteProfile}>{quoteProfile}</li>
							</template>
						</ul>
					</div>
				</div>
			</template>
			<div class="tableContainer">
				<template if:true={netProfitCtns}>
					<c-custom-data-table
						min-column-width={columnWidth}
						max-column-width="350"
						column-widths-mode="auto"
						key-field="Id"
						data={netProfitCtns}
						columns={showColumns}
						onsave={doSave}
						sorted-by={sortedBy}
						sorted-direction={sortedDirection}
						onsort={updateColumnSorting}
						hide-checkbox-column
						draft-values={draftValues}
						onpicklistchanged={picklistChanged}
						onvalueselect={handleSelection}
						oncellchange={handleCellChange}
						oncancel={handleCancel}
						onpicklistclicked={handlePicklistClick}
					>
					</c-custom-data-table>
				</template>
			</div>
		</template>
	</lightning-card>
	<c-ctn-download-modal if:true={showDownloadModal} onclosemodal={closeModal} ondownload={exportToCSV}></c-ctn-download-modal>
	<c-ctn-import-modal onclosemodal={closeModal} if:true={showImportModal} onsubmit={handleImportSubmit}></c-ctn-import-modal>
</template>
