.customWidth {
	width: 200px;
}
.slds-is-absolute {
	position: relative;
}

.tableContainer {
	max-width: 1350px;
	height: 100%;
	width: 100%;
	overflow: auto;
	justify-content: center;
	align-items: center;
}

.slds-table_header-fixed_container.slds-scrollable_x::-webkit-scrollbar {
	display: none !important;
}