<template>
	<div class="slds-page-header slds-m-bottom_none">
		<div class="slds-page-header__row">
			<div class="slds-page-header__col-title">
				<div class="slds-media">
					<div class="slds-media__figure">
						<lightning-icon icon-name={iconName} alternative-text={title} title={title} size="large"></lightning-icon>
						<span class="slds-assistive-text">{title}</span>
					</div>
					<div class="slds-media__body">
						<div class="slds-page-header__name">
							<div class="slds-page-header__name-title">
								<h1>
									<span class="slds-page-header__title slds-truncate" title={title}>{title}</span>
								</h1>
							</div>
						</div>
						<p class="slds-page-header__name-meta">{subtitle}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
