<!--
	LWC component launched via Initiate Inflight quick action from CS order and Delivery Order objects respectively
	Jira ticket reference: COM-2590/COM-3619
 -->
<template>
	<!-- sldsValidatorIgnoreNextLine -->
	<lightning-quick-action-panel header="Initiate Inflight Change" class="action-panel">
		<div class="slds-is-relative">
			<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="brand"> </lightning-spinner>

			<p if:false={showDeliveryList} class="slds-text-align_center">{label.com_InitiateInflightChange_Confirmation_message}</p>

			<lightning-accordion active-section-name={activeSections} allow-multiple-sections-open="true" if:true={showDeliveryList}>
				<lightning-accordion-section name="section1" label="Available Delivery Orders">
					<div class="slds-var-m-around_x-small">
						<!-- sldsValidatorIgnoreNextLine -->
						<lightning-datatable
							class="available-deliveries"
							if:true={hasAvailableDeliveries}
							key-field="recordId"
							data={availableDeliveries}
							columns={columns}
							onrowselection={handleRowSelection}
						>
						</lightning-datatable>
						<p if:false={hasAvailableDeliveries}>{label.com_InitiateInflightChange_NoAvailableDeliveryMessage}</p>
					</div>
				</lightning-accordion-section>
				<lightning-accordion-section name="section2" label="Unavailable Delivery Orders">
					<div class="slds-var-m-around_x-small">
						<!-- sldsValidatorIgnoreNextLine -->
						<lightning-datatable
							class="unavailable-deliveries"
							if:true={hasUnavailableDeliveries}
							key-field="recordId"
							data={unavailableDeliveries}
							columns={columns}
							hide-checkbox-column="true"
						>
						</lightning-datatable>
						<p if:false={hasUnavailableDeliveries}>{label.com_InitiateInflightChange_NoUnavailableDeliveryMessage}</p>
					</div>
				</lightning-accordion-section>
			</lightning-accordion>
		</div>
		<div slot="footer">
			<lightning-button variant="neutral" label="Cancel" onclick={handleCancel}></lightning-button>
			<lightning-button
				variant="brand"
				label="Confirm"
				class="slds-var-m-left_x-small"
				onclick={handleConfirm}
				disabled={isConfirmDisabled}
			></lightning-button>
		</div>
	</lightning-quick-action-panel>
</template>
