<template>
	<lightning-card>
		<div class="slds-p-horizontal_small">
			<lightning-accordion
				allow-multiple-sections-open
				active-section-name="additionalHardware"
			>
				<lightning-accordion-section name="additionalHardware" label="Additional Hardware">
					<template for:each={indexedMediaboxChunks} for:item="row">
						<div class="slds-grid slds-gutters" key={row.i}>
							<template for:each={row.items} for:item="item">
								<div class="slds-col slds-size_1-of-2" key={item.Add_On__r.Id}>
									<lightning-input
										type="number"
										name={item.Add_On__r.Id}
										label={item.Add_On__r.Name}
										value={item.quantity}
										onchange={handleMediabox}
										class="mediabox"
										min="0"
										max="2"
									></lightning-input>
								</div>
							</template>
						</div>
					</template>
				</lightning-accordion-section>
			</lightning-accordion>
			<lightning-accordion
				allow-multiple-sections-open
				active-section-name="additionalChannels"
			>
				<lightning-accordion-section name="additionalChannels" label="Additional Channels">
					<template for:each={indexedChannelsChunks} for:item="row">
						<div class="slds-grid slds-gutters" key={row.i}>
							<template for:each={row.items} for:item="item">
								<div class="slds-col slds-size_1-of-2" key={item.Id}>
									<p class="tvToggles" key={item.Id}>{item.Add_On__r.Name}</p>
									<lightning-input
										type="toggle"
										variant="label-stacked"
										name={item.Add_On__r.Id}
										message-toggle-active=""
										message-toggle-inactive=""
										onchange={handleTvChannels}
										checked={item.quantity}
										style="display: inline-flex; width: auto"
										key={item.Add_On__r.Id}
										disabled={item.Automatic_Add_On__c}
									>
									</lightning-input>
								</div>
							</template>
						</div>
					</template>
				</lightning-accordion-section>
			</lightning-accordion>
		</div>
	</lightning-card>
	<br /><br /><br />
</template>