<template>
	<div class="slds-path slds-var-m-top_medium">
		<div class="slds-grid slds-path__track">
			<div class="slds-grid slds-path__scroller-container">
				<div class="slds-path__scroller">
					<div class="slds-path__scroller_inner">
						<ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
							<template for:each={pathSteps} for:item="step" for:index="i">
								<li class={step.computedClass} role="presentation" key={step.name}>
									<a
										aria-selected="false"
										class="slds-path__link"
										onclick={stepSelected}
										role="option"
										tabindex="-1"
										alternative-text={step.label}
									>
										<span class="slds-path__stage">
											<lightning-icon icon-name="utility:check" alternative-text={step.label} title={step.label} size="x-small">
											</lightning-icon>
											<span class="slds-assistive-text">{step.label}</span>
										</span>
										<span class="slds-path__title">{step.label}</span>
									</a>
								</li>
							</template>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
