<template>
	<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="base"> </lightning-spinner>
	<div class="slds-card_boundary">
		<lightning-card variant="Narrow" title={label.installationInformationCard} icon-name="standard:branch_merge">
			<lightning-button class="slds-var-m-left_x-small" variant="brand" label={label.saveButton} slot="actions" onclick={save}>
			</lightning-button>
		</lightning-card>
	</div>
	<template if:true={showAccordionSection}>
		<div class="slds-grid slds-gutters slds-var-p-top_x-small">
			<div class="slds-col slds-size_1-of-3">
				<div class="slds-card_boundary">
					<lightning-card title={label.SiteActionsCard} icon-name="standard:contact">
						<div class="slds-var-p-around_x-small">
							<div class="slds-box slds-theme_shade">
								<div class="slds-grid">
									<div class="slds-col slds-no-flex">
										<lightning-icon icon-name="utility:info" size="small"></lightning-icon>
									</div>
									<div class="slds-col slds-align-middle">
										<div class="slds-text-body_small">{label.actionsHelpText}</div>
									</div>
								</div>
							</div>
						</div>
						<template for:each={fields} for:item="field">
							<lightning-layout horizontal-align="spread" key={field.fieldId}>
								<template if:true={field.isInput}>
									<lightning-layout-item size="8" padding="around-small">
										<div class="custom-box">
											<lightning-input
												type={field.fieldTypeString}
												variant="label-inline"
												name={field.fieldeReference}
												label={field.fieldLabel}
												onchange={handleChange}
											>
											</lightning-input>
										</div>
									</lightning-layout-item>
								</template>
								<template if:false={field.isInput}>
									<lightning-layout-item size="8" padding="around-small">
										<div class="custom-box">
											<lightning-record-edit-form
												id={field.fieldeReference}
												record-id={field.fieldRecordId}
												object-api-name={field.fieldObjectApiName}
												onload={onloadData}
											>
												<lightning-input-field
													field-name={field.fieldApiName}
													name={field.fieldeReference}
													onchange={handleChange}
													variant="label-inline"
												>
												</lightning-input-field>
											</lightning-record-edit-form>
										</div>
									</lightning-layout-item>
								</template>
								<lightning-layout-item size="4" padding="around-small">
									<div class="custom-box">
										<lightning-button
											class="slds-var-m-left_x-small"
											name={field.fieldeReference}
											label={label.SetForAllSitesButton}
											onclick={setInformation}
										>
										</lightning-button>
										<lightning-button
											class="slds-var-m-left_x-small"
											name={field.fieldeReference}
											label={label.ClearButton}
											onclick={clearInformation}
										>
										</lightning-button>
									</div>
								</lightning-layout-item>
							</lightning-layout>
						</template>
					</lightning-card>
				</div>
			</div>
			<div class="slds-col slds-size_2-of-3">
				<div class="slds-card_boundary">
					<lightning-card variant="Narrow" title={label.installationSitesCard} icon-name="standard:location"> </lightning-card>
				</div>
				<c-accordion-form record-id="0061l00000Y4MbfAAF" input-json={inputJson}> </c-accordion-form>
			</div>
		</div>
	</template>
</template>
