<template>
	<lightning-card if:true={showComponent} title="Automatic Promotion" icon-name="utility:money">
		<template for:each={promotions} for:item="ap" for:index="index">
			<div class="slds-grid slds-gutters" key={ap.name}>
				<div
					class="slds-col"
					style="display: flex; flex-direction: row; align-items: center"
				>
					<lightning-input
						value={ap.name}
						disabled="true"
						class="slds-m-bottom_xxx-small slds-m-horizontal_small"
						style="flex-grow: 1"
					></lightning-input>
				</div>
			</div>
		</template>
	</lightning-card>
</template>