<!--
    @author            : Rahul Sharma
    @description       : Quick action to display read only billing information
-->

<template>
	<lightning-quick-action-panel header="Billing Information" class="action-panel">
		<div class="slds-is-relative">
			<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="brand"></lightning-spinner>

			<template if:true={recordId}>
				<c-billing-information record-id={recordId} is-output-only="true"></c-billing-information>
			</template>
		</div>
		<div slot="footer">
			<lightning-button variant="neutral" label="Cancel" onclick={handleCancel}></lightning-button>
		</div>
	</lightning-quick-action-panel>
</template>
