<template>
	<div class="slds-var-p-vertical_medium">
		<lightning-card title="Porting" icon-name="utility:apex_plugin">
			<table
				class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_fixed-layout"
				role="grid"
				aria-label="Example table in a Card"
			>
				<thead>
					<tr class="slds-line-height_reset">
						<th class="" scope="col">
							<div class="slds-truncate" title="Subscription">Subscription</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate" title="Contract duration">Contract duration</div>
						</th>
						<th class="" scope="col">
							<div class="slds-truncate" title="Actions"></div>
						</th>
					</tr>
				</thead>
				<tbody>
					<template for:each={bundles} for:item="bundle" for:index="index">
						<tr class="slds-hint-parent" key={bundle.bundle.id}>
							<th scope="row">
								<div class="slds-truncate" title={bundle.bundle.name}>{bundle.bundle.name}</div>
							</th>
							<td role="gridcell">
								<div class="slds-truncate">{bundle.contractTerm}</div>
							</td>
							<td role="gridcell" style="text-align: right">
								<template if:false={bundle.porting}>
									<lightning-button
										data-index={index}
										icon-name="utility:add"
										label="Add Porting"
										slot="actions"
										onclick={addPortingPopUp}
									>
									</lightning-button>
								</template>
								<template if:true={bundle.porting}>
									<lightning-button
										data-index={index}
										icon-name="utility:edit"
										label="Edit Porting"
										slot="actions"
										onclick={addPortingPopUp}
									>
									</lightning-button>
								</template>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
			<template if:true={isAddPorting}>
				<c-order-entry-mobile-porting-form
					change-button-title={changeButtonTitle}
					porting={porting}
					ondelete={handleDelete}
					onconfirm={handleConfirm}
					oncancel={handleCancel}
				>
				</c-order-entry-mobile-porting-form>
			</template>
		</lightning-card>
	</div>
</template>
