<!--
 - Created by rahul on 14-07-2021.
 -->

<template>
	<div class="slds-is-relative">
		<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="brand"></lightning-spinner>

		<lightning-card title={label.cardTitle} icon-name="standard:contract">
			<div class="slds-var-p-horizontal_small" if:true={basket}>
				<!-- Create document Section -->
				<div class="slds-box slds-box_small">
					<p if:false={basket.id}>{label.basketNotPrimaryMessage}</p>
					<p if:false={basket.creditCheckApproved}>{label.creditCheckNotApproved}</p>

					<div if:true={basket.id}>
						<div if:true={basket.creditCheckApproved}>
							<p class="slds-var-m-bottom_small">
								<span>{label.basketIsPrimaryMessage}</span>
								<lightning-formatted-url
									value={basketRecordLink}
									label={basket.name}
									target="_blank"
									class="slds-var-m-left_xx-small"
								></lightning-formatted-url>
							</p>
							<lightning-button
								label={label.createDocumentButton}
								onclick={handleCreateDocument}
								disabled={disableCreateDocument}
								class="slds-align_absolute-center"
							></lightning-button>
						</div>
					</div>
				</div>

				<!-- <p>documentSignature: {basket.documentSignature}</p>
                <p>isSignatureOther: {basket.isSignatureOther}</p> -->

				<!-- Send for approval section -->
				<div class="slds-box slds-box_small slds-var-m-top_small">
					<div if:false={basket.isStatusApproved}>
						<p>{label.basketNotApprovedMessage}</p>
					</div>
					<div if:true={basket.isStatusApproved}>
						<p class="slds-var-m-bottom_small">
							<span if:true={basket.isSignatureOther}>{label.signatureOtherMethodMessage}</span>
							<span if:false={basket.isSignatureOther}>{label.basketApprovedMessage}</span>
						</p>

						<lightning-button
							if:false={basket.isSignatureOther}
							variant="destructive-text"
							label={basket.sendForApprovalButtonLabel}
							onclick={confirmContractRecords}
							class="slds-align_absolute-center"
							disabled={disableSendForApproval}
						></lightning-button>

						<c-confirmation-popup-modal
							onconfirmation={handleConfirmation}
							is-modal-open={openModal}
							title="Confirm Operation "
							message={label.confirmationMessage}
						></c-confirmation-popup-modal>
					</div>
				</div>
			</div>
		</lightning-card>
	</div>
</template>
