<template>
	<div class="slds-page-header slds-page-header_record-home">
		<div class="slds-page-header__row">
			<div class="slds-page-header__col-title">
				<div class="slds-media">
					<div class="slds-media__figure">
						<span class="slds-icon_container slds-icon-standard-opportunity">
							<svg class="slds-icon slds-page-header__icon" aria-hidden="true">
								<use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#shipment"></use>
							</svg>
						</span>
					</div>
					<div class="slds-media__body">
						<div class="slds-page-header__name">
							<div class="slds-page-header__name-title">
                                <c-cs_package_searchbox></c-cs_package_searchbox>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slds-page-header__col-actions">
				<div class="slds-page-header__controls">
					<div class="slds-page-header__control">
						<ul class="slds-button-group-list">
							<li>
								<button class="slds-button slds-button_neutral">Search</button>
							</li>
							<li>
								<button class="slds-button slds-button_neutral" onclick={exit}>Close</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>