<template>
    <div>
        <lightning-card variant="Narrow" title="Services / Delivery Components" icon-name="standard:product_service_campaign">
        <lightning-datatable
            key-field="id"
            data={tableData}
            columns={tableColumns}
            hide-checkbox-column>
        </lightning-datatable>
    </lightning-card>
    </div>    
</template>