<template>
	<div class="slds-m-top_large"></div>
	<c-order-entry-installation-information
		address-check-result={addressCheckResult}
		b2c-internet-customer={b2cInternetCustomer}
		installation={_installation}
		operator-switch={operatorSwitch}
		onstatechanged={installationInformationChange}
		onpreferreddates={preferredDates}
	></c-order-entry-installation-information>
	<div class="slds-m-top_medium"></div>
	<c-order-entry-installation-overstapservice
		b2c-internet-customer={b2cInternetCustomer}
		operator-switch={operatorSwitch}
		onoverstapservicestagechange={overstapservicestagechange}
	>
	</c-order-entry-installation-overstapservice>
	<div class="slds-m-top_medium"></div>
	<c-order-entry-installation-notes notes={notes} onnoteschange={notesChange}> </c-order-entry-installation-notes>
</template>
