<template>
	<template if:true={isFixed}>
		<c-order-entry-product-config-fixed
			opportunity-id={opportunityId}
			main-product={mainProduct}
			installation-site={installationSite}
			bundle={fixedBundle}
		></c-order-entry-product-config-fixed>
	</template>
	<template if:true={isMobile}>
		<c-order-entry-product-config-mobile
			opportunity-id={opportunityId}
			main-product={mainProduct}
			bundles={mobileBundles}
		></c-order-entry-product-config-mobile>
	</template>
</template>
