@font-face {
 font-family: 'VodafoneExBRegular';
 src: url('fonts/vodafoneexbd-webfont.eot');
 src: url('fonts/vodafoneexbd-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/vodafoneexbd-webfont.ttf') format('truetype'), url('fonts/vodafoneexbd-webfont.svg#VodafoneExBRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'VodafoneLtRegular';
 src: url('fonts/vodafonelt-webfont.eot');
 src: url('fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/vodafonelt-webfont.ttf') format('truetype'), url('fonts/vodafonelt-webfont.svg#VodafoneLtRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'VodafoneRgRegular';
 src: url('fonts/vodafonerg-webfont.eot');
 src: url('fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/vodafonerg-webfont.ttf') format('truetype'), url('fonts/vodafonerg-webfont.svg#VodafoneRgRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'VodafoneRgBold';
 src: url('fonts/vodafonergbd-webfont.eot');
 src: url('fonts/vodafonergbd-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/vodafonergbd-webfont.ttf') format('truetype'), url('fonts/vodafonergbd-webfont.svg#VodafoneRgBold') format('svg');
 font-weight: normal;
 font-style: normal;
}


/* 
//
// Typo
// --------------------------------------------------
 */

body {
  margin: 0;
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #525252;
  background-color: #f4f4f4;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #525252;
  text-decoration: underline;
}
a:hover {
  color: #bd0000;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

p {
  margin: 0 0 10px;
}

small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 41.25px;
}
h2 {
  font-size: 33.75px;
}
h3 {
  font-size: 26.25px;
}
h4 {
  font-size: 18.75px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 12.75px;
}
h1 small {
  font-size: 26.25px;
}
h2 small {
  font-size: 18.75px;
}
h3 small {
  font-size: 15px;
}
h4 small {
  font-size: 15px;
}


.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* 
//
// Lists
// --------------------------------------------------
 */

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}

/* 
//
// Forms
// --------------------------------------------------
 */

form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 22.5px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size:14px !important;
  padding: 3px;
  margin:2px 0;
}
select {
  padding: 5px 0;
}

input[type="text"] {
	width:225px;
}

input[type="checkbox"] {
	width:20px;
	height:20px;
}

td.input[type="checkbox"] {
	margin:5px 0;
}

textarea {
	width:229px;
}

select {
	width:240px;
}

.multiSelectPicklistRow select {
	width:103px;
	height:110px;
}

label {
  display: block;
  margin: 5px;
}
.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

/* 
//
// ICONS 
// --------------------------------------------------
 */

#sessiontimeout {margin:0;}

.sortAsc {
    background-image: url("images/icons/sort_asc_arrow.png");
    height:8px;
    width:11px;
	margin:4px;
}

.sortDesc {
    background-image: url("images/icons/sort_desc_arrow.png");
    height:8px;
    width:11px;
	margin:4px;
}

.btn, .button, .formulaButton, .btnWhatsNew {
    background-image: url("images/buttons/bgButton.gif");
    background-position: left top;
    background-repeat: repeat-x;
    border-color: -moz-use-text-color #5C5D61 #5C5D61 -moz-use-text-color;
    border-right: 1px solid #5C5D61;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-weight: bold;
}


body .btn {
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px !important;
    font-weight: normal;
    padding: 4px 20px;
    text-decoration: none;
    border:0;
}

body .btn {
	font-family: VodafoneRgBold, Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-weight:normal;

  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5c2857;
  background-image: -moz-linear-gradient(top, #6e2c6b, #412339);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e2c6b), to(#412339));
  background-image: -webkit-linear-gradient(top, #6e2c6b, #412339);
  background-image: -o-linear-gradient(top, #6e2c6b, #412339);
  background-image: linear-gradient(to bottom, #6e2c6b, #412339);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6e2c6b', endColorstr='#ff412339', GradientType=0);
  border-color: #412339 #412339 #0f080d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #412339;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

body .btn:hover,
body .btn:active,
body .btn.active,
body .btn.disabled,
body .btn[disabled] {
  color: #ffffff;
  background-color: #412339;
  *background-color: #20111c;
}
body .btn:active,
body .btn.active {
  background-color: #20111c \9;
}






body .button.secondary.large {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -150px transparent;
    color: #333333;
    font-size: 16px;
}
body .button.secondary.large span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -100px transparent;
    padding: 10px 0 10px 20px;
    position: relative;
    white-space: nowrap;
}
body .button.secondary.large:hover {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -450px transparent;
}
body .button.secondary.large:hover span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -400px transparent;
}
body .button.secondary {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -250px transparent;
    color: #333333;
    font-size: 13px;
    line-height: 13px;
}
body .button.secondary span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -200px transparent;
    padding: 10px 0 6px 20px;
    position: relative;
    vertical-align: 25%;
    white-space: nowrap;
}
body .button.secondary:hover {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -550px transparent;
}
body .button.secondary:hover span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -500px transparent;
}
body .button {
    padding: 0 20px 0 0;
}
body .button.primary {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -50px transparent;
    float: left;
}
body .button.primary span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    line-height: 18px;
    padding: 8px 0 8px 20px;
}
body .button.primary:hover {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -350px transparent;
}
body .button.primary:hover span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -300px transparent;
}
body .button.primary.small {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -850px transparent;
    float: left;
    font-size: 13px;
}
body .button.primary.small span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -800px transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    line-height: 14px;
    padding: 6px 0 8px 20px;
}
body .button.primary.small:hover {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -950px transparent;
}
body .button.primary.small:hover span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -900px transparent;
}
body .button.secondary.large {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -150px transparent;
    float: left;
}
body .button.secondary.large span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -100px transparent;
    color: #333333;
    display: block;
    float: left;
    line-height: 18px;
    padding: 8px 0 8px 20px;
}
body .button.secondary.large:hover {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -450px transparent;
}
body .button.secondary.large:hover span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -400px transparent;
}
body .button.secondary {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -250px transparent;
    float: left;
}
body .button.secondary span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -200px transparent;
    color: #333333;
    display: block;
    float: left;
    line-height: 14px;
    padding: 6px 0 8px 20px;
}
body .button.secondary:hover {
    background: url("images/buttons/button-sprite.png") no-repeat scroll right -550px transparent;
}
body .button.secondary:hover span {
    background: url("images/buttons/button-sprite.png") no-repeat scroll left -500px transparent;
}

/* 
//
// HEADER
// --------------------------------------------------
 */

.header {
	height:48px;
	background-color:#f40000;
	background: url("images/icons/logo.png") no-repeat scroll 0 50% #f40000;
	padding:0 20px 0 45px ;
}

.header h1 {
	float:left;
	color:#ffffff;
	font-family: VodafoneRgBold, Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-weight:normal;
	font-size:24px;
	line-height:48px;
	margin:0;
	padding:0;
}

.header .logout {
	float:right;
	color:#ffffff;
	font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-size:14px;
	line-height:48px;
}

.header .logout a {
	color:#ffffff;
	text-decoration:underline;
}

/* 
//
// NAVIGATION
// --------------------------------------------------
 */

body .bPageHeader {
	height:80px;
}

body .tabNavigation {
	padding:0;
	background: url("images/backgrounds/bg_tabnavigation.png") repeat-x scroll 0 100% #f4f4f4;
}

body .tabNavigation .tab, body .tabNavigation .tab a {
  color: #333333;
  font-family: VodafoneRgRegular, Arial, Helvetica, "Helvetica Neue", sans-serif;
}

body .tabNavigation .tab td {
	background:none;
	border:0;
	margin:0;
	padding:0;
}

body .tabNavigation .tab div {
	background:none;
	border:0;
	padding:30px 20px;
	font-size:18px;
}

body .tabNavigation .tab td.currentTab {
	background: url("images/backgrounds/bg_tabnavigation_active.png") no-repeat scroll 50% 100% transparent;
}

body .tabNavigation .tab td.currentTab a {
    font-weight: bold;
}


.primaryPalette, .secondaryPalette, .tertiaryPalette, .individualPalette .primaryPalette, .individualPalette .secondaryPalette, .individualPalette .tertiaryPalette, .bPageBlock .pbFooter {
    background-color: #f40000;
    border-color: #f40000;
}

.bSubBlock.secondaryPalette {
    background-color: tranparent;
    border: 0;	
}

/* 
//
// RESET 
// --------------------------------------------------
 */

body .secondaryPalette.bPageBlock .pbHeader {
    background-color: #AEA79F;
}

body .bSubBlock .lbHeader { 
	background-color: #f40000;
}

body .bFilter {
    margin: 0;
}

.pbBody, .pbBody td, .lbBodyDescription, .list .headerRow .noRowsHeader {
    color: #525252;
}

body .primaryPalette, body .primaryPalette a, body .bPageTitle .secondaryPalette, body .bPageTitle .secondaryPalette a, body .secondaryPalette .lbHeader, body .secondaryPalette .lbHeader a, body .pbSubheader, body .pbSubheader a {
    color: #525252;
}

body .tertiaryPalette.pbSubheader a {
	text-decoration:underline;
}

.multiSelectPicklistTable {
	margin:0 -5px;
	overflow-y: vu;
}

.multiSelectPicklistRow select {
	margin:0 5px;
}

.multiSelectPicklistCell {
    background-color: #dbdbdb;
}

.picklistArrowLeft, .picklistArrowRight {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin:0 4px;
}


.picklistArrowLeft {
    background-image: url("images/icons/pick_arrow_left.png");
}

.picklistArrowRight {
    background-image: url("images/icons/pick_arrow_right.png");
}


.helpButton {
	position: relative;
}

/*
.helpButton .helpOrb {
    background-image: url("images/icons/help2.png");
    background-position: 0 0;
    height: 21px;
    width: 22px;
}
*/

body .helpButton {
	position:relative;
}

body .helpButton .helpOrb {
	top:0 !important;
	right:-25px !important;
}

body .bPageBlock .detailList {
	margin-top:10px;
}

body .bPageBlock .detailList .labelCol,
body .bPageBlock .detailList .dataCol {
	font-size: 15px;
    font-weight: normal;
    vertical-align:middle;
    line-height:20px;
}

body .bPageBlock .detailList .labelCol {
    font-weight: bold;
}

body .bPageBlock .detailList .dataCol {
    line-height:22px;
}

body .bPageBlock .detailList .labelCol label {
	font-weight: bold;
	margin:5px 0;
}

.message {
    background-color: #FFFFCD;
    border-style: solid;
    border-width: 1px;
    border-color:#525252;
    color: #525252;
    margin: 4px 20px;
    padding: 6px 8px 6px 6px;
}

.errorM6, .errorM4, .errorM3, .errorM2, .errorS1 {
    border-color: #F80000;
    background-color: #FAE6E6;
}

.errorM3 .msgIcon, .errorMedium {
    margin-top: 7px;
}

.warningM4 .msgIcon, .warningSmall {
    margin-top: 7px;
}

input[type="checkbox"]#email_followup_followup
{
	float:left;
    margin: 3px 5px 0 20px;
}

input[type="checkbox"]#email, 
input[type="checkbox"]#IsRecurrence 
{
	float:left;
    margin: -1px 5px 0 20px;
}


.recurrenceTable label {
	display:inline;
}

.recurrenceTable tr {
	height:32px;
	vertical-align: middle;
}

.recurrenceTable {
	margin-top:3px;
}

.recurrenceTable input[type="radio"] {
	margin-top:-1px;
}

.requiredLegend {
    background-color: transparent;
}


.bPageTitle .ptBreadcrumb a {
    line-height: 30px;
}

.bPageTitle .ptBreadcrumb {
    padding: 0;
}

.searchModule .searchTextBox {
	width:164px;
}
 
.showListButton,
.hideListButton {
    float: left;
    margin: 11px 5px 0 0;
} 

.bMyCalendar .bPageBlock, .bMultiuserCalendar .bPageBlock, .bMyDashboard .bPageBlock {
	background-color:transparent;
}

/* 
//
// SIDEBAR 
// --------------------------------------------------
 */
 
body ..mruItem {
	padding:0;
}

body #bodyTable {
	border-collapse: seperate;
	border-spacing:10px;
}

body #sidebarCell, 
body #bodyCell,
body .noTableBody 
{
	background-color: #FFFFFF;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 1px 1px 1px #d4d4d4;
  -moz-box-shadow: 1px 1px 1px #d4d4d4;
  box-shadow: 1px 1px 1px #d4d4d4;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f9f9f9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fcfcfc 0%, #f9f9f9 100%);
  /* W3C */

	 padding: 0;
}

body .noTableSidebar {
	margin-right: 10px;
}

body .sidebarModuleHeader {
	background-color: #f40000;
	padding:0 0 0 20px;
}

body .sidebarModuleHeader h2 {
	font-family: VodafoneRgBold, Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-weight:normal;
	color:#ffffff;
	font-size:18px;
	line-height:35px;
	margin:0;
	padding:0;
}

body .sidebarModule {
	border:0;
	margin: 0;
	background-color: transparent !important;
}


body #bodyCell .filterOverview, 
body #bodyCell .bDescription {
	padding:0 20px;
}

.rolodex a.listItem {
    border-right: 1px solid #CFCECE;
}

.rolodex a.listItem .listItemPad {
    padding: 0 5px;
    font-size:14px;
}

.rolodex a.listItem:hover {
	background-color:transparent;
	color:#525252;
}


.rolodex .listItemSelected {
	background-color:transparent;
	color:#525252;
	font-weight:normal;
    font-size:14px;
    border-right: 1px solid #CFCECE;
    color: #00b0ca;
}


#sbsearch .sidebarModuleHeader {
	background-color:#AEA79F;
}

#sbsearch .sidebarModuleHeader .sbstr {
}


/* 
//
// BODY 
// --------------------------------------------------
 */

body .bPageTitle .ptBody .pageType,
body .bPageTitle .ptBody .pageDescription {
	font-family: VodafoneRgBold, Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-weight:normal;
	font-size:18px;
	padding:0;
	margin:0 !important; 	
}

body .bPageTitle .ptBody .pageType {
	margin-right:7px !important;
}


body .bPageTitle .ptBody .content,
body .bPageBlock .pbHeader,
body .pbBody .pbSubheader {
    padding: 0 20px;
    float:none;
    width:auto;
}

/* TODO PAGETITLE */
body .bPageTitle .ptBody .content {
	width:auto;
	float:left;
}

body.todo .bPageBlock .pbHeader, 
body.todo #sidebarDiv .recentItemModule.sidebarModule .sidebarModuleHeader {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body .bPageBlock .pbHeader form {
    margin:0;
}

body .bPageTitle .content .blank {
    float:left;
    font-size: 0;
    clear:none;
}

body .bPageTitle .ptBody {
	padding:0;
}

body .bPageTitle .ptBody .links {
	padding: 0 20px 0 0;
	margin:0;
	line-height:35px;
}

body .bPageTitle .ptBody .links a.configLinks {
	color:#ffffff;
	font-size:14px;
}

body .bodyDiv {
    background-color: #f4f4f4;
    padding:40px 0 60px 0;
    border-bottom:1px solid #e0e0e0;
}

body .bPageFooter {
    border-top: 1px solid #fcfcfc;
}

body .bPageTitle h1,
body .bPageTitle h1.pageType,
body .bPageTitle h2,
body .pbHeader .pbTitle h3,
body .pbHeader .pbTitle h2, 
body .pbHeader .pbTitle h2 a, 
body .pbHeader .pbTitle h3, 
body .pbHeader .pbTitle h3 a, 
body .pbSubheader h3, 
body .pbSubheader h3 a
 {
 	font-family: VodafoneRgBold, Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-weight:normal;
	color:#ffffff;
	font-size:18px;
	line-height:35px;
	float:left;
	margin:0;
}

body .bPageTitle h2 {
	float:right;
}

body .bPageBlock, body .individualPalette .bPageBlock {
	border:0;
    background-color: transparent;
}

/* TODO */
body .bPageBlock .pbBody {
     padding: 0 0 0 20px;
}

body .bPageBlock .pbBody {
     padding: 0;
}


body .bPageBlock .pbHeader .listHeader {
	padding:4px 0;
}


body .list {
	border-collapse:collapse;
	font-weight: normal;
	font-size:14px;
}

body .list th,
body .list td {
	background-color:#ebebeb;
	border:1px solid #ffffff;
	padding:4px 5px;
}

body .list th.noRowsHeader,
body .list td.noRowsHeader {
	background-color:transparent;
}

body .list td.actionColumn {
	font-weight: normal;
}

body .list .headerRow th {
	font-weight: bold;	
}

body .list .headerRow th, body .list .headerRow th a {
	border-bottom: 0;
}

body .list a {
	text-decoration: underline;
}

body .list {
}

body .bPageBlock .detailList tr td, body .bPageBlock .detailList tr th {
	border:0;
}

.bPageBlock .pbHeader select, .bPageBlock .pbBottomButtons select {
	margin: 2px 0 0 0;
}

.bPageBlock .pbHeader .pbHelp {
	padding:0
}

body .filterOverview .bFilterView label,
body .withFilter .bFilterView label {
	display:none;
}


/* 
//
// CONTACT 
// --------------------------------------------------
 */

body .listRelatedObject.accountBlock .secondaryPalette.bPageBlock .pbHeader .listHeader,
body .listRelatedObject.contactBlock .secondaryPalette.bPageBlock .pbHeader .listHeader {
    text-align: left;
}

body .listRelatedObject.accountBlock .secondaryPalette.bPageBlock .pbHeader .listHeader > span,
body .listRelatedObject.contactBlock .secondaryPalette.bPageBlock .pbHeader .listHeader > span {
	position:absolute;
	left:20px;
	top:-40px;
}

body .listRelatedObject.accountBlock .secondaryPalette.bPageBlock .pbHeader,
body .listRelatedObject.contactBlock .secondaryPalette.bPageBlock .pbHeader {
    position:relative;
}

body .tertiaryPalette.pbSubheader {
    background-color: transparent;
	margin:10px 0 0 0;
}

body .tertiaryPalette.pbSubheader h3 {
	color:#525252;
}


body .bPageBlock .dataCol.col02 {
	font-size: 15px;
    font-weight: normal;
    line-height: 22px;
	margin:5px;
	vertical-align: middle;
}


body .bPageBlock.bEditBlock .pbButtonb,
body .pbBottomButtons .pbButtonb {
	text-align:left;
}

body .bPageBlock.bEditBlock .pbBottomButtons,
body .bPageBlock .pbBottomButtons  {
	padding:20px 20px 0 20px;
}

#editPage {
	
}

/* 
//
// ORDERS 
// --------------------------------------------------
 */

body .oRight h3.recordTypesHeading {
	padding:0 0 0 20px;
}

body .oRight table.recordTypeInfo.infoTable {
	background-color: transparent;
	padding:0 0 0 20px;
}

/* 
//
// REPORTS 
// --------------------------------------------------
 */


.reportTab .reportList .reportEntry {
    padding: 2px 0 2px 20px !important;
}

body .reportListFolder h3
 {
	color:#ffffff;
	font-size:18px;
	font-weight: bold;
	line-height:35px;
}

body .secondaryPalette.bSubBlock h3 {
	color:#ffffff;
	font-size:18px;
	font-weight: bold;
	line-height:35px;
	background-color: #f40000;
}

body .bFilterView .bFilter label {
	display:none;
}

body .secondaryPalette.bSubBlock {
	background-color: transparent;
} 
body .secondaryPalette.bSubBlock .lbBody {
	background-color: transparent;
}

body .miniTab ul li {
	background:none !important;
	border:0 !important;
}

.miniTab.secondaryPalette {
	padding:6px 0 3px 0;
	height:30px;
}
.miniTab.secondaryPalette .links {
	margin-top:4px;
}

.miniTab.secondaryPalette .links {
	font-size:14px;
}

.miniTabList a {
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px !important;
    font-weight: normal;
    padding: 5px 20px;
    text-decoration: none;
    border:0;

	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #5c2857;
	  background-image: -moz-linear-gradient(top, #6e2c6b, #412339);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e2c6b), to(#412339));
	  background-image: -webkit-linear-gradient(top, #6e2c6b, #412339);
	  background-image: -o-linear-gradient(top, #6e2c6b, #412339);
	  background-image: linear-gradient(to bottom, #6e2c6b, #412339);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6e2c6b', endColorstr='#ff412339', GradientType=0);
	  border-color: #412339 #412339 #0f080d;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #412339;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  
	line-height:20px;
	text-decoration:none;
	margin:3px 0;
}

.miniTabList a:hover {
	text-decoration:none !important;
}


/* 
//
// CAMPAIGNS 
// --------------------------------------------------
 */

body .apexDefaultPageBlock.bPageBlock .pbHeader {
    background-color: #f40000;
}

body .apexDefaultPageBlock.bPageBlock .pbBody {
	padding:20px 0 0 20px;	
}

body .apexDefaultPageBlock.bPageBlock .pbSubheader {
    margin: 0;
    padding:0;
}

/* TODO REALLY? */
body .apexDefaultPageBlock.bPageBlock .pbSubsection {
	margin-left:-30px;
}

body .apexDefaultPageBlock.bPageBlock .pbSubsection .btn {
	margin:20px;
}

/* 
//
// CALENDAR 
// --------------------------------------------------
 */

#homeCalendarSection pbHeader {
    background-color: #f40000;
}

#homeCalendarSection .bPageBlock {
	border:0;
}

#homeCalendarSection .pbHeader {
	background-color: #f40000;	
}

#homeCalendarSection .mCalendar .days {
    font-size:12px;
	line-height:24px;
	padding:0 6px;
	color:#525252 !important;
}

#homeCalendarSection .mCalendar td a.calActive, 
#homeCalendarSection .mCalendar .highlight,
#homeCalendarSection .mCalendar .calActive {
    font-size:12px;
	line-height:24px;
	padding:0 6px;
	color:#525252 !important;
}

#homeCalendarSection .mCalendar .highlight { 
	background-color:#ffffff;
}

#homeCalendarSection .mCalendar .calDays {
    font-size:14px;
	line-height:24px;
	color:#00b0ca;
}

#homeCalendarSection .mCalendar .body {
    width: auto;
    border:0;
    background:none;
    background-color:transparent;
}

#homeCalendarSection .mCalendar {
	background-color: #FFFFFF;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 1px 1px 1px #d4d4d4;
  -moz-box-shadow: 1px 1px 1px #d4d4d4;
  box-shadow: 1px 1px 1px #d4d4d4;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f9f9f9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fcfcfc 0%, #f9f9f9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fcfcfc 0%, #f9f9f9 100%);
  /* W3C */

	 padding: 0; 
}

.mCalendar .topLeft,
.mCalendar .topRight,
.mCalendar .bottomRight,
.mCalendar .bottomLeft {
	background:none;
}

#homeCalendarSection .mCalendar .header {
	background:transparent;
}

body #homeCalendarSection .bPageBlock .pbBody {
	padding:20px 20px 0 20px;
}

#homeCalendarSection .mCalendar .header td {
	border:0;
	color:#333333;
	font-size:14px;
	font-weight:bold;
}

.mCalendar .calendarHeader {
    margin: 0 auto 15px;
    padding-left: 5px;
    width: 230px;
}

.mCalendar .header .prevCalArrow,
.prevCalArrow {
    background-image: url("images/icons/btn_left.png");
    background-position: 0 0;
    display: block;
    height: 35px;
    width: 35px;
}

.mCalendar .header .nextCalArrow,
.nextCalArrow {
    background-image: url("images/icons/btn_right.png");
    background-position: 0 0;
    display: block;
    height: 35px;
    width: 35px;
}

.calendarHeader .arrowIcons img {
    height: 35px;
    width: 35px;
}

.calendarHeader .dateText {
    float: left;
    font-weight: bold;
    margin: 3px 0;
    padding: 10px;
    font-size:14px;
}

#homeCalendarSection .homeCalendarEvents .event,
#homeCalendarSection .homeCalendarEvents .date {
    border: 0;
    color: #525252;
    font-weight: normal;
    padding: 0;
}

#homeCalendarSection .homeCalendarEvents .date {
    font-weight: bold;
    padding:4px 0;
}

form#swt {
	margin:0;
}

body .bCalendar .bPageTitle .ptBody .content {
	float:left;
}


/* CHANGE IN CALENDAR WEEKVIEW ONE PERSON */
body .bCalendar .bPageTitle .ptBody .content a {
	float:left;
	padding:0;
	margin:0 10px;
	color:#ffffff;
	line-height:35px;
}

body .secondaryPalette .content a {
	float:left;
	padding:0;
	margin:0 10px;
	color:#ffffff;
	line-height:35px;
}

body .bCalendar .bPageTitle .ptBody .links {
	line-height:35px;
	margin:0;
	padding:0 20px 0 0;
}


.calendarHeaderBG {
	background:none;
}

.calendarHeader .userIcons {
	margin:10px 20px;
}

.calendarHeader .userIcons img,
.calendarHeader .dwmIcons img {
	height:35px;
	width:35px;
	margin-right:2px;
}

.calendarHeader .singleUserViewIcon,
.calendarHeader .singleUserViewIconOn {
	background-image: url("images/icons/one_person.png");
	background-position: 0 0;
}
.calendarHeader .multiUserViewIcon,
.calendarHeader .multiUserViewIconOn {
	background-image: url("images/icons/multi_person.png");
	background-position: 0 0;
}
.calendarHeader .listViewIcon,
.calendarHeader .listViewIconOn {
	background-image: url("images/icons/list_view.png");
	margin-right:4px !important;
	background-position: 0 0;
}
.calendarHeader .dayViewIcon,
.calendarHeader .dayViewIconOn {
	background-image: url("images/icons/one_day.png");
	background-position: 0 0;
}
.calendarHeader .weekViewIcon, 
.calendarHeader .weekViewIconOn {
	background-image: url("images/icons/one_week.png");
	background-position: 0 0;
}

.calendarHeader .monthViewIcon,
.calendarHeader .monthViewIconOn {
	background-image: url("images/icons/one_month.png");
	background-position: 0 0;
}

.calendarHeader img.datePickerIcon,
.datePickerIcon {
    background-image: url("images/icons/date_picker.png");
    background-position: 0 0;
    height: 35px;
    width: 35px;
}

.legend .busy, .multiuserCalendar .eventBusy, .bCalendar .calendarDayWeekView .eventBlockDiv.eventBusy, .bCalendar .calendarDayWeekView .eventBlockDivDnD.eventBusy, body .bodyDiv .oRight .hoverDetail.eventBusy .hoverOuter {
    background-color: #00bcd3;
}

.legend .outOfOffice, .multiuserCalendar .eventOOO, .bCalendar .calendarDayWeekView .eventBlockDiv.eventOOO, .bCalendar .calendarDayWeekView .eventBlockDivDnD.eventOOO, body .bodyDiv .oRight .hoverDetail.eventOOO .hoverOuter {
    background-color: #f80000;
}

.calendarHeader img.datePickerIcon:hover,
.datePickerIcon:hover {
    background-position: 0 100%;
}

.calendarHeader .dateLinks a {
	margin:5px;
	line-height:35px;
}

.calendarHeader .singleUserViewIconOn,
.calendarHeader .multiUserViewIconOn,
.calendarHeader .listViewIconOn,
.calendarHeader .dayViewIconOn,
.calendarHeader .weekViewIconOn,
.calendarHeader .monthViewIconOn {
	background-position: 0 100%;
}

.mCalendar .calendarHeader .userIcons, .mCalendar .calendarHeader .dwmIcons {
}

.mCalendar .calendarHeader .userIcons {
	margin:0 2px 0 1px;
}

.calendarHeader .legend {
	margin:10px 0;
}


.calendarHeader .wEndCheckBox input,
.calendarHeader .wEndCheckBox .checkboxLabel {
    margin-top:16px !important;
}

table.calendarTable {
	border:0 !important;
}

/*
table.calendarTable .headerRow th {
    background-color: #FFFFFF !important;
}

table.calendarTable .dateRow td, table.calendarTable .dateRow th {
    background-color: #ebebeb;
    border: 1px solid #FFFFFF;
}

table.calendarTable td.mins.first,
table.calendarTable .even td,
table.calendarTable .odd td {
    background-color: #f4f2f2;
    border: 1px solid #FFFFFF;
}

table.calendarTable td.nameCol,
table.calendarTable th.nameCol {
    background-color: #ebebeb;
    border: 1px solid #FFFFFF;
}

table.calendarTable th.cbCol, 
table.calendarTable .even td.cbCol, 
table.calendarTable .odd td.cbCol {
    background-color: #ebebeb;
    border: 1px solid #FFFFFF;
}


.bMyCalendar .bPageBlock, 
.bMultiuserCalendar .bPageBlock, 
.bMyDashboard .bPageBlock {
    border: 0;
}

.bCalendar .calendarLayout .hourRowLabel {
	background-color: #ebebeb !important;
    border: 1px solid #FFFFFF;
}

.bCalendar .calendarLayout {
    background-color: #f4f2f2;
    border: 1px solid #FFFFFF;
}
*/

/* 
//
// ADVANCED SEARCH 
// --------------------------------------------------
 */

#searchForm {
	padding:0 0 0 20px;
}

#searchForm .tertiaryPalette {
	background-color:transparent;
}

#searchForm .tertiaryPalette .searchScopeHeader {
	color:#333333;
}

#searchForm input[type="checkbox"], #searchForm input[type="checkbox"],
#entitySearchForm input[type="checkbox"], #entitySearchForm input[type="checkbox"] {

	float:left;
    margin: auto 5px auto 20px;
}

#entitySearchForm .entitiesSelect input[type="checkbox"] {
    margin: 5px 5px 5px 0px;
}

#searchForm input[type="checkbox"]#asPhrase {
	margin: auto 5px auto 0;
}

.usernameText {
	font-size: 15px;
    font-weight: normal;
    line-height: 30px;
}	

body .hideListButton {
    background: url("images/icons/down.png") no-repeat scroll 50% 50% transparent;;
    height: 18px;
    width: 18px;
    margin-top:8px;
}

body .showListButton {
    background: url("images/icons/right.png") no-repeat scroll 50% 50% transparent;;
    height: 18px;
    width: 18px;
    margin-top:8px;
}

body .lookupIcon, 
body .lookupIconOn {
    background: url("images/icons/search2.png") no-repeat scroll 0 0 transparent;;
    height: 25px;
    width: 27px;
}

body .lookupIconOn {
	background-position: -29px 0;
}


body .comboboxIcon,
body .comboboxIconOn {
    background: url("images/icons/combo2.png") no-repeat scroll 0 0 transparent;;
    height: 23px;
    width: 22px;
}

body .comboboxIconOn {
	background-position: -23px 0;
}


/* 
//
// ADVANCED SEARCH 
// --------------------------------------------------
 */

#loginBox .pbHeader {
    background-color: #F40000;
}

/* 
//
// LOGIN 
// --------------------------------------------------
 */
 
 #login {
	margin:120px auto 0;
	width:890px;
}


#loginBox .pbHeader {
    background-color: #F40000;
}

#login form {
	margin:120px auto 0;
	width:890px;
}

#login .background  {
	background: url("images/backgrounds/login.png") no-repeat scroll 0 0 transparent;;
    height: 334px;
    width:490px;
    margin-right:60px;
}

#login .pbBody table tr td {
	padding:10px 0;

}

#login .pbBottomButtons .forget {
	float:left;
}

#login .pbBottomButtons .forget a {
	margin:5px;
	line-height:30px
}

#login .pbBottomButtons .submit {
	float:right;
}

#login .pbBottomButtons .submit input {
	width:140px;
}
