<template>
	<div class="slds-action-overflow--touch__footer">
		<div class="slds-form-element">
			<div class="slds-form-element__control">
				<input type="text" id="addressFilter" placeholder="Filter address data..." class="slds-input" onkeyup={filterdata} />
			</div>
		</div>
	</div>
	<div class="slds-app-launcher__tile-body">
		<p>Grouped by address</p>
	</div>
	<lightning-accordion allow-multiple-sections-open
		onsectiontoggle={handleSectionToggle}>
		<template for:each={solutions} for:item="solution">
			<table key={solution.Id} width="100%" class={solution.visible}>
				<tr>
					<td style="padding-left: 14px; vertical-align:top; padding-top: 12px;">
						<lightning-input type="checkbox">
						</lightning-input>
					</td>
					<td width="100%">
						<lightning-accordion-section key={solution.Id} name={solution.Id} label={solution.Name}>
							<template for:each={solution.Subscriptions} for:item='subscription'>
								<div key={subscription.Name}>{subscription.Name}</div>
							</template>
						</lightning-accordion-section>
					</td>
				</tr>
			</table>
		</template>
	</lightning-accordion>
	<div class="slds-app-launcher__tile-body">
		<p>Non address subscriptions</p>
	</div>
	<div style="padding-left: 8px;">
		<fieldset class="slds-form-element slds-form-element_stacked">
			<div class="slds-form-element__control">
				<template for:each={nositesolutions} for:item="nss">
					<div key={nss.Id} class="slds-checkbox">
						<input type="checkbox" name="default" id={nss.Id} value={nss.checked} />
						<label class="slds-checkbox__label" for={nss.Id}>
						<span class="slds-checkbox_faux"></span>
						<span class="slds-form-element__label">{nss.Name}</span>
						</label>
					</div>
				</template>
			</div>
		</fieldset>
	</div>
	<div class="slds-modal__footer" style="display: flex; flex-direction: row; justify-content: right;">
		<select class="slds-select" id="changeType" style="width: 200px;">
			<option value="">Select Change Type…</option>
			<option>Terminate</option>
			<option>Change</option>
			<option>Upgrade</option>
			<option>Downgrade</option>
			<option>Relocate</option>
			<option>Add</option>
			<option>Suspend</option>
			<option>Cancel</option>
		</select>
		<div class="slds-form-element" style="margin-left: 5px;">
			<button class="slds-button slds-button_brand">Create MAC Opportuntiy</button>
		</div>
	</div>
</template>