<!--
	Author: Rahul Sharma (19-10-2022)
	Description: Used in COM opportunity won screen flow to handle navigation, once it receives the platform event containing an orderId for current opportunity
 -->

<template>
	<div class="slds-is-relative" style="height: 4rem">
		<lightning-spinner alternative-text="Loading" if:true={isLoading} variant="brand"> </lightning-spinner>
		<p if:true={hasError}>{errorMessage}</p>
	</div>
</template>
