<apex:page showHeader="true" sidebar="true" controller="SalesforceContactInfoController" action="{!checkUserEmail}" lightningStylesheets="true" >
    <style>
        .hasMotif {
            margin : 0px;
        }
    </style>
    <apex:form rendered="{!NOT(ISPICKVAL($User.UserType,'PowerPartner'))}" >
        <apex:pageBlock title="Salesforce Team wishes you Happy Holidays!">
           <img src="https://i.gifer.com/embedded/download/A120.gif" height="400" width="750"> </img>
        </apex:pageBlock>
    </apex:form>
    <br/><hr/>
</apex:page>