<!--
* File Name     :  LG_UpdateLeadStatustoQualified
* Description   :  This page controls the SF1 action "Qualified" on lead record

* @author       :   Shreyas
* Modification Log
===================================================================================================
* Ver.    Date          Author              Modification
---------------------------------------------------------------------------------------------------
* 1.0      9th-Aug-16    Shreyas             Created the class for release R1.5
-->

<apex:page standardController="Lead" extensions="LG_SalesforceOneLeadActionsController">

    <script>

        window.onload = qualifyLead();
        function qualifyLead() {

            var leadRecordId = '{!leadId}';
            Visualforce.remoting.Manager.invokeAction( '{!$RemoteAction.LG_SalesforceOneLeadActionsController.updateLeadStatusToQualified}',
                                                       leadRecordId,
                                                       function(result, event) {

                                                          
                                                               var customErrorMessage = "Something went wrong, please contact system administrator.";
                                                               customErrorMessage = customErrorMessage + "<br>\n</br>" + result;
                                                               document.getElementById("{!$Component.block.errorMessage}").innerHTML = customErrorMessage;
                                                           
                                                       }

            );


        }


    </script>

    <apex:pageBlock id="block">
            <apex:outputText id="errorMessage"/>
    </apex:pageBlock>

</apex:page>