<apex:page id="OlbicoCdpNewContact" sidebar="false" tabStyle="Contact" standardController="Contact" extensions="OlbicoCdpController">
    <apex:outputPanel layout="block" id="detail">
        <apex:iframe src="https://crmplugin.dqbox.com/CrmUserRedirect.html?token={!token}&userpage=contact&ID={!accountId}&language={!language}&userId={!$User.Id}&profile={!HTMLENCODE($Profile.Name)}&recordType={!recordType}" scrolling="false" height="870px" width="100%" />
    </apex:outputPanel>
</apex:page>