<apex:page standardController="Order__c" showHeader="true" sidebar="true" extensions="OrderStatusController">
	<apex:form >
		<apex:pageBlock title="Reset Order {!order.Name}">
			<apex:pageMessage severity="Warning" summary="Make sure you cancel the order in BOP when resetting it in Salesforce, otherwise you will have 2 orders in BOP!" /> 
			<apex:pageMessages />
			<apex:pageBlockButtons >
				<apex:commandButton value="Confirm" action="{!confirmReset}" />
				<apex:commandButton value="Cancel" action="{!Cancel}" />
			</apex:pageBlockButtons>
			<apex:pageBlockSection >

			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>