<apex:page standardController="Order__c" extensions="OrderAccept" recordSetVar="unused" action="{!claimOrders}">
	<apex:form >
		<apex:pageMessages />
		<apex:commandButton action="{!backToList}" value="Back" />
	</apex:form>
</apex:page>