<apex:page sidebar="false" 
            standardstylesheets="true"
            tabStyle="Order__c"
            controller="OrderFormNumberPortingDataController"
            action="{!updateNumberportingStatus}">

    <apex:composition template="OrderFormTemplate">
        <apex:define name="component-menu">
            <c:OrderFormComponentsList currentOrder="{!theOrderWrapper.theOrder}" />
        </apex:define>        
        <apex:define name="page-body">
            <apex:form >
                <apex:pageBlock title="{!$Label.LABEL_OrderForm_Number_Blocks}" id="npBlock">
            
                    <apex:pageBlockButtons >

                        <apex:commandButton id="numberportingRemoveAllButton"
                                            value="{!$Label.LABEL_OrderForm_Remove_Blocks}" 
                                            action="{!removeAllNumberPortings}" 
                                            rerender="page-container,menu-container,orderform-container"
                                            status="orderstatus" 
                                            onclick="if(!confirm('Are you sure you wish to remove these blocks?')){return};"
                                            rendered="{!!Locked && !portingRows.empty}"/>
                        <apex:commandButton id="numberportingAdditionalArticles"
                                            value="{!$Label.LABEL_OrderForm_Additional_Articles}" 
                                            action="{!setAsAdditionalArticles}" 
                                            rerender="page-container,menu-container,orderform-container"
                                            status="orderstatus" 
                                            onclick="if(!confirm('Are you sure you wish to move these blocks?')){return};"
                                            rendered="{!!Locked && !portingRows.empty}"/>                                            
                        <apex:commandButton id="numberportingRegenerateButton"
                                            value="{!$Label.LABEL_OrderForm_Renew_Blocks}" 
                                            action="{!regenerateNumberPortings}" 
                                            rerender="page-container,menu-container,orderform-container"
                                            status="orderstatus" 
                                            rendered="{!!Locked && portingRows.empty}"/>
                        <apex:commandButton id="numberportingSaveButton"
                                            value="{!$Label.LABEL_OrderForm_Save_Block_Changes}" 
                                            action="{!saveNumberPortings}" 
                                            styleclass="hide"
                                            rerender="page-container,menu-container,orderform-container"
                                            status="orderstatus" 
                                            rendered="{!!Locked}"/>
                        <apex:actionStatus id="orderstatus" onstart="dimOn()" onstop="dimOff()" stopText="">
                          <apex:facet name="start">
                            <img src="/img/loading.gif"/>
                          </apex:facet> 
                        </apex:actionStatus>                                            
                    </apex:pageBlockButtons>

                    <c:OrderFormNumberportingData c="{!ApexController}"/>
                </apex:pageBlock>
            </apex:form>
        </apex:define>
    
    </apex:composition>

</apex:page>