<apex:page sidebar="false"
           standardstylesheets="true"
           tabStyle="Order__c"
           controller="OrderFormCustomerDataController"
           extensions="PP_LightningController"
           action="{! refresh }"
           showHeader="{! NOT(isLightningCommunity) }">

    <apex:slds rendered="{! isLightningCommunity }" />


    <apex:composition template="OrderFormTemplate" >
        <apex:define name="component-menu">
            <c:OrderFormComponentsList currentOrder="{!theOrderWrapper.theOrder}" />
        </apex:define>
        <apex:define name="page-body">
            <apex:form >
                <c:OrderFormCustomerData c="{!ApexController}"/>
            </apex:form>
        </apex:define>

    </apex:composition>

</apex:page>