<apex:page sidebar="false" 
            standardstylesheets="true"
            tabStyle="Order__c"
            controller="OrderFormPhonebookRegDataController"
            action="{!updatePhonebookRegistrationStatus}">

    <apex:composition template="OrderFormTemplate">
        <apex:define name="component-menu">
            <c:OrderFormComponentsList currentOrder="{!theOrderWrapper.theOrder}" />
        </apex:define>        
        <apex:define name="page-body">
            <apex:form >
                <apex:pageBlock title="{!$Label.LABEL_OrderForm_PhoneBook_Reg}" id="pbrBlock">
                   
                    <apex:pageBlockButtons >
                        <apex:commandButton id="PhonebookRegistrationSaveButton"
                                            value="{!$Label.LABEL_OrderForm_Save_Phonebook_Changes}"
                                            action="{!savePhonebookRegistrations}" 
                                            styleclass="hide"
                                            rerender="page-container,menu-container,orderform-container"
                                            status="loading-status" 
                                            rendered="{!!Locked}"/>
                    </apex:pageBlockButtons>
                    <c:OrderFormPhonebookRegistrationData aNumberPorting="{!numberporting}" aPhonebookRegistrations="{!phonebookRegistrations}" order="{!theOrderWrapper.theOrder}" id="pbComp" locked="{!locked}"/>
                </apex:pageBlock>
            </apex:form>
        </apex:define>
    
    </apex:composition>

</apex:page>