<apex:page standardController="Site__c" extensions="SiteCheckEnrichDataController" title="Site Enrich Data" tabStyle="Site__c">
	
		<div id="darkLayerDetail" class="darkClass" ></div>
		<apex:outputPanel >
			<apex:detail subject="{!siteId}" />
		</apex:outputPanel>

	<apex:form >
		
		<apex:outputPanel id="popup">  
			 
		    <apex:outputPanel styleClass="customPopup" layout="block" >
		    	<div id="darkLayer" class="darkClass" style="display:none"></div>  
				<apex:actionStatus id="status" onstart="dimOn()" onstop="dimOff()" />						
                
                <apex:pageBlock title="Manage Quotes" >
                	<apex:pageBlockButtons >
                		<apex:commandButton value="Save and return" action="{!saveUpdates}" status="saveStatus" />
                		<apex:commandButton value="Return to Site" action="{!backToSite}" />
			 			<apex:actionStatus id="saveStatus"  stopText="">
  			  			    <apex:facet name="start">
  				  		       <img src="/img/loading.gif"/> Loading....
  			  			    </apex:facet> 
  			 			</apex:actionStatus>
                	</apex:pageBlockButtons>
                	<apex:pageMessage strength="2" severity="info" summary="Note that only the lines with both an amount and a date will become Active!" />

                	<apex:pageMessages />

                	<apex:pageBlockTable value="{!activeChecks}" var="infra" id="infraTable">
                		<apex:column value="{!infra.spc.Access_Vendor__c}" />
                		<apex:column value="{!infra.spc.Technology_Type__c}" />
                		<apex:column value="{!infra.spc.Accessclass__c}" />
                		<apex:column value="{!infra.spc.Access_Max_Down_Speed__c}" />
                		<apex:column value="{!infra.spc.Access_Max_Up_Speed__c}" />
                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Offer_Amount__c.label}" >
                			<apex:inputField value="{!infra.dummyTask.Dummy_number__c}" />
                		</apex:column>
                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Offer_Valide_Date__c.label}" >
                			<apex:inputField value="{!infra.dummyTask.Dummy_date__c}" />
                		</apex:column> 
						<apex:column headerValue="File">
							<apex:outputPanel rendered="{!infra.f.ContentFileName != null}">
								<apex:outputLink rendered="{!infra.f.RelatedRecordId != null}" value="/sfc/servlet.shepherd/version/download/{!infra.f.RelatedRecordId}?asPdf=false&operationContext=CHATTER" target="_blank">View</apex:outputLink>
								&nbsp;
								<apex:outputField value="{!infra.f.ContentFileName}" />
							</apex:outputPanel>	
							<apex:outputLabel rendered="{!infra.f.ContentFileName == null}" value="No file uploaded" />
						</apex:column>	
						<apex:column headerValue="New file">
							<apex:inputFile value="{!infra.f.ContentData}" filename="{!infra.f.ContentFileName}"/>
						</apex:column>											                		               		
                	</apex:pageBlockTable>
                	<apex:commandButton value="Add More" action="{!addMoreInfra}" />

                	<apex:outputPanel id="newInfraPanel" >
						<apex:pageBlockTable value="{!newChecks}" var="infra" id="newInfraTable" rendered="{!!newChecks.empty}">
	                		<apex:column value="{!infra.spc.Access_Vendor__c}" />
	                		<apex:column value="{!infra.spc.Technology_Type__c}" />
	                		<apex:column value="{!infra.spc.Accessclass__c}" />
	                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Max_Down_Speed__c.label}">
	                			<apex:selectList value="{!infra.spc.Access_Max_Down_Speed__c}" size="1">
	                				<apex:selectOptions value="{!infra.speeds}" />
	                			</apex:selectList>
	                		</apex:column> 
	                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Max_Up_Speed__c.label}">
	                			<apex:selectList value="{!infra.spc.Access_Max_Up_Speed__c}" size="1">
	                				<apex:selectOptions value="{!infra.speeds}" />
	                			</apex:selectList>
	                		</apex:column>  
	                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Result_Check__c.label}" >
	                			<apex:selectList value="{!infra.spc.Access_Result_Check__c}" size="1">
	                				<apex:selectOptions value="{!infra.resultChecks}" />
	                			</apex:selectList>	                		
	                		</apex:column>	                		               		
	                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Offer_Amount__c.label}" >
	                			<apex:inputField value="{!infra.dummyTask.Dummy_number__c}" />
	                		</apex:column>
	                		<apex:column headerValue="{!$ObjectType.Site_Postal_Check__c.fields.Access_Offer_Valide_Date__c.label}" >
	                			<apex:inputField value="{!infra.dummyTask.Dummy_date__c}" />
	                		</apex:column> 
	
							<apex:column headerValue="File">
								<apex:outputPanel rendered="{!infra.f.ContentFileName != null}">
									<apex:outputLink rendered="{!infra.f.RelatedRecordId != null}" value="/sfc/servlet.shepherd/version/download/{!infra.f.RelatedRecordId}?asPdf=false&operationContext=CHATTER" target="_blank">View</apex:outputLink>
									&nbsp;
									<apex:outputField value="{!infra.f.ContentFileName}" />
								</apex:outputPanel>	
								<apex:outputLabel rendered="{!infra.f.ContentFileName == null}" value="No file uploaded" />
							</apex:column>	
							<apex:column headerValue="New file">
								<apex:inputFile value="{!infra.f.ContentData}" filename="{!infra.f.ContentFileName}"/>
							</apex:column>											                		               		
	                	</apex:pageBlockTable>                	
	                </apex:outputPanel>
				</apex:pageBlock>
			</apex:outputPanel>  
		</apex:outputPanel>     		
	</apex:form>
	<style type="text/css">      
	 .customPopup{            
		  background-color: white; 
		  border-style: solid; 
		  border-width: 1px;
		  left: 50%;           
		  padding:10px;           
		  position: absolute;           
		  z-index: 25;           
		   /* These are the 3 css properties you will need to tweak so the pop             
		   up displays in the center of the screen. First set the width. Then set            
		   margin-left to negative half of what the width is. You can also add            
		   the height property for a fixed size pop up.*/            
		  width: 1200px;            
		  margin-left: -600px;
		  top:100px;        
	}
	    
	.darkClass
	{
	    background-color: white;
	    filter:alpha(opacity=50); /* IE */
	    opacity: 0.5; /* Safari, Opera */
	    -moz-opacity:0.50; /* FireFox */
	    z-index: 20;
	    height: 100%;
	    width: 100%;
	    background-repeat:no-repeat;
	    background-position:center;
	    position:absolute;
	    top: 0px;
	    left: 0px;
	}
	</style>

	<script type="text/javascript">
	function dimOff()
	{
	    document.getElementById("darkLayer").style.display = "none";
	}
	function dimOn()
	{
	    document.getElementById("darkLayer").style.display = "";
	}
	</script>		

</apex:page>