<apex:page
	standardController="VF_Contract__c"
	extensions="VF_ContractRenewController"
	showHeader="true"
	sidebar="true"
	action="{!updateContractStatus}"
>
	<apex:form>
		<apex:pageMessages />
		<apex:commandButton value="Back to Contract" action="{!backToContract}" />
	</apex:form>
</apex:page>
