html {
	background: none;
	background-color: #F4F4F4;
	color: #000;
}

body .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: flex-start;
    max-width: 100%;
    padding: 2rem 4rem;
}

body .container.afterpin-main section {
    margin: 0 !important;
    padding: 1rem;
}

body .container.afterpin-main > span {
    display: grid;
    align-items: center;
    background-color: #FFF;
    border-radius: .25rem;
    border: 1px solid #D4D4D4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    height: 100%;
}

body .container.afterpin-main #message-div {
    grid-column: -1/1;
    background-color: #FFF;
    border-radius: .25rem;
    border: 1px solid #D4D4D4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    height: 100%;
    padding: 0.5rem;
}

body .container.afterpin-main #message-div .pulse {
    border: none;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
}

body .container.afterpin-main > span:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20);
}

body .container.afterpin-main > span:first-of-type,
body .container.afterpin-main > span:nth-of-type(4),
body .container.afterpin-main > span:last-of-type {
    grid-column: -1/1;
}

body .container.afterpin-main > span:last-of-type {
    background-color: transparent;
    border-radius: .25rem;
    border: none;
    box-shadow: none;
}
body .container.afterpin-main > span .submission {
    background-color: #F4F4F4;
    border-top: 3px solid #D4D4D4;
}

body section.documents-to-approve {
    margin: 2rem;
}

body .gradient {
  background: #F4F4F4;
}

body .afterpin-header h1 {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #e60000;
}

body h1 {
  color: #e60000;
}

body .afterpin-header {
    background-color: #FFF ;
    border-bottom: 4px solid #e60000
}

body .sites-approval-header p {
    padding-right: 0.5rem;
}

body .sites-approval-header img {
	width: 70px;
}

body h2 {
	color: #00B0CA;
	font-size: 1rem;
	font-weight: 700;
}

body .row {
    border: none;
}

body .row.header {
    color: #39393a;
    border: none;
}

body .flex-table,
body .section-header,
body .section-main-signatory,
body .additional main {
    padding: 0;
}

body .approver-signature-wrapper label.browse {
    margin-bottom: 1rem;
    width: 100%;
}

body label.browse,
body .input-field {
    width: 100%;
    color: #333;
    border: 1px solid #D4D4D4;
    border-radius: 0;
    max-width: 100% !important;
}

body label.label-text {
    color: #333;
}

body input.button {
    color: #FFF;
    font-size: 0.8rem;
    background: #e60000;
}

body input.button:hover,
body input.button:active {
    background: #b30000;
    color: #fff;
}

body input.button:focus {
    box-shadow: rgb(179, 0, 0) 0 0 3px;
}

body a.button,
body .flex-table a:link {
    color: #e60000;
    font-size: 0.8rem;
}

body .approve.span:hover,
body a.button:hover {
    color: #e60000;
    border-color: #e60000;
    background-color: #fff;
}

body span.checkbox-style {
	border-radius: 12px;
	background-color: #fff;
    color: #ea1c0a;
}

body span.checkbox-style:before {
	color: #ea1c0a;
}

body .checkbox-style:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

body .approve-decline div#commentblock label {
    color: #e60000;
}

body input[type="checkbox"]:checked + span.decline {
    background-color: #e60000;
    border: 1px solid #e60000;
    box-shadow: none;
}

body input[type="checkbox"]:checked + span.approve {
    box-shadow: none;
}

body #message-div p {
	color: #333;
    display: none !important;
}

body #message-div {
    display: none !important;;
}

body textarea.textarea {
    font-size: 0.8rem;
    color: #333;
}

body input.button.reverse-button {
    background-color: #e60000;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    line-height: inherit;
    text-decoration: none;
    border: none;
}

body input.button.reverse-button:hover,
body input.button.reverse-button:active,
body input.button.reverse-button:focus {
    background-color: #e60000 !important;
    border: none;
    box-shadow: 0 0 3px #e60000;
}

body .input-text:focus,
body .input-field:focus,
body .approve-decline select:focus {
    outline: none;
    border: 1px solid #e60000;
    box-shadow: 0 0 3px #e60000;
}

body .customMessageError {
    background-color: #b00402;
}

body .messageTable .messageText h4 {
    color: #ffffff;
}

body .page-bottom {
    height: 3rem;
}

section.signatory .section-main-signatory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}

section.signatory .section-main-signatory .signature-buttons {
    grid-column: -1/1;
    justify-content: center;
    display: flex;
}

section.signatory .approver-signature-wrapper,
section.signatory .signatory-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.signatory .approver-signature-wrapper {
    order: 2;
}

section.signatory .signatory-name-wrapper {
    order: 1;
}

section.signatory .section-main-signatory .signature-buttons {
    order: 3;
}

section.signatory .clearfix {
    display: none;
}

section.signatory .approver-signature-wrapper input.button {
    align-self: flex-end;
}

section.additional main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
section.additional .vat-wrapper,
section.additional .po-wrapper,
section.additional .vat-wrapper .input-field,
section.additional .po-wrapper .input-field {
    width: 100%;
}

section.user-documents .section-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 1rem;
}

.icon-delete:before, .icon-eye:before, .approve:before, .decline:before {
    color: #787878;
}

.message.customMessageInfo {
    background-color: rgb(246, 231, 173);
}

input[type="checkbox"]:checked + span.approve,
input[type="checkbox"]:checked + span.approve:hover {
    background-color: #00B0CA;
    border: 1px solid #00B0CA;
}

@media only screen and (max-width: 768px) {
    body .container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    section.signatory .section-main-signatory {
        grid-template-columns: 1fr;
    }
    section.user-documents .section-header {
        grid-template-columns: 1fr;
    }
    section.signatory .approver-signature-wrapper input.button {
    align-self: auto;
}
}


