.customWidth {
	width: 200px;
}
.slds-is-absolute {
	position: relative;
}
.picklist-container,
.lookup-container {
	width: 90%;
	margin: 0 auto;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown {
	position: relative !important;
	z-index: 99 !important;
	max-height: 120px;
	overflow: scroll;
	top: -2.126px !important;
}

[lightning-combobox_combobox-host] {
	display: block;
}

th.slds-has-focus,
td.slds-has-focus {
	box-shadow: none !important;
}

.slds-table_edit thead th:first-child {
	width: 60px;
}
