/**
  CSS template for BillingAccounts and PortingNumbers pages
*/
.container
{
	overflow:auto;
	width:800px;
}

.headerRow .TableTitle
{
	color: #ab1e24 !important;
}

.selectedDataRow 
{
	background-color: orange;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable,
body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock,
body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock
{
	background-color: white;
	border-bottom: 1px solid orange;
	border-left: 1px solid orange;
	border-radius: 4px 4px 4px 4px;
	border-right: 1px solid orange;
	border-top: 5px solid orange;
}

.pbHeader
{
	color: #6a6a6a !important;
	font-size:150%;
}

.pbBottomButtons .pbButtonb .btn
{
	background-color:#able24 !important;
	color:white !important;
}

body .bPageBlock .pbBody .orangePageBlock .pbSubheader
{
	   background-color: orange;
	   text-align: left;
}