/* to remove automatic inline heigth setting in modalboxes  */
.slds-modal__content {
	max-height: unset !important;
	height: auto !important;
}
.slds-modal__content,
lightning-button {
	border-radius: 5px !important;
}
