.wrapped-header-datatable .slds-table .slds-th__action .slds-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: unset;
  white-space: pre-line;
}

.wrapped-header-datatable .slds-table .slds-th__action {
  height: 2.5rem;
}

.wrapped-header-datatable .slds-table .slds-line-height_reset {
  height: 0.4rem;
}

.wrapped-header-datatable tr td:first-child {
  display:none;
}

.wrapped-header-datatable tr th:first-child {
  display:none;
}

.row-disabled-css{
  background:white;
  cursor:not-allowed;
  opacity:0.5;
}