<template>
	<lightning-card>
		<div class="slds-m-around_none">
			<div class="slds-grid slds-wrap">
				<div
					class="slds-size_1-of-3 slds-box slds-box_x-small slds-text-align_center slds-m-around_none slds-text-align_center slds-align_absolute-center"
				>
					<lightning-carousel-image
						src={questionImageURL}
						onclick={imageQuestionHandler}
						value="ImageQuestion"
						title="Question"
						header="Heb je een vraag aan ons? Stel hem hier."
					></lightning-carousel-image>
				</div>
				<div class="slds-size_1-of-3 slds-box slds-box_x-small slds-text-align_center slds-m-around_none">
					<lightning-carousel-image
						src={incidentImageURL}
						onclick={imageIncidentHandler}
						value="ImageIncident"
						title="Incident"
						header="Heb je een probleem met je product? Meld het hier."
					></lightning-carousel-image>
				</div>
				<div class="slds-size_1-of-3 slds-box slds-box_x-small slds-text-align_center slds-m-around_none">
					<lightning-carousel-image
						src={changeImageURL}
						onclick={imageChangeHandler}
						value="ImageChange"
						title="Change"
						header="Wil je een wijziging doorgeven? We helpen je graag!"
					></lightning-carousel-image>
				</div>
			</div>
		</div>
	</lightning-card>
</template>
