<template>
	<template if:true={recordId}>
		<div class="slds-modal__container">
			<c-installation-information record-id={recordId} read-only="true"></c-installation-information>
		</div>
	</template>
</template>
