/* site spacing overrides */
.component-wrapper-spacer {
	margin-bottom: 0;
}
.content-container .component-wrapper-spacer {
	margin-bottom: var(--dxp-c-component-wrapper-spacer-size, var(--dxp-s-component-wrapper-spacer-size));
}
@media (max-width: 48em) {
	.component-wrapper-spacer {
		margin-bottom: 0;
	}
	.content-container .component-wrapper-spacer {
		margin-bottom: var(--dxp-c-component-wrapper-spacer-size-mobile, var(--dxp-s-component-wrapper-spacer-size-mobile));
	}
}
:root {
	--dxp-c-component-wrapper-spacer-size: 1.5rem;
	--dxp-c-component-wrapper-spacer-size-mobile: 1.5rem;
	--dxp-s-section-content-spacing-block-start: 0;
	--dxp-s-section-content-spacing-block-end: 0;
	--dxp-c-section-content-spacing-inline-start: 0;
	--dxp-c-section-content-spacing-inline-end: 0;
	--dxp-s-section-content-spacing-block-start-mobile: 0;
	--dxp-s-section-content-spacing-block-end-mobile: 0;
	--dxp-c-column-content-spacing-block-start: 0.75rem;
	--dxp-c-column-content-spacing-block-end: 0.75rem;
	--dxp-c-column-content-spacing-inline-end: 0.75rem;
	--dxp-c-column-content-spacing-inline-start: 0.75rem;
	--dxp-c-header-container-spacing-block-start: 0;
	--dxp-c-header-container-spacing-inline-end: 0;
	--dxp-c-header-container-spacing-block-end: 0;
	--dxp-c-header-container-spacing-inline-start: 0;
	--dxp-c-header-container-spacing-block-start-mobile: 0;
	--dxp-c-header-container-spacing-inline-end-mobile: 0;
	--dxp-c-header-container-spacing-block-end-mobile: 0;
	--dxp-c-header-container-spacing-inline-start-mobile: 0;
	--dxp-c-footer-container-spacing-block-start: 0;
	--dxp-c-footer-container-spacing-inline-end: 0;
	--dxp-c-footer-container-spacing-block-end: 0;
	--dxp-c-footer-container-spacing-inline-start: 0;
	--dxp-c-footer-container-spacing-block-start-mobile: 0;
	--dxp-c-footer-container-spacing-inline-end-mobile: 0;
	--dxp-c-footer-container-spacing-block-end-mobile: 0;
	--dxp-c-footer-container-spacing-inline-start-mobile: 0;
	--dxp-s-link-text-decoration: none;
	--dxp-s-link-text-decoration-hover: underline;
	--dxp-s-link-text-decoration-hover-focus: underline;
	--dxp-c-link-text-color-focus: var(--dxp-c-link-text-color-active);
}
/* heading and RCE overrides */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--dxp-g-sna-heading-font-family);
}
community_builder-output-rich-text h1 {
	font-size: var(--dxp-g-font-size-8);
}
community_builder-output-rich-text h2 {
	font-size: var(--dxp-g-font-size-6);
	font-weight: var(--dxp-c-strong-text-weight);
}
community_builder-output-rich-text h3 {
	font-size: var(--dxp-g-font-size-6);
}
community_builder-output-rich-text h4 {
	font-size: var(--dxp-g-font-size-4);
	font-weight: var(--dxp-c-strong-text-weight);
}
community_builder-output-rich-text h5 {
	font-size: var(--dxp-g-font-size-4);
}
community_builder-output-rich-text h6 {
	font-size: var(--dxp-g-font-size-2);
	font-weight: var(--dxp-c-strong-text-weight);
}
community_builder-output-rich-text .ql-editor {
	line-height: 1.5 !important;
	white-space: unset !important;
}
community_builder-output-rich-text img.sfdcCbImage {
	max-width: 100%;
	height: auto !important;
}
community_builder-output-rich-text .sfdcCbVideoContainer {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
community_builder-output-rich-text .sfdcCbVideoContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
