<template>
	<div class="slds-modal slds-fade-in-open slds-backdrop">
		<template if:true={loading}>
			<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
		</template>
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<lightning-button-icon
					icon-name="utility:close"
					alternative-text="Close this window"
					size="large"
					variant="bare-inverse"
					onclick={closeModal}
					class="slds-modal__close"
				>
				</lightning-button-icon>
				<h2>New Site</h2>
			</div>
			<div class="slds-modal__content slds-p-around_medium">
				<lightning-layout vertical-align="end">
					<lightning-layout-item size="10">
						<lightning-input
							type="text"
							name="searchZip"
							label="Postal Code And House number (0000XX 0)"
							value={searchZip}
							onchange={handleFormInputChange}
						></lightning-input>
					</lightning-layout-item>
					<lightning-layout-item size="2">
						<lightning-button
							variant="Neutral"
							label="Search"
							title="Search"
							onclick={addressSearch}
							class="slds-m-left_x-small"
						></lightning-button>
					</lightning-layout-item>
				</lightning-layout>
				<lightning-layout vertical-align="end">
					<lightning-layout-item size="12">
						<lightning-combobox
							class="slds-p-top_medium"
							name="address"
							label="Available addresses"
							value={address}
							disabled={dropdownDisabled}
							options={options}
							onchange={handleSelected}
						></lightning-combobox>
					</lightning-layout-item>
				</lightning-layout>
			</div>
			<div class="slds-modal__footer">
				<lightning-button
					variant="brand-outline"
					label="Close"
					title="Close"
					onclick={closeModal}
					class="slds-m-left_x-small"
				></lightning-button>
				<lightning-button
					variant="brand"
					label="Save"
					title="Save"
					onclick={handleSave}
					class="slds-m-left_x-small"
				></lightning-button>
			</div>
		</div>
	</div>
</template>