<template>
	<c-order-entry-internet-product-form
		products={products}
		selected-product={selectedProduct}
		selected-addons={selectedAddons}
		contract-term={contractTerm}
		addons={addons}
		oninternetaddonchange={handleInternetAddonChange}
		onproductchange={handleProductChange}
		oncontracttermchange={handleContractTermChange}
		onrendered={handleRenderedChange}
		onpinzekerchange={handlePinZekerChange}
		style="display: block"
	>
	</c-order-entry-internet-product-form>
	<div class="slds-m-bottom_medium"></div>
	<template if:true={addonsShow}>
		<c-order-entry-internet-additional-form
			addons={addons}
			selected-addons={selectedAddons}
			onchangedaddon={handleChangedAddon}
			onrendered={handleRenderedChange}
		></c-order-entry-internet-additional-form>
	</template>
</template>
