<template>
	<template if:true={showSpinner}>
		<lightning-spinner alternative-text="Loading"></lightning-spinner>
	</template>
	<div class="slds-clearfix">
		<lightning-card
			variant="Narrow"
			title="Framework/template Information"
			icon-name="standard:asset_relationship"
		>
		<div class="testClass" slot="actions" style="display: flex">
			<lightning-input
				type="text"
				slot="actions"
				placeholder="Enter Search Text.."
				onkeyup={startSearchTimer}
				disabled={disableActions}
				variant="label-hidden"
			></lightning-input>
			<lightning-button-icon
					icon-name="utility:refresh"
					variant={variantButton}
					onclick={handleOpen}
					disabled={disableActions}
					alternative-text="Refresh"
					class="slds-m-left_xx-small"
					title="Refresh Contracts from Unify"
				></lightning-button-icon>
			</div>
			<template if:false={disableActions}>
				<lightning-datatable
					class="wrapped-header-datatable"
					min-column-width="110"
					data-id="datarow"
					columns={columns}
					data={data}
					key-field="keyId"
					selected-rows={selection}
					onrowselection={rowSelection}
					draft-values={draftValues}
					suppress-bottom-bar
					wrap-text-max-lines="3"
					hide-checkbox-column
				>
				</lightning-datatable>
			</template>
			<template if:true={disableActions}>
				<template if:true={isCallingApi}>
					<table class="my-table">
						<template for:each={tableLst} for:item="tbl">
							<tr key={tbl.id} style={tbl.opacity}>
								<td class="stencil">
									<div></div>
								</td>
								<td class="stencil">
									<div></div>
								</td>
								<td class="stencil">
									<div></div>
								</td>
								<td class="stencil">
									<div></div>
								</td>
								<td class="stencil">
									<div></div>
								</td>
								<td class="stencil">
									<div></div>
								</td>
							</tr>
						</template>
					</table>

					<div slot="footer">
						<lightning-badge
							style="width: 150px; height: 30px"
							class="loader-text slds-badge_lightest"
							label=""
						>
						</lightning-badge>
					</div>
				</template>
				<template if:true={isError}>
					<div
						class="slds-theme_alert-texture slds-theme_error slds-var-p-around_medium"
						role="alert"
					>
						<h2 class="slds-align_absolute-center slds-text-heading_medium">
							{message}
						</h2>
					</div>
				</template>
			</template>
			<div class="slds-m-around_x-small">
				<lightning-formatted-rich-text
					value={label.disclaimerEmailtoTES}
				></lightning-formatted-rich-text>
			</div>
		</lightning-card>
		<template if:false={disableActions}>
			<lightning-layout class="slds-m-top_small slds-align_absolute-center">
				<lightning-layout-Item
					class="slds-align_absolute-center"
					padding="around-small"
					flexibility="auto"
				>
					<lightning-button
						label="Prev"
						icon-name="utility:chevronleft"
						icon-position="left"
						onclick={previousEve}
						disabled={disPre}
					>
					</lightning-button>
					<span class="slds-p-horizontal_small"> {recordCount} </span>
					<lightning-button
						label="Next"
						icon-name="utility:chevronright"
						icon-position="right"
						disabled={disNext}
						onclick={nextEve}
					>
					</lightning-button>
				</lightning-layout-Item>
			</lightning-layout>
		</template>
		<div class="slds-p-top_small">
			<div class="slds-float_right">
				<lightning-button
					if:false={isJourney}
					variant={variantButton}
					label="Save"
					title="Save"
					onclick={selectSaveOLI}
					class="slds-m-left_x-small"
					disabled={disableActions}
				></lightning-button>
				<template if:false={isRecordPage}>
					<lightning-button
						if:false={isJourney}
						variant={variantButton}
						label="Return"
						title="return to journey"
						onclick={close}
						class="slds-m-left_x-small"
					></lightning-button>
				</template>
			</div>
		</div>
	</div>
	<c-confirmation-dialog-utils
		title="Confirmation Title"
		message={label.refreshCalloutMessage}
		confirm-label="Yes"
		cancel-label="No"
		visible={isDialogVisible}
		original-message={originalMessage}
		name="confirmModal"
		onclick={handleClick}
	>
	</c-confirmation-dialog-utils>
</template>