.slds-spinner_container{
	width: 110vw;
    left: -10vw;
    height: 62vw;
    top: -1.2vw;
}
.loader-text{
    color:rgb(169,169,169);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
}

.my-table {
    width: 100%;
}

td.stencil div {
    height: 6px;
    margin: 11px;
    border-radius: 1rem;
    background: rgb(224, 229, 238);
    width: 75%;
}

@keyframes load {
    0% {
      content: 'Loading';
    }
    33% {
      content: 'Loading.';
    }
    67% {
      content: 'Loading..';
    }
    100% {
      content: 'Loading...';
    }
}