.external-events {
  z-index: 2;
  padding: 0 10px;
  border: 0px;
  background: transparent;
  width: 100%;
}

.fc-element {
  margin: 0.5em 0.5em;
  cursor: move;
  width: 12em;
  background-image: linear-gradient(to bottom right, rgb(255, 166, 166), rgb(255, 241, 241));
  border: 1px darkgray solid;
  border-radius: 0.2em;
  min-height: 7em;
}

.fc-solution-el {
  margin-bottom: 0.4em;
  font-weight: bolder;
}

.fc-solution-id, .fc-contact-id {
  display: none;
}

.calendar-container {
  position: relative;
  z-index: 1;
}

.fc-event {
  background-color: pink;
  color: black;
}

.slds-modal__content{
  overflow: initial !important;
}

.no-solutions {
  height: 20em;
  width: inherit;
}

.wait-box {
  width: 95%;
  height: 30em;
  /*background-color: white;*/
  /*border: 1px solid lightgray;*/
  position: relative;
  display: inline-block;
}