<template>
    <!-- basic layout -->
    <div id="general" class="slds-grid slds-gutters_xx-small">
        <div id="left-side" class="slds-col slds-size_2-of-3">
            <!-- Zip Delivery Planning Header and Filter -->
            <div class="slds-page-header">
                <div class="slds-page-header__row">
                    <div class="slds-page-header__col-title">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="custom:custom76" title="Delivery Planning"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__name">
                                    <div class="slds-page-header__name-title">
                                        <h1>
                                            <span>{labels.deliveryPlanning}</span>
                                            <span class="slds-page-header__title" title={currEngineer}>{currRegion}
                                                &raquo; {currEngineer}</b></span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-page-header__col-actions">
                        <div class="slds-page-header__controls">
                            <div class="slds-page-header__control">
                                <ul class="slds-button-group-list">
                                    <li>
                                        <div class="slds-var-p-around_medium lgc-bg">
                                            <lightning-button-icon icon-name="utility:filterList" size="x-large"
                                                alternative-text={labels.editFilters} title={labels.editFilters}
                                                onclick={handleFilterOpen}></lightning-button-icon>
                                            <template if:true={isFullUser}>
                                                <lightning-button-icon icon-name="utility:add" size="x-large"
                                                    alternative-text={labels.appointmentAddSpecial} class="slds-var-m-left_xx-small"
                                                    title={labels.appointmentAddSpecial} onclick={handleAddSpecialAppt}>
                                                </lightning-button-icon>
                                            </template>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__row">
                    <div class="slds-page-header__col-meta">
                        <p class="slds-page-header__meta-text">{lastError}</p>
                    </div>
                </div>
            </div>
            <!-- END Zip Delivery Planning Header and Filter -->

            <!-- Calendar -->
            <div class="slds-box slds-var-m-bottom_small slds-var-m-top_small">

                <div class="calendar-container">
                    <div class="calendar" lwc:dom="manual"></div>
                </div>

                <!-- Wait screen -->
                <template if:true={waitDialog}>
                    <div class="wait-box">
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </div>
                </template>
            </div>

        </div>
        <!-- Details box and DeliveryOrder -->
        <div class="slds-col">
            <!-- Use appointmentDetailsBox -->
            <div class="slds-var-m-bottom_small">
                <c-appointment-details-box appointment-id={selAppointmentId} selected-contact-id={selContactId} is-confirmed={selConfirmed} is-special={selSpecial} is-full-user={isFullUser}
                    onconfirm={handleConfirm} onupdated={handleUpdated} ondelete={handleDelete}
                    onunconfirm={handleUnconfirm}></c-appointment-details-box>
            </div>
            <!-- DeliveryOrders list-->
            <div class="slds-box slds-theme_default droppable drop-container slds-var-m-bottom_small">
                <h1 class="slds-text-heading_small slds-text-title_caps slds-text-title_bold">
                    {labels.unplannedDeliveryOrders}</h1>
                <div class="external-events slds-grid slds-gutters slds-wrap">
                    <template if:true={noDeliveryOrders}>
                        <div class="no-solutions slds-align_absolute-center">
                            <img src={noResultsImage} alt=""><br>
                        </div>
                        <div class="slds-align_absolute-center slds-text-color_weak">No results.</div>
                    </template>
                    <template if:false={noDeliveryOrders}>
                        <template for:each={deliveryOrderItems} for:item="rec">

                            <div class="fc-element slds-col" key={rec.Id}>
                                <div class="fc-solution-el">{rec.Order__r.csord__Account__r.Name}</div>
                                <div class="fc-city slds-text-color_weak slds-text-body_small slds-truncate">
                                    {rec.Site__r.Site_City__c}</div>
                                <div class="fc-address slds-text-color_weak slds-text-body_small slds-truncate">
                                    {rec.Site__r.Site_Street__c} {rec.Site__r.Site_House_Number__c},
                                    {rec.Site__r.Site_Postal_Code__c}
                                </div>
                                <div class="fc-product slds-text-color_weak slds-text-body_small slds-truncate">
                                    {rec.Products__c}</div>
                                <div class="fc-wish-dt slds-text-color_weak slds-text-body_small slds-truncate">
                                    {rec.Wish_Date__c}</div>

                                <template if:true={rec.Technical_Contact__c}>
                                    <div
                                        class="fc-contact-name slds-text-color_weak slds-text-body_small slds-truncate">
                                        {rec.Technical_Contact__r.Name}</div>
                                    <div class="fc-contact-phone slds-text-color_weak slds-text-body_small">
                                        {rec.Technical_Contact__r.Phone}</div>
                                </template>
                                <div class="fc-solution-id">{rec.Id}</div>
                                <div class="fc-contact-id">{rec.Technical_Contact__c}</div>
                            </div>
                        </template>
                    </template>
                </div>

            </div>
        </div>
    </div>

    <!-- Filter Modal screen -->
    <template if:true={openDialog}>
        <div class="filter-change" style="height: 640px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={handleFilterClose}>
                            <lightning-icon icon-name="utility:close" size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">{labels.appointmentBtnCancel}</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            {labels.changeFilterSettings}</h2>
                    </header>
                    <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col">
                                <lightning-combobox field-level-help={labels.queuesRepresentingRegions} name="region-list"
                                    label="Region" value={filterRegionId} options={regionOptions}
                                    onchange={handleRegionsListChange}></lightning-combobox>

                            </div>
                            <div class="slds-col">
                                <lightning-combobox field-level-help={labels.engineersSuscribedQueue}
                                    name="engineer-list" label="Engineer" value={filterEngineerId}
                                    placeholder={labels.selectEngineer} options={engineerOptions}
                                    onchange={handleEngineersListChange}></lightning-combobox>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label={labels.appointmentBtnCancel} variant="neutral" onclick={handleFilterClose}></lightning-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <lightning-button label={labels.appointmentBtnSave} variant="brand" onclick={handleFilterSave}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <c-new-special-appointment onnew={handleOnNewAppointment} field-engineer-id={filterEngineerId} queue-id={filterRegionId} ></c-new-special-appointment>
</template>