<template>
	<lightning-spinner if:true={isLoading} alternative-text={label.LABEL_LOADING} variant="brand" size="large"></lightning-spinner>
	<div class="slds-var-m-around_small slds-grid slds-grid_align-center">
		<c-search-account-by-kvk
			class="slds-size_1-of-2"
			onaccountselectedlwc={handleAccountSelected}
			disabled-component={disabledComponent}
			account-kvk-number={accountKvkNumber}
		>
		</c-search-account-by-kvk>
	</div>

	<template if:true={record}>
		<div class="slds-var-m-around_small slds-grid slds-grid_align-center">
			<c-record-header-detail class="slds-size_4-of-5" record={record} object-name={objectName}> </c-record-header-detail>
		</div>
		<div class="slds-var-m-around_small slds-align_absolute-center">
			<template if:false={kvkInactive}>
				<c-pp_journey-selector account-id={recordId} disabled-component={disabledComponent} onparentloading={handleIsLoading}>
				</c-pp_journey-selector>
			</template>
		</div>
	</template>

	<template if:false={record}>
		<c-no-record-found class="slds-size_2-of-3" message={label.LABEL_NO_ACCOUNT_SELECTED_KVK}> </c-no-record-found>
	</template>
</template>
