<template>
	<lightning-record-form
		record-id={caseId}
		object-api-name="Case"
		columns="2"
		mode="View"
		layout-type="Full"
		onsubmit={handleSubmit}
		onsuccess={handleSuccess}
	>
	</lightning-record-form>

	<!-- 
    <lightning-accordion allow-multiple-sections-open >
        <lightning-record-edit-form
          record-id={caseId}
          object-api-name="Case">

          <template if:true={uiRecordView}>
            <lightning-layout multiple-rows="true">
                <lightning-button-icon icon-name="utility:edit" class="slds-col_bump-left" icon-class="slds-button__icon_hint" variant="bare" alternative-text="Edit Record"></lightning-button-icon>
              <lightning-layout-item size="12">
                <template for:each={uiRecordView.sections} for:item="section" >
                  <lightning-accordion-section key={section.id} name={section.id} label={section.heading}>
                    <lightning-layout multiple-rows="true">
                      <template for:each={section.layoutRows} for:item="layoutRow">
                        <template for:each={layoutRow.layoutItems} for:item="layoutItem">
                          <template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
                            <lightning-layout-item key={layoutComponent.apiName} size="6" padding="horizontal-small">
                              <template if:false={editable}>
                                <lightning-output-field
                                  field-name={layoutComponent.apiName}>
                                </lightning-output-field>
                                <lightning-button-icon icon-name="utility:edit"  class="slds-col_bump-left"  icon-class="slds-button__icon_hint" variant="bare" alternative-text="Edit Case 2" title="Edit Case 2"></lightning-button-icon>
                              </template>
                            </lightning-layout-item>
                          </template>
                        </template>
                      </template>
                    </lightning-layout>
                  </lightning-accordion-section>
                </template>
              </lightning-layout-item>
            </lightning-layout>
          </template>
    
          Testing Edit Form...
          <template if:true={uiRecordEdit}>
            <lightning-layout multiple-rows="true">
              <lightning-layout-item size="12">
                <template for:each={uiRecordEdit.sections} for:item="section">
                  <lightning-accordion-section key={section.id} name={section.id} label={section.heading}>
                    <lightning-layout multiple-rows="true">
                      <template for:each={section.layoutRows} for:item="layoutRow">
                        <template for:each={layoutRow.layoutItems} for:item="layoutItem">
                          <template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
                            <lightning-layout-item key={layoutComponent.apiName} size="6" padding="horizontal-small">
                              <template if:false={editable}>
                                <lightning-input-field
                                  field-name={layoutComponent.apiName}
                                  required={layoutItem.required}>
                                </lightning-input-field>
                              </template>
                            </lightning-layout-item>
                          </template>
                        </template>
                      </template>
                    </lightning-layout>
                  </lightning-accordion-section>
                </template>
              </lightning-layout-item>
            </lightning-layout>
            <div class="slds-m-top_large slds-grid slds-grid_align-center slds-align–absolute-center">
                <lightning-button variant="brand" label="Cancel" type="cancel" ></lightning-button>
                 &nbsp;&nbsp; 
                <lightning-button  type="submit" variant="brand" label="Save"></lightning-button>
              </div>
          </template>
    
        </lightning-record-edit-form>
      </lightning-accordion>
    -->
</template>
