<template>
	<div class="slds-modal slds-fade-in-open slds-backdrop">
		<div class="slds-modal__container">
			<div class="slds-modal__header">
				<!-- sldsValidatorIgnoreNextLine -->
				<lightning-button-icon
					icon-name="utility:close"
					alternative-text="Close this window"
					size="large"
					variant="bare-inverse"
					onclick={closeModal}
					class="slds-modal__close"
				>
				</lightning-button-icon>
				<h2>New Contact</h2>
			</div>
			<div class="slds-modal__content slds-var-p-around_medium">
				<template if:true={loading}>
					<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
				</template>
				<template if:false={loading}>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="text"
								name="FirstName"
								required="true"
								label="First Name"
								value={newContact.FirstName}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="text"
								name="LastName"
								required="true"
								label="Last Name"
								value={newContact.LastName}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								pattern="^0{1}6{1}[0-9]{8}"
								message-when-pattern-mismatch="Mobile number must start with 06 followed by 8 digits."
								required={mobileJourney}
								name="MobilePhone"
								label="Mobile"
								value={newContact.MobilePhone}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="tel"
								pattern="(^\+[0-9]{2}|^00[0-9]{2}|^0)([0-9]{9}$|[0-9\-\s]{10}$)"
								message-when-pattern-mismatch="Mobile number must start with 0, 0031 or +31 followed by 9 digits."
								name="Phone"
								label="Phone"
								value={newContact.Phone}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input
								type="email"
								name="Email"
								required="true"
								pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+"
								message-when-pattern-mismatch="Please enter a valid email address."
								label="Email"
								value={newContact.Email}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-combobox
								name="Salutation"
								label="Salutation"
								required="true"
								placeholder="Select Salutation"
								value={newContact.Salutation}
								onchange={handleFormInputChange}
								options={salutationList}
							></lightning-combobox>
						</div>
					</div>

					<div if:true={mobileJourney}>
						<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
							<div class="slds-col slds-size_1-of-2">
								<lightning-combobox
									required="true"
									name="Document_Type__c"
									label="Document Type"
									options={documentTypes}
									placeholder="Select Document Type"
									value={newContact.Document_Type__c}
									onchange={handleFormInputChange}
								></lightning-combobox>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input
									type="date"
									name="Document_Expiration_Date__c"
									label="Valid Thru"
									required="true"
									min={todaysDate}
									value={newContact.Document_Expiration_Date__c}
									placeholder="Enter Document expiration date"
									onchange={handleFormInputChange}
									date-style="short"
								></lightning-input>
							</div>
						</div>

						<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input
									required="true"
									name="Document_Number__c"
									label="Document Number"
									pattern={documentNumberFormat}
									message-when-pattern-mismatch={documentNumberErrorMessages}
									placeholder="Enter document number"
									value={newContact.Document_Number__c}
									onchange={handleFormInputChange}
								></lightning-input>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-combobox
									name="Document_Issuing_Country__c"
									label="Issuing country"
									placeholder="Netherlands"
									value={newContact.Document_Issuing_Country__c}
									onchange={handleFormInputChange}
									options={countriesList}
								></lightning-combobox>
							</div>
						</div>

						<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input
									type="date"
									name="Birthdate"
									label="Birthdate"
									required="true"
									max={minimumBirthday}
									min={maximumBirthday}
									message-when-range-overflow="You must be between 18 and 110 years old."
									message-when-range-underflow="You must be between 18 and 110 years old."
									value={newContact.Birthdate}
									onchange={handleFormInputChange}
									date-style="short"
								></lightning-input>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-combobox
									name="LG_PreferredCommunication__c"
									label="Commercial contact via"
									value={newContact.LG_PreferredCommunication__c}
									placeholder="Select Contact method"
									required="true"
									options={options}
									onchange={handleFormInputChange}
								></lightning-combobox>
							</div>
						</div>
					</div>
				</template>
			</div>
			<div class="slds-modal__footer">
				<lightning-button
					variant="brand-outline"
					label="Close"
					title="Close"
					onclick={closeModal}
					class="slds-var-m-left_x-small"
				></lightning-button>
				<lightning-button variant="brand" label="Save" title="Save" onclick={handleSave} class="slds-var-m-left_x-small"></lightning-button>
			</div>
		</div>
	</div>
</template>
