<template>
	<div class="slds-illustration slds-illustration_small">
		<svg
			class="slds-illustration__svg"
			viewBox="0 0 493 266"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g transform="translate(-54.000000, -75.000000)">
					<g>
						<g
							transform="translate(245.500000, 236.500000) scale(-1, 1) translate(-245.500000, -236.500000) translate(124.500000, 187.000000)"
						>
							<polyline
								vector-effect="non-scaling-stroke"
								class="slds-illustration__stroke-secondary"
								stroke-width="3"
								stroke-linecap="round"
								stroke-linejoin="round"
								points="0.5 97 97 0 168 69"
							></polyline>
							<polyline
								vector-effect="non-scaling-stroke"
								class="slds-illustration__stroke-secondary"
								stroke-width="3"
								stroke-linecap="round"
								stroke-linejoin="round"
								points="119.917969 23.5 105.449217 23.5 91.1448389 37.1793777 81.8465031 27.8810419 73.1896465 36.5378985 68.1055212 31.4537731"
							></polyline>
							<polyline
								vector-effect="non-scaling-stroke"
								class="slds-illustration__stroke-secondary"
								stroke-width="3"
								stroke-linecap="round"
								stroke-linejoin="round"
								points="145.5 46 168 25 241.5 99"
							></polyline>
							<path
								vector-effect="non-scaling-stroke"
								d="M149.072948,27.0372884 L155.148556,47 L150.514767,44.0361328 L143.5,38.2738261 L147.165427,27.0187879 C147.336449,26.4936498 147.900798,26.2065817 148.425936,26.3776034 C148.736361,26.4786994 148.977892,26.7249613 149.072948,27.0372884 Z"
								class="slds-illustration__fill-secondary"
								transform="translate(149.324278, 36.617027) scale(-1, 1) translate(-149.324278, -36.617027) "
							></path>
						</g>
						<g transform="translate(56.000000, 271.000000)">
							<g transform="translate(130.339768, 0.275260)"></g>
							<path
								vector-effect="non-scaling-stroke"
								d="M210.962142,26.4644491 C208.225735,20.0143094 201.944776,15.5029106 194.633892,15.5029106 C192.619663,15.5029106 190.683612,15.8453541 188.878328,16.4764392 C185.451481,11.1704266 179.567406,7.66985447 172.883789,7.66985447 C166.491267,7.66985447 160.830159,10.8721423 157.350851,15.7935668 C155.958996,14.968161 154.342316,14.4956341 152.617761,14.4956341 C151.108314,14.4956341 149.68151,14.8576334 148.415767,15.5014039 C144.997533,6.58722215 136.50983,0.275259875 126.580456,0.275259875 C117.463284,0.275259875 109.561578,5.59684366 105.68373,13.3681823 C103.391203,12.266973 100.831486,11.6515593 98.1312741,11.6515593 C89.4373504,11.6515593 82.1998844,18.0312998 80.6476214,26.4644491 L210.962142,26.4644491 Z"
								class="slds-illustration__fill-secondary"
							></path>
							<path
								vector-effect="non-scaling-stroke"
								d="M0,25 L250,25"
								class="slds-illustration__stroke-secondary"
								stroke-width="3"
								stroke-linecap="round"
							></path>
						</g>
						<path
							vector-effect="non-scaling-stroke"
							d="M92.3840606,286.007966 C93.0385344,286.409807 93.137697,286.964909 92.840209,287.490106 C92.433642,288.21342 90.745893,288.576011 88.7388402,287.525617 C88.7328904,288.273229 88.7090913,289.112423 88.65951,290.091794 C88.6297612,290.652502 88.237077,291.983251 88.5980291,292.323414 C89.4706608,293.145787 89.7483163,293.818637 89.549991,294.680259 C89.440912,295.156862 88.7527229,295.508239 87.9138066,295.721309 C87.221651,295.936247 86.3728184,296.080162 85.5041532,295.951199 L85.50217,295.951199 C83.2888588,295.781117 82.4122606,295.360586 82.4558921,294.455976 C82.4598587,294.330751 82.4836578,294.194312 82.5253061,294.042921 C82.7037989,293.413058 82.8604759,292.728993 82.8584926,292.237439 C82.8565094,292.072964 82.8406434,291.929049 82.7970118,291.816907 C82.7573468,291.704766 82.5709209,291.338436 82.2912821,291.145926 C82.2218682,291.0992 82.1465046,291.06182 82.0651912,291.04126 C81.8212509,290.981451 81.5316959,291.08051 81.2183418,291.519732 C81.1370284,291.631873 81.0497652,291.801955 81.0219997,291.98512 C80.9942342,292.168285 81.0219997,292.364533 81.1786768,292.529007 C81.2679232,292.624328 81.337337,292.732731 81.3908849,292.848611 C81.4424495,292.964491 81.4781481,293.087847 81.4959974,293.21681 C81.5971433,293.98685 81.039849,294.91015 79.8082484,295.166207 C79.2668201,295.27648 78.7630736,295.351241 78.2950257,295.386752 C76.890882,295.491418 75.8179417,295.250313 75.1059537,294.6597 C74.6279895,294.267204 75.0246403,292.594423 75.4312073,291.153402 C72.5158242,290.09927 71.9248145,288.019041 71.9248145,288.019041 C72.5812716,288.357335 73.3924224,289.116161 73.5153841,288.667594 C73.6383458,288.222765 69.0590129,285.46034 71.9704294,280.548533 C71.8276351,283.488515 73.2972262,283.92213 73.568932,283.952034 C73.8386545,283.983808 73.7692406,283.578228 73.6105803,282.939021 C74.5764249,283.21003 75.3141953,284.024926 75.8496738,284.6903 C75.8734729,284.59498 75.8853724,284.486576 75.9091714,284.393125 C75.8794226,283.963248 75.9726356,283.419361 76.1570782,282.838093 C76.492248,281.797044 77.1368055,280.653198 77.8963917,279.817742 C77.6921166,279.724291 77.5056907,279.628971 77.3609132,279.539257 C74.483212,277.726299 69.9455273,273.003263 75.1079369,266.637351 C75.3776594,266.306533 75.6672145,266.003751 75.9785854,265.725265 C75.4907048,259.992954 78.9812315,262.256348 80.5341193,263.527287 C83.0746674,263.007697 85.8611389,263.301135 88.1974119,264.216959 C89.9585412,263.046947 93.3003239,261.46388 92.2809314,267.089656 C92.2809314,267.089656 94.3930967,274.416249 89.1235914,278.329995 C88.2013784,279.015929 87.2573496,279.520567 86.3272036,279.881289 C86.3906677,279.980348 86.4223997,280.049502 86.4382658,280.094359 C86.4580983,280.116787 86.4759476,280.139215 86.4977634,280.163513 C88.0447013,280.475641 88.2826918,281.647522 88.2826918,281.647522 C88.2727755,281.912924 88.3164071,282.183933 88.3818545,282.550263 C88.5246487,282.752118 88.667443,282.955842 88.8142038,283.176387 C88.9133665,283.32404 89.0541775,283.49786 89.198955,283.673549 C89.9327589,284.039878 90.8212566,284.118378 90.8351394,284.120247 C90.9640509,284.109033 91.1187447,284.138937 91.2040246,284.155758 C91.6125749,284.232388 92.4356252,284.217436 92.5804027,284.897763 C92.6458501,285.206152 92.4098429,285.374365 92.2531659,285.529494 C92.1183046,285.660326 92.2214338,285.908907 92.3840606,286.007966 Z"
							class="slds-illustration__fill-secondary"
							fill-rule="nonzero"
						></path>
						<path
							vector-effect="non-scaling-stroke"
							d="M113.258395,232.870346 C115.028317,231.952627 118.784118,232.271536 119.951297,232.577668 C120.313745,232.26174 121.282887,231.567456 122.047518,232.381243 C122.930485,233.322395 121.308514,234.915114 121.308514,234.915114 L121.293271,234.892789 C121.572951,236.186669 121.722287,237.810764 121.842426,239.16667 C122.030426,241.288467 123.137541,244.212839 123.517852,245.168008 C123.529666,245.151316 123.54159,245.13465 123.553625,245.118012 C123.553625,245.118012 131.272861,250.561306 132.90909,253.383961 C134.253961,255.703666 133.470489,257.036973 132.308607,258.771527 C131.35636,260.192607 132.674582,259.900031 133.310597,260.18982 C134.209546,260.600819 134.817136,264.634178 131.224893,265.424132 C129.409578,265.823329 127.704963,264.973356 126.396716,263.767792 C126.559329,264.331306 126.730635,264.91036 126.911072,265.505282 C128.328306,270.177669 129.270828,277.888419 130.964056,283.920523 C131.953498,287.458937 134,289.272768 134,291.414716 C134,294.273272 130.734981,295.6973 126.007189,295.161813 C123.314859,294.857321 122.292298,293.662974 121.842426,290.343742 C121.344255,286.683269 115.985815,285.743541 113.286585,285.633294 C108.936906,285.454798 103.270732,287.989174 103.044416,290.665297 C102.865019,292.811183 103.143774,295.084378 98.8796534,295.804923 C93.8137677,296.661964 91,294.531828 91,292.593313 C91,291.439653 92.4130937,287.804116 94.3257381,283.416535 C97.3989409,276.352832 101.75828,267.33355 103.608825,263.549704 C105.053183,260.595771 106.045675,257.130015 106.854035,254.018581 C105.168042,252.891778 103.23089,251.176607 101.43118,248.413466 C100.667969,247.234065 99.3749042,243.222792 99.0756598,239.575824 C98.3261761,236.053347 98.9150562,232.270092 102.692674,232.008002 C104.991914,231.844197 105.17448,234.214792 104.555401,237.312685 C104.547165,237.32972 104.547165,237.345446 104.547165,237.362482 C104.442842,240.417129 104.744831,242.339552 104.854646,242.664543 C105.571185,243.872773 107.097606,244.850365 108.316547,245.525245 C108.711611,245.584795 109.101051,245.605322 109.465197,245.606795 C110.451644,243.073517 111.041532,237.997926 111.8607,235.140389 C111.480704,234.700203 110.593532,233.51622 111.310049,232.769822 C111.996591,232.054305 112.829741,232.530536 113.258395,232.870346 Z M123.725746,251.519917 C123.852786,252.563048 124.035751,253.760907 124.294057,255.128083 C124.484578,254.689069 124.722377,254.208447 125.015749,253.675143 C125.334194,253.089531 124.602368,252.300247 123.725746,251.519917 Z"
							class="slds-illustration__fill-secondary"
							fill-rule="nonzero"
						></path>
						<g transform="translate(216.000000, 255.000000)">
							<g transform="translate(0.293436, 0.054545)">
								<path
									vector-effect="non-scaling-stroke"
									d="M165.428708,41.9454545 L0.0995432562,41.9454545 C0.0336614956,41.2089487 0,40.4630069 0,39.7090909 C0,26.2132599 10.7866531,15.2727273 24.0926641,15.2727273 C27.7492016,15.2727273 31.215485,16.0989227 34.3199502,17.5772977 C39.5712028,7.14424616 50.271428,0 62.6175975,0 C76.0636257,0 87.5573893,8.47383452 92.1862485,20.441159 C93.9002755,19.5768947 95.8324059,19.0909091 97.8764479,19.0909091 C100.211783,19.0909091 102.401037,19.7252784 104.285841,20.8333889 C108.997403,14.2263569 116.663488,9.92727273 125.320028,9.92727273 C138.043441,9.92727273 148.627152,19.2146805 150.834755,31.4671412 C151.487388,31.3631046 152.156394,31.3090909 152.837838,31.3090909 C159.117096,31.3090909 164.340238,35.8953699 165.428708,41.9454545 Z"
									class="slds-illustration__fill-secondary"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M32.7065637,39.9454545 L173.706564,39.9454545"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M182.706564,39.9454545 L193.706564,39.9454545"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
								></path>
							</g>
						</g>
						<g transform="translate(351.000000, 255.000000)">
							<g transform="translate(0.293436, 0.054545)">
								<path
									vector-effect="non-scaling-stroke"
									d="M165.428708,41.9454545 L0.0995432562,41.9454545 C0.0336614956,41.2089487 0,40.4630069 0,39.7090909 C0,26.2132599 10.7866531,15.2727273 24.0926641,15.2727273 C27.7492016,15.2727273 31.215485,16.0989227 34.3199502,17.5772977 C39.5712028,7.14424616 50.271428,0 62.6175975,0 C76.0636257,0 87.5573893,8.47383452 92.1862485,20.441159 C93.9002755,19.5768947 95.8324059,19.0909091 97.8764479,19.0909091 C100.211783,19.0909091 102.401037,19.7252784 104.285841,20.8333889 C108.997403,14.2263569 116.663488,9.92727273 125.320028,9.92727273 C138.043441,9.92727273 148.627152,19.2146805 150.834755,31.4671412 C151.487388,31.3631046 152.156394,31.3090909 152.837838,31.3090909 C159.117096,31.3090909 164.340238,35.8953699 165.428708,41.9454545 Z"
									class="slds-illustration__fill-secondary"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M32.7065637,40.4454545 L173.706564,40.4454545"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M179.706564,40.4454545 L193.706564,40.4454545"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
								></path>
							</g>
						</g>
						<g transform="translate(470.500000, 233.500000)">
							<g class="slds-illustration__fill-secondary">
								<path
									vector-effect="non-scaling-stroke"
									d="M18.9209988,1.95433401 L33.259296,51.443436 C33.5666778,52.5043744 32.9557995,53.613617 31.8948612,53.9209988 C31.7139843,53.9734036 31.5266126,54 31.3382972,54 L2.6617028,54 C1.5571333,54 0.661702805,53.1045695 0.661702805,52 C0.661702805,51.8116846 0.688299176,51.6243129 0.74070397,51.443436 L15.0790012,1.95433401 C15.386383,0.893395645 16.4956256,0.282517358 17.556564,0.589899164 C18.2152102,0.780726338 18.7301717,1.29568777 18.9209988,1.95433401 Z"
								></path>
							</g>
							<g
								class="slds-illustration__stroke-primary"
								stroke-linecap="round"
								stroke-width="3"
							>
								<polygon
									vector-effect="non-scaling-stroke"
									stroke-linejoin="round"
									points="17 0.323943662 34 54 -1.81721305e-12 54"
								></polygon>
								<path
									vector-effect="non-scaling-stroke"
									d="M17,4.6953125 C17,43.0456294 17,62.6471919 17,63.5 C17,62.6471919 17,43.0456294 17,4.6953125 Z"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M17,29.3239437 C22.3333333,35.7851611 25,39.1184944 25,39.3239437 C25,39.1184944 22.3333333,35.7851611 17,29.3239437 Z"
									stroke-linejoin="round"
									transform="translate(21.000000, 34.323944) scale(-1, 1) translate(-21.000000, -34.323944) "
								></path>
							</g>
						</g>
						<g transform="translate(428.000000, 200.500000)">
							<g
								transform="translate(1.000000, 0.000000)"
								class="slds-illustration__fill-secondary"
							>
								<path
									vector-effect="non-scaling-stroke"
									d="M25.6478873,0 L50.879042,84.4273253 C51.1953215,85.4856452 50.5937789,86.5999782 49.535459,86.9162577 C49.3496374,86.9717906 49.1567264,87 48.9627843,87 L2.33299037,87 C1.22842087,87 0.332990367,86.1045695 0.332990367,85 C0.332990367,84.8060578 0.361199757,84.6131469 0.416732643,84.4273253 L25.6478873,0 Z"
								></path>
							</g>
							<g
								class="slds-illustration__stroke-primary"
								stroke-linecap="round"
								stroke-width="3"
							>
								<polygon
									vector-effect="non-scaling-stroke"
									stroke-linejoin="round"
									points="26.5 0 52.5 87 0.5 87"
								></polygon>
								<path
									vector-effect="non-scaling-stroke"
									d="M26.5,3.58642578 C26.5,64.0261034 26.5,94.9972948 26.5,96.5 C26.5,94.9972948 26.5,64.0261034 26.5,3.58642578 Z"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M15.6478873,42 C22.9812207,49.078692 26.6478873,52.7453587 26.6478873,53 C26.6478873,52.7453587 22.9812207,49.078692 15.6478873,42 Z"
									stroke-linejoin="round"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M27.6478873,68 C36.9812207,57.078692 41.6478873,51.7453587 41.6478873,52 C41.6478873,51.7453587 36.9812207,57.078692 27.6478873,68 Z"
									stroke-linejoin="round"
								></path>
							</g>
						</g>
						<g transform="translate(322.000000, 244.500000)">
							<g
								transform="translate(25.000000, 0.000000)"
								class="slds-illustration__fill-secondary"
							>
								<path
									vector-effect="non-scaling-stroke"
									d="M2.01464844,13.4511719 L0.18359375,22.2475586 L0.18359375,49.0366211 L65.9321289,49.0366211 L62.9897461,54.4458008 L95.7871094,54.4458008 L95.199707,29.3144531 L89.3999023,17.3056641 L75.6298828,10.543457 C59.2139757,10.1238607 43.9452582,9.9140625 29.8237305,9.9140625 C15.7022027,9.9140625 6.43250868,11.093099 2.01464844,13.4511719 Z"
								></path>
								<rect x="27.5" y="0" width="27" height="10" rx="2"></rect>
							</g>
							<g transform="translate(24.000000, 9.000000)" fill="#FFFFFF">
								<polygon
									vector-effect="non-scaling-stroke"
									points="0.634277344 40.8232422 67.1601562 40.8232422 64.1865234 45.4521484 96.6953125 46.4760742 93.1474609 54.6992188 84.7587891 57.7099609 11.0742187 58.3500977 0.634277344 57.7099609"
								></polygon>
								<circle
									vector-effect="non-scaling-stroke"
									cx="66"
									cy="59.5"
									r="11"
								></circle>
								<path
									vector-effect="non-scaling-stroke"
									d="M1.52783203,11.3217773 C4.92236328,6.82128906 8.36539714,4.55810547 11.8569336,4.53222656 C15.3484701,4.50634766 35.8100628,4.50634766 73.241712,4.53222656 C83.0900108,5.16178385 90.4536947,10.2570801 95.3327637,19.8181152 C100.211833,29.3791504 99.1593424,26.0000814 92.175293,9.6809082 C88.4861654,6.10766602 86.5785319,4.27368164 86.4523926,4.17895508 C86.3262533,4.08422852 82.7312012,2.83650716 75.6672363,0.435791016 L58.2929688,0.435791016 L11.5412598,0.435791016 L4.86254883,2.60107422 L1.52783203,6.31982422 L1.52783203,11.3217773 Z"
								></path>
							</g>
							<g class="slds-illustration__stroke-primary" stroke-width="3">
								<path
									vector-effect="non-scaling-stroke"
									d="M108.5,67 C115.127417,67 120.5,61.627417 120.5,55 L120.5,34 C120.5,20.745166 109.754834,10 96.5,10 L36.5,10 C29.872583,10 24.5,15.372583 24.5,22 L24.5,67 L79.1014187,67 C79.0345454,67.4904531 79,67.9911923 79,68.5 C79,74.5751322 83.9248678,79.5 90,79.5 C96.0751322,79.5 101,74.5751322 101,68.5 C101,67.9911923 100.965455,67.4904531 100.898581,67 L108.5,67 Z"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M54.5,0 L77.5,0 C78.6045695,-2.02906125e-16 79.5,0.8954305 79.5,2 L79.5,10 L52.5,10 L52.5,2 C52.5,0.8954305 53.3954305,2.02906125e-16 54.5,0 Z"
								></path>
								<rect x="38.5" y="24" width="24" height="43" rx="1"></rect>
								<rect x="75.5" y="24" width="30" height="15" rx="1"></rect>
								<polyline
									vector-effect="non-scaling-stroke"
									points="25 49 91.5 49 86.9943799 55 120.5 55"
								></polyline>
								<path
									vector-effect="non-scaling-stroke"
									d="M105.004883,67 L0,67"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M11,55.0403226 L11,80.5241935"
									stroke-linecap="round"
								></path>
							</g>
						</g>
						<g transform="translate(145.000000, 258.000000)">
							<g
								transform="translate(53.410421, 34.819165) rotate(-25.000000) translate(-53.410421, -34.819165) translate(15.410421, 22.319165)"
								fill="#FFFFFF"
							>
								<path
									vector-effect="non-scaling-stroke"
									d="M0.947441167,4.84215335 L74.9474412,0.947416509 C75.4989626,0.918389067 75.9695904,1.34195411 75.9986178,1.89347551 C75.9995391,1.91097997 76,1.92850564 76,1.94603434 L76,23.838003 C76,24.3902878 75.5522847,24.838003 75,24.838003 C74.9824713,24.838003 74.9649456,24.8375421 74.9474412,24.8366208 L0.947441167,20.941884 C0.416316461,20.9139301 -2.42221946e-12,20.475126 -2.4222846e-12,19.9432662 L-2.42650344e-12,5.84077118 C-2.42656858e-12,5.30891135 0.416316461,4.87010728 0.947441167,4.84215335 Z"
								></path>
							</g>
							<g
								transform="translate(50.802425, 34.576672) rotate(-25.000000) translate(-50.802425, -34.576672) translate(33.802425, 22.576672)"
								class="slds-illustration__fill-secondary"
							>
								<path
									vector-effect="non-scaling-stroke"
									d="M0.883158752,3.78811765 L32.8831588,0.0234117638 C33.4316607,-0.0411178754 33.928621,0.351219188 33.9931506,0.899721121 C33.997713,0.938501075 34,0.977514963 34,1.01656237 L34,22.767475 C34,23.3197597 33.5522847,23.767475 33,23.767475 C32.9609526,23.767475 32.9219387,23.7651879 32.8831588,23.7606256 L0.883158752,19.9959197 C0.379545837,19.9366711 -1.96527987e-12,19.5098553 -1.96354044e-12,19.0027691 L-1.96420658e-12,4.78126825 C-1.96426868e-12,4.2741821 0.379545837,3.84736622 0.883158752,3.78811765 Z"
								></path>
							</g>
							<g
								transform="translate(49.453154, 35.788691) rotate(-25.000000) translate(-49.453154, -35.788691) translate(2.953154, 18.788691)"
								class="slds-illustration__stroke-primary"
								stroke-linecap="round"
								stroke-width="3"
							>
								<path
									vector-effect="non-scaling-stroke"
									d="M15.9474412,8.84215335 L89.9474412,4.94741651 C90.4989626,4.91838907 90.9695904,5.34195411 90.9986178,5.89347551 C90.9995391,5.91097997 91,5.92850564 91,5.94603434 L91,27.838003 C91,28.3902878 90.5522847,28.838003 90,28.838003 C89.9824713,28.838003 89.9649456,28.8375421 89.9474412,28.8366208 L15.9474412,24.941884 C15.4163165,24.9139301 15,24.475126 15,23.9432662 L15,9.84077118 C15,9.30891135 15.4163165,8.87010728 15.9474412,8.84215335 Z"
									stroke-linejoin="round"
								></path>
								<rect
									fill="#FFFFFF"
									stroke-linejoin="round"
									x="2.93185165"
									y="16.5176381"
									width="12"
									height="2"
									rx="1"
								></rect>
								<path
									vector-effect="non-scaling-stroke"
									d="M91,0.540322581 L91,33.9603207"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M2.2607777,8.57427115 L2.2607777,25.9942712"
								></path>
							</g>
							<g
								transform="translate(41.000000, 45.000000)"
								class="slds-illustration__stroke-primary"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="3"
							>
								<path
									vector-effect="non-scaling-stroke"
									d="M13.5,0.575195312 L13.5,11.8151951"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M13.5,12.5751953 L0,35.8151951"
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M28,12.5751953 L13.5,35.8151951"
									transform="translate(20.750000, 24.195195) scale(-1, 1) translate(-20.750000, -24.195195) "
								></path>
								<path
									vector-effect="non-scaling-stroke"
									d="M5,12.5 L21,12.5"
								></path>
							</g>
						</g>
						<g transform="translate(114.000000, 76.000000)">
							<g>
								<path
									vector-effect="non-scaling-stroke"
									d="M210.699691,46.7204576 C212.020514,61.0736985 220.69299,74.3442509 234.663351,80.8587375 C255.612995,90.6277168 280.542968,81.5047909 290.346004,60.4821122 C300.14904,39.4594335 291.112929,14.4978627 270.163285,4.72888342 C257.35563,-1.2434243 243.06031,-0.154804852 231.643264,6.39706158 C235.558035,6.27525724 239.557475,7.0438216 243.346578,8.8107095 C256.315405,14.8581729 261.909188,30.3105738 255.840642,43.324613 C249.772096,56.3386522 234.339255,61.9861778 221.370428,55.9387144 C216.862351,53.8365632 213.245413,50.597996 210.699691,46.7204576 Z"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
								<circle
									vector-effect="non-scaling-stroke"
									class="slds-illustration__fill-secondary"
									cx="136.5"
									cy="76.5"
									r="2.5"
								></circle>
								<circle
									vector-effect="non-scaling-stroke"
									class="slds-illustration__fill-secondary"
									cx="2.5"
									cy="86.5"
									r="2.5"
								></circle>
								<circle
									vector-effect="non-scaling-stroke"
									class="slds-illustration__fill-secondary"
									cx="340.5"
									cy="82.5"
									r="2.5"
								></circle>
								<circle
									vector-effect="non-scaling-stroke"
									class="slds-illustration__fill-secondary"
									cx="268.5"
									cy="146.5"
									r="2.5"
								></circle>
								<circle
									vector-effect="non-scaling-stroke"
									class="slds-illustration__fill-secondary"
									cx="188.5"
									cy="112.5"
									r="2.5"
								></circle>
								<polygon
									vector-effect="non-scaling-stroke"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
									stroke-linejoin="round"
									transform="translate(303.000000, 93.000000) rotate(45.000000) translate(-303.000000, -93.000000) "
									points="303 94.5995812 300 96 301.400419 93 300 90 303 91.4004188 306 90 304.599581 93 306 96"
								></polygon>
								<polygon
									vector-effect="non-scaling-stroke"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
									stroke-linejoin="round"
									transform="translate(231.000000, 127.000000) rotate(45.000000) translate(-231.000000, -127.000000) "
									points="231 128.599581 228 130 229.400419 127 228 124 231 125.400419 234 124 232.599581 127 234 130"
								></polygon>
								<polygon
									vector-effect="non-scaling-stroke"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
									stroke-linejoin="round"
									transform="translate(63.000000, 121.000000) rotate(45.000000) translate(-63.000000, -121.000000) "
									points="63 122.599581 60 124 61.4004188 121 60 118 63 119.400419 66 118 64.5995812 121 66 124"
								></polygon>
								<polygon
									vector-effect="non-scaling-stroke"
									class="slds-illustration__stroke-secondary"
									stroke-width="3"
									stroke-linecap="round"
									stroke-linejoin="round"
									transform="translate(155.000000, 51.000000) rotate(45.000000) translate(-155.000000, -51.000000) "
									points="155 52.5995812 152 54 153.400419 51 152 48 155 49.4004188 158 48 156.599581 51 158 54"
								></polygon>
							</g>
						</g>
					</g>
				</g>
			</g>
		</svg>
		<div class="slds-text-longform">
			<h3 class="slds-text-heading_medium">{message}</h3>
		</div>
	</div>
</template>