<template>
	<div class="slds-var-p-top_medium">
		<lightning-card title={title} icon-name="standard:address">
			<lightning-button
				class="slds-var-p-right_small"
				variant="brand"
				label="Select Site"
				slot="actions"
				onclick={selectSite}
			></lightning-button>
			<lightning-button label="New Site" slot="actions" onclick={newSite}></lightning-button>

			<!-- SELECT SITE MODAL -->
			<template if:true={openSelectionModal}>
				<c-order-entry-select-site sites={sites} onclosemodal={closeModal}></c-order-entry-select-site>
			</template>

			<!-- NEW SITE MODAL -->
			<template if:true={openCreationModal}>
				<c-order-entry-new-site account-id={accountId} onclosemodal={closeModal}></c-order-entry-new-site>
			</template>

			<!-- SITE FORM -->
			<div class="slds-card__body_inner">
				<template if:true={site}>
					<template if:true={loading}>
						<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
					</template>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col">
							<lightning-input
								type="text"
								disabled="true"
								name="Site_Street__c"
								label="Street"
								value={site.Site_Street__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col">
							<lightning-input
								type="text"
								disabled="true"
								name="Site_Postal_Code__c"
								label="Postal Code"
								value={site.Site_Postal_Code__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
					<div class="slds-grid slds-gutters slds-var-p-top_medium slds-var-p-left_medium slds-var-p-right_medium">
						<div class="slds-col slds-size_1-of-4">
							<lightning-input
								type="number"
								disabled="true"
								name="Site_House_Number__c"
								label="House Number"
								value={site.Site_House_Number__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_1-of-4">
							<lightning-input
								type="text"
								disabled="true"
								name="Site_House_Number_Suffix__c"
								label="House Number Suffix"
								value={site.Site_House_Number_Suffix__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
						<div class="slds-col slds-size_2-of-4">
							<lightning-input
								type="text"
								disabled="true"
								name="Site_City__c"
								label="City"
								value={site.Site_City__c}
								onchange={handleFormInputChange}
							></lightning-input>
						</div>
					</div>
				</template>
			</div>
		</lightning-card>
	</div>
</template>
