<template>
	<div class="progressInicator" style="margin-bottom: 50px">
		<lightning-progress-indicator current-step={currentStepValue} type="base" variant="base">
			<template for:each={payload.journeySteps} for:item="step">
				<lightning-progress-step label={step.label} value={step.value} key={step.label} onclick={changeStep}></lightning-progress-step>
			</template>
		</lightning-progress-indicator>
	</div>

	<div class="body">
		<div class="spinner">
			<lightning-spinner alternative-text="Loading" size="large" if:true={waitResponse}></lightning-spinner>
		</div>
		<c-emp_-add-mobile-product-by-f-w-a-template
			if:true={addMobileProductsVisible}
			record-id={opportunityId}
			is-journey="true"
		></c-emp_-add-mobile-product-by-f-w-a-template>
		<c-billing-information is-journey="true" record-id={opportunityId} if:true={banSelectroVisible}></c-billing-information>
		<c-create-mobile-information if:true={ctnInformationVisible} record-id={opportunityId} is-journey="true"></c-create-mobile-information>
	</div>

	<div class="footer">
		<footer class="slds-align_absolute-center">
			<lightning-button
				class="slds-var-m-top_small slds-var-m-right_x-small"
				variant="brand"
				name="Back_to_Opportunity"
				onclick={handleBackToOpportunity}
				label="Back to Opportunity"
			>
			</lightning-button>
			<lightning-button if:true={hidePreviousButton} class="slds-var-m-top_small" name="Previous" onclick={handlePrevious} label="Previous">
			</lightning-button>
			<lightning-button
				class="slds-var-m-top_small slds-var-m-left_x-small"
				name={buttonNextFinishName}
				onclick={handleNext}
				label={buttonNextFinishName}
			>
			</lightning-button>
		</footer>
	</div>
</template>
