<template>
	<template if:false={isMobile}>
		<c-order-entry-installation-fixed
			opportunity-id={opportunityId}
			notes={notes}
			address-check-result={addressCheckResult}
			installation={installation}
			operator-switch={operatorSwitch}
			b2c-internet-customer={b2cInternetCustomer}
			bundle={fixedBundle}
		></c-order-entry-installation-fixed>
	</template>
	<template if:true={isMobile}>
		<c-order-entry-installation-mobile bundles={mobileBundles} opportunity-id={opportunityId} notes={notes}> </c-order-entry-installation-mobile>
	</template>
</template>
