<template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true"
            aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={handleClose}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">{labels.formTitle}</h2>
                    <p class="slds-var-m-top_x-small">{labels.formSubtitle}</p>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-2">
                    <lightning-record-edit-form object-api-name="Delivery_Appointment__c" onsuccess={handleSuccess}
                        onsubmit={handleSubmit} density="compact">
                        <lightning-messages></lightning-messages>

                        <!--Custom Contact Part Start-->
                        <div class="slds-var-m-around_medium">
                            <div class="">
                                <lightning-input-field field-name="Contact__c" value={selectedContactId} autocomplete="off"></lightning-input-field>
                            </div>
                            <div class="slds-p-around_xxx-small">
                                <div style="padding-left: 33%">
                                    <lightning-button variant="neutral" name="save" label={labels.createNewContact} onclick={handleNewContact}>
                                    </lightning-button>
                                </div>
                            </div>                                
                        </div>
                        <!--Custom Contact Part End-->

                        <div class="slds-var-m-around_medium">
                            <template for:each={fieldSet} for:item="fieldName">
                                <div key={fieldName.nm}>
                                    <lightning-input-field field-name={fieldName.nm} value={fieldName.dv} autocomplete="off"></lightning-input-field>
                                </div>
                            </template>
                            <div class="slds-var-m-top_medium slds-align_absolute-center">
                                <lightning-button label={labels.btnCancel} variant="neutral" onclick={handleClose}>
                                </lightning-button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <lightning-button variant="brand" type="submit" name="save" label={labels.btnCreate}>
                                </lightning-button>
                            </div>
                        </div>
                    </lightning-record-edit-form>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <c-create-new-contact onnewcontact={handleOnNewContact}></c-create-new-contact>
</template>