<!-- sldsValidatorIgnore -->
<template>
	<template if:true={headerInfo}>
		<!-- HEADER -->
		<div class="wrapper">
			<c-page-header title="Order Entry" subtitle={headerInfo} icon-name="standard:visit_templates"></c-page-header>

			<div>
				<template if:true={showLoader}>
					<lightning-spinner class="slds-is-fixed" alternative-text="Loading" size="medium"></lightning-spinner>
				</template>

				<!-- PATH COMPONENT -->
				<c-path steps={steps}></c-path>

				<!-- MAIN CONTAINER -->
				<div>
					<template if:true={isProductSelection}>
						<c-order-entry-product-selection opportunity-id={state.opportunityId} product-id={state.mainProduct.Id}>
						</c-order-entry-product-selection>
					</template>
					<template if:true={isAccountAndContact}>
						<c-order-entry-account-and-contact
							account-id={state.accountId}
							opportunity-id={state.opportunityId}
							contact-id={state.primaryContactId}
							journey-type={state.journeyType}
							b2c-internet-customer={state.b2cInternetCustomer}
							site={installationSite}
							bundles={state.bundles}
						>
						</c-order-entry-account-and-contact>
					</template>
					<template if:true={isAddress}>
						<c-order-entry-address
							account-id={state.accountId}
							opportunity-id={state.opportunityId}
							site={installationSite}
							journey-type={state.journeyType}
						></c-order-entry-address>
					</template>
					<template if:true={isProductConfiguration}>
						<c-order-entry-product-config
							opportunity-id={state.opportunityId}
							main-product={state.mainProduct}
							bundles={state.bundles}
							installation-site={installationSite}
							journey-type={state.journeyType}
						>
						</c-order-entry-product-config>
					</template>
					<template if:true={isDiscountAndPayment}>
						<c-order-entry-discount-and-payment
							opportunity-id={state.opportunityId}
							primary-contact={state.primaryContactId}
							installation-site={installationSite}
							bundles={state.bundles}
							b2c-internet-customer={state.b2cInternetCustomer}
							payment={state.payment}
							journey-type={state.journeyType}
						>
						</c-order-entry-discount-and-payment>
					</template>
					<template if:true={isInstallation}>
						<c-order-entry-installation
							opportunity-id={state.opportunityId}
							installation-site={installationSite}
							bundles={state.bundles}
							notes={state.notes}
							b2c-internet-customer={state.b2cInternetCustomer}
							journey-type={state.journeyType}
						>
						</c-order-entry-installation>
					</template>
					<template if:true={isQuoteSignature}>
						<c-order-entry-quote-signature
							opportunity-id={state.opportunityId}
							primary-contact-id={state.primaryContactId}
							journey-type={state.journeyType}
						>
						</c-order-entry-quote-signature>
					</template>
				</div>
			</div>
			<c-order-entry-summary bundles={state.bundles}></c-order-entry-summary>

			<!-- BUTTONS -->
			<footer class="slds-docked-form-footer slds-m-top_medium">
				<template if:false={isLastIndex}>
					<button class="slds-button slds-button_destructive" onclick={backToOpp}>Close</button>
				</template>

				<template if:false={isFirstIndex}>
					<button class="slds-button slds-button_neutral" onclick={back}>Back</button>
				</template>
				<template if:false={isLastIndex}>
					<button class="slds-button slds-button_neutral" onclick={next} disabled={disableNextButton}>Next</button>
				</template>
				<template if:true={isLastIndex}>
					<button class="slds-button slds-button_destructive" onclick={closeOrderEntryApp}>Close</button>
				</template>
			</footer>
		</div>
	</template>
</template>
