.mainHeader {
	padding: var(--lwc-varSpacingXxSmall, spacingXxSmall) !important;
}

.mainTitle {
	margin-top: var(--lwc-varSpacingVerticalXxSmall, spacingXxSmall);
}

footer {
	position: fixed;
}

.wrapper {
	padding-bottom: 68px !important;
}
