<template>
	<lightning-spinner if:true={isLoading} alternative-text={label.LABEL_LOADING} variant="brand" size="large"></lightning-spinner>
	<div
		class="slds-form-element slds-form-element__control slds-combobox_container slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click"
		aria-expanded="false"
		aria-haspopup="listbox"
		role="combobox"
	>
		<div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
			<button
				class="sicon_container slds-button slds-button_icon slds-input__icon slds-input__icon_left slds-p-horizontal_small search-account-button"
				title={label.LABEL_SEARCH}
				aria-label={label.LABEL_SEARCH}
				onclick={handleSearchIconClick}
				disabled={disableSearch}
			>
				<lightning-icon icon-name="utility:search" size="small"> </lightning-icon>
				<span class="slds-assistive-text">{label.LABEL_SEARCH}</span>
			</button>

			<input
				type="text"
				onfocus={handleFocus}
				onblur={handleBlur}
				onkeyup={handleKeyUp}
				onkeypress={handleKeyPress}
				class="slds-input slds-combobox__input slds-text-heading_medium search-account-by-kvk-input slds-p-horizontal_xx-large"
				id="search-input"
				data-id="search-input"
				aria-autocomplete="list"
				aria-controls="recently-viewed-listbox"
				autocomplete="off"
				role="textbox"
				placeholder={label.LABEL_ENTER_VALID_KVK}
				required=""
				aria-invalid="true"
				aria-describedby="error-search-input"
				value={searchTermValue}
				disabled={disableSearch}
			/>

			<button
				class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-horizontal_small search-account-button"
				title={label.LABEL_CLEAR}
				aria-label={label.LABEL_CLEAR}
				onclick={clearText}
				disabled={disableSearch}
			>
				<lightning-icon icon-name="utility:clear" size="small"> </lightning-icon>
				<span class="slds-assistive-text">{label.LABEL_CLEAR}</span>
			</button>
		</div>

		<template if:true={recentlyViewedAccounts}>
			<div id="recently-viewed-listbox" class="slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
				<div style="background: white; z-index: 9; position: absolute" class="search-account-dropdown-boundary">
					<ul class="slds-listbox slds-listbox_vertical" role="presentation">
						<template if:true={recentlyViewedAccounts} for:each={recentlyViewedAccounts} for:item="record">
							<li
								onclick={handleSelect}
								onmousedown={handleMouseDownListItem}
								role="presentation"
								class="slds-listbox__item"
								data-record-id={record.Id}
								key={record.Id}
							>
								<div
									data-id={record.Id}
									class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
									role="option"
								>
									<span class="slds-media__figure slds-listbox__option-icon slds-icon_container slds-icon-standard-account">
										<svg class="slds-icon slds-icon_small" aria-hidden="true">
											<use xlink:href={ICON_URL_ACCOUNT}></use>
										</svg>
									</span>
									<span class="slds-media__body">
										<span class="slds-listbox__option-text slds-listbox__option-text_entity"> {record.Name} </span>
										<span class="slds-listbox__option-meta slds-listbox__option-meta_entity">
											{label.LABEL_KVK}: {record.KVK_number__c} • {label.LABEL_ADDRESS}: {record.LG_VisitAddress__c} •
											{label.LABEL_PHONE}: {record.Phone}
										</span>
									</span>
								</div>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</template>

		<div id="error-search-input" data-id="error-search-input" class="slds-form-element__help_large slds-hidden">
			<lightning-formatted-text value={label.LABEL_INVALID_KVK}></lightning-formatted-text>
		</div>
	</div>
</template>
