.search-account-by-kvk-input {
	height: 4rem;
}

.search-account-dropdown-boundary {
	border-width: 1px;
	border-style: solid;
	border-radius: 0.25rem;
	border-color: rgb(201, 201, 201);
}

.search-account-by-kvk-input::-webkit-input-placeholder {
	/* WebKit browsers */
	font-size: 0.9em;
}

.search-account-by-kvk-input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-size: 0.9em;
}

.search-account-by-kvk-input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-size: 0.9em;
}

.search-account-by-kvk-input:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-size: 0.9em;
}

.search-account-button:disabled {
	cursor: not-allowed;
	pointer-events: none;
	background-color: rgb(243, 243, 243);
}