<template>
	<div class="slds-tabs_medium">
		<lightning-tabset>
			<lightning-tab label="Installation Information">
				<c-installation-information record-id={recordId} required="true"> </c-installation-information>
			</lightning-tab>
			<lightning-tab label="Ziggo migration information">
				<c-ziggo-migration-fields-form record-id={recordId}> </c-ziggo-migration-fields-form>
			</lightning-tab>
		</lightning-tabset>
	</div>
</template>
